.breadcrumb-item,
.breadcrumb-item a
  {
      font-size: 13.5px;
  }
  .filter-values
  {
    padding-top: 1.4rem;
  }
  .filter-values p{
    font-size: 11.6px;
    color: #dededf;
    letter-spacing: 0.90px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .table thead tr th{
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;

  } 
  .table tbody tr td{
    font-size: 12.8px;
    text-align: start !important;

  }

  table.dataTable > tbody > tr > th,
  table.dataTable > tbody > tr > td {
    padding: 10px 10px;
}
.new-leads-table > tbody > tr > th,
.new-leads-table > tbody > tr > td
{
    padding: 2px 10px;
}
    .dt-search label
    {
     display: none;

    }
    div.dt-container .dt-search input {
        border: 1px solid #707070;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        color: #a5a5a5;
        margin-left: 3px;
        font-size: 13px;
    }

    div.dt-container select.dt-input {
        padding: 4px 10px;
        border: 1px solid #707070;
        color: #a5a5a5;
        font-size: 13px;
        background-color: transparent;
        width: 100px;
    }
    div.dt-container select option{
        background-color: #15171f; 
    }
    div.dt-container .dt-length label
    {
        display: none;
    }
    div.dt-container .dt-info
    {
        color: #a5a5a5;
        font-size: 13px 
    }
    .form-section
    {
      display: grid;
      grid-template-columns: 0.80fr 2fr;
      border-bottom: 0.30px solid #929292;
      padding-bottom: 0.70rem;
    }
    .search-form
    {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 0.80rem;
     
    }
    .input-groupBox input,
    .input-groupBox select
    {
      background: #15171f;
      color: #bebebe;
      font-size: 12px;
      outline: #dededf;
      border: 0.0002px solid #94949490;
      padding: 6px 15px;
    }
    .input-groupBox select
    {
      padding: 8px 15px; 
    }
    .search-box button
    {
      border-radius: 50%;
      height: 35px;
      width: 35px;
      background-color: #232a46;
      border: #15171f;
      color: #dededf;
    }
    .search-box button:hover{
      border: #0a0e1d;
      color: #0f0f21;
      background-color: #e0e1e5;
    }
    .allocation-box button
    {
      border-radius: 20%;
      height: 35px;
      width: 35px;
      background-color: #35a155;
      border: #15171f;
      color: #dededf;
    }
    .allocation-box button:hover{
      border: #0a0e1d;
      color: #c3ccc3;
      background-color: #1e673a;
    }
    .mdi-check-circle
    {
      font-size: 10px;
    }
    #check-count
    {
      font-size: 12px;
      padding: 0.50rem;
      background-color: #0f0f21;
      color: #e0e1e5;
      height: 50px;
      width: 50px;
    }
    
    .messageBox
    {
      border: 1px solid #3dce74;
      background-color: #35a155;
      width: calc(100% - 10%);
    }
    .messageBox ul{
      list-style: none;
      font-size: 10.5px;
      letter-spacing: 1px;
      
    }
    .messageBox ul li{
      
      padding-top: .40rem;
      padding-bottom: 0px;

    }
    .lead-head 
    {
        font-size: 13.9px;
        color: #a5a5a5;
    }
    .lead-head-p
    {
        font-size: 12.8px;
    }
    .messageBoxform
    {
        display: grid;
        grid-template-columns: 2fr 0.80fr;
        align-items: center;
        
    }

    @media (max-width:632px) {
      
      .form-section,
      .messageBoxform {
        grid-template-columns: 1fr;
    }
    .search-form
    {
      flex-direction: column;
    }
    .messageBox {
      border-radius: 5px;
      width: 100%;
      margin-bottom: 0.70rem;

    }
  }
   
   