{% extends 'DAM_base.html' %}
{% load static %}
{% block body %}

<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"  rel="stylesheet" >
<link rel="stylesheet" href="{% static 'css/dmanager/style.css' %}">


<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'dataManager_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'DAM_Dashboard_followups' %}">FollowUp</a></li>
        </ol>
      </nav>
</div>



<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
      
            <div class="form-section">
              <h6 class="card-title text-offwhite">
                {% if status_val %}
                {{ status_val }} -
                {% else %}
                FollowUp Leads -  
                {% endif %}
                ( <span id="lead-count">{{dataBank_count}}</span>  )
              </h6>
                <div>
                  <form action="{% url 'DAM_Dashboard_followups' %}" method="post" class="search-form">
                    {% csrf_token%}
                   
                    <button type="button" class="btn btn-dark" data-toggle="modal" title="Create new followup response status" data-target="#followupStatus">
                      <span class="mdi mdi-clipboard-text text-success"></span>
                    </button> 

                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deleteBox">
                      <span class="mdi mdi-delete-circle text-danger "></span>
                    </button>
                    

                    <div class="input-groupBox">
                      <select name="pgnum" >
                        <option value="" >All</option>
                        {% if pg_num %}
                        <option value="{{pg_num}}" selected>{{pg_num}}</option>
                        {% endif %}
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                      </select>
                    </div>
                   
                    <div class="input-groupBox">
                      <select name="hr_id" id="hr-change">
                        <option value="">select Hr</option>
                        {% for emp in employees %}
                        <option value="{{emp.id}}">{{ emp.emp_name }}</option>
                        {% endfor %}
                  
                      </select>
                    </div>

                    <div class="input-groupBox">
                      <input type="date" name="sdate" >
                    </div>
                    <div class="input-groupBox">
                      <input type="date" name="edate" >
                    </div>
                    <div class="input-groupBox">
                      <select name="status_val" >
                        <option value="">select status</option>
                        <option value="Allocated">Allocated</option>
                        <option value="Opend">Opend</option>
                        <option value="Closed">Closed</option>
                      </select>
                    </div>
                    
                   
                    <div class="search-box">
                      <button type="submit"><span class="mdi mdi-magnify"></span></button>
                    </div>
                    
                  </form>
                </div>
            </div>
      
            <div class="filter-values">
              <p>

                {% if select_emp %} <span>  {{ select_emp.emp_name }}  {% endif %}</span>
                {% if d1 %} <span> ( {{ d1 }} ) {% endif %}  </span>
                {% if d2 %} <span> -  ( {{ d2 }} ){% endif %} </span>
                
              </p>
            </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="leads-wastedata">
              <thead>
                <tr>
                  <th></th>
                  <th> No</th>
                  <th> Assign Date</th>
                  <th> Follow Up By</th>
                  <th>Current Follow Status</th>
                  <th> Name </th>
                  <th> Email id </th>
                  <th> Contact </th>
                  <th> Status </th>
                 
                </tr>
              </thead>
              <tbody id="waste-lead-body">
                {% for db_lead in dataBank_objs %}
                <tr class="clickable-row" data-href="{% url 'lead_track' db_lead.id  %}"> 
                  <td>
                    <a href="{% url 'DAM_assign_remove' db_lead.id %}" class="text-danger" title="Delete the lead from the Hr"> 
                       <span class="mdi mdi-delete "></span>
                    </a>
                  </td>
                  <td>{{ forloop.counter }}</td>
                  
                  <td>{{ db_lead.Assign_Date |date:"d-M-y" }}</td>
                  <td><span class="mdi mdi-account pl-1"></span> {{ db_lead.TC_Id.emp_name}}  </span>
                  <td>
                    <span> {{db_lead.Response |default:'No Data Available !' }} <!-- {% if db_lead.dataBank_ID.followup_date %} 
                      {{ db_lead.dataBank_ID.followup_date |default:'No Date Available !' }}
                      {% endif %} -->
                    </span>
                     
                  </td>
                  <td><span class="mdi mdi-account pl-1"></span> {{ db_lead.leadId.lead_name}}  </span>
                    
                   </td>
                  <td><span class="mdi mdi-email pl-1"></span> {{ db_lead.leadId.lead_email}}</td>
                  <td><span class="mdi mdi-phone pl-1"></span> {{ db_lead.leadId.lead_contact}}</td>
                  <td>
                    {% if db_lead.dataBank_ID.lead_status == 'Not Attended' %}
                    <span class="badge badge-pill  badge-outline-info">
                     {{ db_lead.dataBank_ID.lead_status }} 
                    </span>
                    {% endif %}
                    {% if db_lead.dataBank_ID.lead_status == 'Allocated' %} 
                    <span class="badge badge-pill badge-outline-primary">
                      {{ db_lead.dataBank_ID.lead_status }} 
                      </span>
                    {% endif %}
                    {% if db_lead.dataBank_ID.lead_status == 'Opend' %}
                    <span class="badge badge-pill badge-outline-success">
                      {{ db_lead.dataBank_ID.lead_status }} 
                      </span>
                    {% endif %}
                    {% if db_lead.dataBank_ID.lead_status == 'Closed' %} 
                    <span class="badge badge-pill badge-outline-danger">
                      {{ db_lead.dataBank_ID.lead_status }} 
                      </span>
                    {% endif %}
                  </td>
                  
                </tr>
                {% endfor %}
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
  



<div class="modal fade" id="followupStatus">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h6 class="card-title mt-3 ml-3">Follow Up Status Update </h6>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
       
        
        <div class="card-body mt-0">

          <form action="{% url 'DAM_followup_save' %}" method="post"  enctype="multipart/form-data">
           
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-12 col-sm-12 grid-margin ">
                    <div class="card">
                        
                        <div class="card-body">
                         
                            <div class="form-group add-items ">
                              <label>Type Your Follow Up Status</label>
                              <input type="text" class="form-control text-offwhite"  name="fw_status">  
                            </div>
                            
                            <h6 class="text-offwhite"> Follow up status list</h6>
                            <hr>
                            {% for fw in follow_obj %}
                            
                            <div class="d-flex justify-content-between">
                              <p class="small text-offwhite">{{ fw.status_name }}</p>
                              <a href="{% url 'DAM_followup_delete' fw.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete the status ?');">
                                <span class="mdi mdi-delete"></span>
                              </a>
                            </div>
                            
                            {% endfor %}
                           
                        </div>
                    </div>
                </div>
               
            </div>
        
            <div class="add-items d-flex justify-content-center ">
              <button class=" btn btn-outline-secondary " type="reset">
                <span class="mdi mdi-refresh  "></span>
                <span class="small">Clear</span>
              </button> 
              <button class=" btn btn-outline-success " type="submit">
                <span class="mdi mdi-pencil small"></span>
                <span class="small">Save </span>
              </button> 
              <button class=" btn btn-outline-danger " data-dismiss="modal" type="button">
                  <span class="mdi mdi-close  small"></span>
                  <span class="small">Close</span>
              </button> 
            </div>
        
        </form>

        </div>

      </div>
    
    </div>
  </div>
</div>



<!-- Multiple Delete Box -->

<div class="modal fade" id="deleteBox">
  <div class="modal-dialog  ">
    <div class="modal-content">

      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h5 class="card-title mt-3 ml-3">Remove Allocated Leads -  {{ dataBank_count }} </h5>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
      
        
        <div class="card-body mt-0">

          <form action="{% url 'DAM_assign_remove' 0 %}" method="post"  enctype="multipart/form-data">
          
            {% csrf_token %}
            {% for d in dataBank_objs %}
              <div class="form-check form-check-primary">
                <label class="form-check-label">
                <input class="checkbox check-single" name="allocated_check" value="{{ d.id }}" id="" type="checkbox">
                Name : {{ d.dataBank_ID.lead_Id.lead_name }} &nbsp; &nbsp;&nbsp;
                Email : {{ d.dataBank_ID.lead_Id.lead_email }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                Contact No : {{ d.dataBank_ID.lead_Id.lead_contact }}
                </label>
              </div>
              {% endfor %}
        
            <div class="add-items d-flex justify-content-center ">
              <button class=" btn btn-outline-info " type="reset">
                <span class="mdi mdi-refresh  "></span>
                <span class="small">Clear</span>
              </button> 
              <button class=" btn btn-outline-danger " type="submit">
                <span class="mdi mdi-delete-empty small"></span>
                <span class="small">Remove </span>
              </button> 
              <button class=" btn btn-outline-secondary " data-dismiss="modal" type="button">
                  <span class="mdi mdi-close  small"></span>
                  <span class="small">Close</span>
              </button> 
            </div>
        
          </form>

        </div>

      </div>
    
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {
       new DataTable('#leads-wastedata', {
           search: {
            enable: true 
           },
           columnDefs: [
           {
               orderable: false,
               className: 'check-single',
               targets: 0,
           }
       ],
       
       
   });
  
});
</script>




<script>
  $(document).ready(function() {
    $(document).on("click", ".clickable-row", function() {
          var url = $(this).data('href');
          // Navigate to the URL
          window.location.href = url;
      });
  });
</script>


{% endblock %}


















