{% extends 'DAM_base.html' %}
{% load static %}
{% block body %}

<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"  rel="stylesheet" >
<link rel="stylesheet" href="{% static 'css/dmanager/style.css' %}">


<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'dataManager_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'DAM_Dashboard_databank' %}">Data Bank</a></li>
        </ol>
      </nav>
</div>




<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title text-offwhite"> Leads -  ( <span id="lead-count">{{dataBank_count}}</span>  )</h6>
            <div class="form-section">
               
                <div>
                  <form action="{% url 'DAM_Dashboard_databank' %}" method="post" class="search-form">
                    {% csrf_token%}
                   

                    <div class="input-groupBox">
                      <select name="pgnum" >
                        <option value="" >All</option>
                        {% if pg_num %}
                        <option value="{{pg_num}}" selected>{{pg_num}}</option>
                        {% endif %}
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                      </select>
                    </div>
                   
                    <div class="input-groupBox">
                      <select name="client_id" id="client-change">
                        <option value="">select client</option>
                        {% for client in clients_objs %}
                        <option value="{{ client.client_Id.id }}"> {{ client.client_Id.client_name }}</option>
                        {% endfor %}
                  
                      </select>
                    </div>

                    <div class="input-groupBox">
                      <select name="category" id="lead-category">
                        <option value="">select category</option> 
                      </select>
                    </div>
                    
                    <div class="input-groupBox">
                      <select name="executive"  id="lead-executive">
                        <option value="">select executive </option> 
                      </select>
                    </div>
                   
                    <div class="input-groupBox">
                      <input type="date" name="sdate" id="s-date" {% if d1 %} value="{{d1}}" {% endif %}>
                    </div>
                    <div class="input-groupBox">
                      <input type="date" name="edate" id="e-date" {% if d2 %} value="{{d2}}" {% endif %}>
                    </div>
                    <div class="input-groupBox">
                      <select name="status_val" >
                        <option value="">select status</option>
                        <option value="Not Attended">Not Attended</option>
                        <option value="Allocated">Allocated</option>
                        <option value="Opend">Opend</option>
                        <option value="Closed">Closed</option>
                      </select>
                    </div>
                    
                   
                    <div class="search-box">
                      <button type="submit"><span class="mdi mdi-magnify"></span></button>
                    </div>
                  </form>
                </div>
              
            </div>
      
            <div class="filter-values">
              <p>
                {% if cl_name %} <span>{{ cl_name.client_name }} {% endif %}</span>
                {% if ct_name %} <span> ( {{ ct_name.lead_collection_for }}  ) {% endif %}</span>
                {% if exe_name %} <span> - {{ exe_name.emp_name }}  {% endif %}</span>
                {% if d1 %} <span> ( {{ d1 }} ) {% endif %}  </span>
                {% if d2 %} <span> -  ( {{ d2 }} ){% endif %} </span>
                
              </p>
            </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="leads-wastedata">
              <thead>
                <tr>
                  <th> No</th>
                  <th> Add Date</th>
                  <th> Name </th>
                  <th> Email id </th>
                  <th> Contact </th>
                  <th> Status </th>
                 
                </tr>
              </thead>
              <tbody id="waste-lead-body">
                {% for db_lead in dataBank_objs %}
                <tr class="clickable-row" data-href="{% url 'lead_track' db_lead.id  %}"> 
                  <td>{{ forloop.counter }}</td>
                  
                  <td>{{ db_lead.Genarated_date |date:"d-M-y" }}</td>
                  <td><span class="mdi mdi-account pl-1"></span> {{ db_lead.lead_Id.lead_name}}  {{ db_lead.id}}</span>
                    
                   </td>
                  <td><span class="mdi mdi-email pl-1"></span> {{ db_lead.lead_Id.lead_email}}</td>
                  <td><span class="mdi mdi-phone pl-1"></span> {{ db_lead.lead_Id.lead_contact}}</td>
                  <td>
                    {% if db_lead.lead_status == 'Not Attended' %}
                    <span class="badge badge-pill  badge-outline-info">
                     {{ db_lead.lead_status }} 
                    </span>
                    {% endif %}
                    {% if db_lead.lead_status == 'Allocated' %} 
                    <span class="badge badge-pill badge-outline-primary">
                      {{ db_lead.lead_status }} 
                      </span>
                    {% endif %}
                    {% if db_lead.lead_status == 'Opend' %}
                    <span class="badge badge-pill badge-outline-success">
                      {{ db_lead.lead_status }} 
                      </span>
                    {% endif %}
                    {% if db_lead.lead_status == 'Closed' %} 
                    <span class="badge badge-pill badge-outline-danger">
                      {{ db_lead.lead_status }} 
                      </span>
                    {% endif %}
                  </td>
                  
                </tr>
                {% endfor %}
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
  
  

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {
       new DataTable('#leads-wastedata', {
           search: {
            enable: true 
           },
           columnDefs: [
           {
               orderable: false,
               className: 'check-single',
               targets: 0,
           }
       ],
       
       
   });
  
});
</script>


<script>
  $(document).ready(function() {
    $(document).on("click", ".approve_btn", function() {
        var leadId = $(this).data('id');
        var hr = $('#hr-id').val();  
        var sdate = $('#s-date').val(); 
        var edate = $('#e-date').val(); 
        var status_val = $('#status-val').val(); 
       
        $.ajax({
            url: "{% url 'DAM_waste_dateApprove' %}", 
            type: 'POST',
            data: {
                lead_id: leadId,
                hr: hr,
                sdate: sdate,
                edate: edate,
                status_val: status_val,
                csrfmiddlewaretoken: '{{ csrf_token }}' // 
            },
            success: function(response) {
                if (response.status)
                {
                  alert(response.status);
                }
                else{
                alert('Lead waste approved successfully!');
                $('#waste-lead-body').empty();  
                $('#lead-count').text(response.lead_waste_count);
                $('#waste-lead-body').html(response.table_content);   
                }
                
            },
            error: function(xhr, status, error) {
              alert('An error occurred while processing the request.');
              console.error(xhr.responseText);
            }
           
        });
    });
    $(document).on("click", ".reject_btn", function() {
      var leadId = $(this).data('id');
      var hr = $('#hr-id').val();  
      var sdate = $('#s-date').val(); 
      var edate = $('#e-date').val(); 
      var status_val = $('#status-val').val(); 
    
      $.ajax({
          url: "{% url 'DAM_waste_dateCancel' %}", 
          type: 'POST',
          data: {
              lead_id: leadId,
              hr: hr,
              sdate: sdate,
              edate: edate,
              status_val: status_val,
              csrfmiddlewaretoken: '{{ csrf_token }}' // 
          },
          success: function(response) {
              alert('Lead waste rejected successfully!');
              $('#waste-lead-body').empty();  
              $('#lead-count').text(response.lead_waste_count);
              $('#waste-lead-body').html(response.table_content);  
              
          },
          error: function(xhr, status, error) {
              alert('An error occurred while processing the request.');
              console.error(xhr.responseText);
          }
         
      });
  });

  $("#client-change").on("change", function () {
    // Get the selected client ID
    var selectedClientId = $(this).val();
  
    
    $.ajax({
        url: "{% url 'fetch_lead_categories' %}",
        type: 'GET',
        dataType: 'json',
        data: {
            client_id: selectedClientId
        },
        success: function (data) {
          
            if (data.success) {
                
                var leadCategorySelect = $("#lead-category");
              
                leadCategorySelect.empty(); 
  
                var option = '<option value="">' + 'select category' + '</option>';
                leadCategorySelect.append(option);
                data.lead_categories.forEach(function (category) {
                    var option = '<option value="' + category.id + '">' + category.name + '</option>';
                    leadCategorySelect.append(option);
                });
                
                
            } else {
                
                console.error('Error: ' + data.message);
            }
           
        },
        error: function (xhr, status, error) {
            // Handle Ajax errors (optional)
            console.error('Ajax Error: ' + status + ' - ' + error);
        }
    });
  });

  $("#lead-category").on("change", function () {
    // Get the selected client ID
    var selectedId = $(this).val();
  
    $.ajax({
        url: "{% url 'fetch_lead_executive' %}",
        type: 'GET',
        dataType: 'json',
        data: {
            category_id: selectedId
        },
        success: function (data) {
          
            if (data.success) {
                
                var leadExecutiveSelect = $("#lead-executive");
              
                leadExecutiveSelect.empty(); 
  
                var option = '<option value="">' + 'select executive' + '</option>';
                leadExecutiveSelect.append(option);
                data.lead_executive_list.forEach(function (emp) {
                    var option = '<option value="' + emp.id + '">' + emp.name + '</option>';
                    leadExecutiveSelect.append(option);
                });
               
                
            } else {
                
                console.error('Error: ' + data.message);
            }
           
        },
        error: function (xhr, status, error) {
            // Handle Ajax errors (optional)
            console.error('Ajax Error: ' + status + ' - ' + error);
        }
    });
  });

});
</script>

<script>
  $(document).ready(function() {
    $(document).on("click", ".clickable-row", function() {
          var url = $(this).data('href');
          // Navigate to the URL
          window.location.href = url;
      });
  });
</script>


<script>
  $(document).ready(function() {
      $(document).on("click", ".fetch-lead-details", function(e) {
     
          e.preventDefault();
          var leadId = $(this).data('lead-id');
          fetchLeadDetails(leadId);
      });

      function fetchLeadDetails(leadId) {
          $.ajax({
              url: '/leadActivity_Tracker/' + leadId + '/',  // URL to fetch lead data
              type: 'GET',
              success: function(response) {
                  $('#activityBox').html(response);  // Place the result in activityBox
                  $('#activityPanel').modal('show');  // Show the modal
              },
              error: function(xhr, errmsg, err) {
                  console.log(xhr.status + ": " + xhr.responseText);
              }
          });
      }
  });

</script>



{% endblock %}


