{% extends 'DAM_base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}

<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"  rel="stylesheet" >

<style>
    .dt-search label
    {
     display: none;

    }
    div.dt-container .dt-search input {
        border: 1px solid #707070;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        color: #a5a5a5;
        margin-left: 3px;
        font-size: 13px;
    }

    div.dt-container select.dt-input {
        padding: 4px 10px;
        border: 1px solid #707070;
        color: #a5a5a5;
        font-size: 13px;
        background-color: transparent;
        width: 100px;
    }
    div.dt-container select option{
        background-color: #15171f; 
    }
    div.dt-container .dt-length label
    {
        display: none;
    }
    div.dt-container .dt-info
    {
        color: #a5a5a5;
        font-size: 13px 
    }
  </style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'dataManager_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Waste Data Checking</li>
        </ol>
      </nav>
</div>

<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h6 class="card-title text-offwhite">Wating For Checking</h6>
              
            </div>

          <div class="table-responsive">
            <table class="table" id="leads-wastedata">
              <thead>
                <tr>
                  <th> No </th>
                  <th> Action</th>
                  <th> Lead Name </th>
                  <th> Client name | Lead Category </th>
                  <th> Telecaller | Marked date </th>
                  <th> Reason for </th>
                
                  
                </tr>
              </thead>
              <tbody>
                {% for wa in lead_waste %}
                <tr class="clickable-row" data-href="#">
                  
                  <td>{{ forloop.counter}}</td> 
                  <td>
                   <ul>
                    <li class="mt-2">
                      <a href="{% url 'DAM_dataBnak_followup' wa.dbId.id %}" class="text-offwhite">
                        <span class="mdi mdi-file small"></span> <span class="small ">Follow Up</span>
                      </a>
                    </li>
                    <li class="mt-2">
                      <a href="{% url 'DAM_waste_dateApprove' wa.id %}" class="text-success">
                        <span class="mdi mdi-check small"></span> <span class="small">Approve</span>
                      </a>
                    </li>
                    <li class="mt-2">
                      <a href="{% url 'DAM_waste_dateCancel' wa.id %}" class="text-danger">
                        <span class="mdi mdi-close small"></span> <span class="small">Cancel</span>
                      </a>
                    </li>
                    
                   </ul>

                  </td>              
                  <td><span class="pl-2">{{ wa.leadId.lead_name}}</span> </td>
                  <td>
                    <p>{{wa.client_id.client_name}}</p> 
                    <p>{{wa.leadId.lead_category_id.lead_collection_for }}</p>
                  </td>
                  <td><p>{{ wa.TC_Id.emp_name}}</p>
                    <p> {{wa.waste_marked_Date }}</p>
                   </td>
                 
                  <td> 
                    <p>
                   {{wa.reason}}
                       
                    </p>
                    
                  </td>
                               
                        
                </tr>
                {% endfor %}
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script>
      new DataTable('#leads-wastedata', {
          pagingType: 'simple_numbers'
      });
  </script>


{% endblock %}