{% extends 'DAM_base.html' %}
{% load static %}
{% block body %}

<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"  rel="stylesheet" >
<link rel="stylesheet" href="{% static 'css/dmanager/style.css' %}">

<style>
    .form-check {
        margin-top: 2px;
        margin-bottom: 6px;
    }
    .filter-values
    {
    padding-top: 0.2rem;
    }
</style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'dataManager_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'DAM_Dashboard_allocation' %}">Allocation</a></li>
        </ol>
      </nav>
</div>



<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
           
            <div class="form-section">
                <h6 class="card-title text-offwhite"> Allocation -  ( <span id="lead-count">{{dataBank_count}}</span>  )</h6>
                <div>
                  <form action="{% url 'DAM_Dashboard_allocation' %}" method="post" class="search-form">
                    {% csrf_token%}
                   

                    <div class="input-groupBox">
                      <select name="pgnum" >
                        <option value="" >All</option>
                        {% if pg_num %}
                        <option value="{{pg_num}}" selected>{{pg_num}}</option>
                        {% endif %}
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        
                      </select>
                    </div>
                    <div class="input-groupBox">
                        <select name="client_id" id="client-change">
                          <option value="">select client</option>
                          {% for client in clients_objs %}
                          <option value="{{ client.client_Id.id }}"> {{ client.client_Id.client_name }}</option>
                          {% endfor %}
                    
                        </select>
                      </div>
  
                      <div class="input-groupBox">
                        <select name="category" id="lead-category">
                          <option value="">select category</option> 
                        </select>
                      </div>
                   
                    <div class="input-groupBox">
                      <select name="executive_id" id="">
                        <option value="">select executive</option>
                        {% for e in executives %}
                        <option value="{{e.id}}" >{{e.emp_name}}</option>
                        {% endfor %}
                  
                      </select>
                    </div>

                    <div class="input-groupBox">
                      <input type="date" name="sdate" >
                    </div>
                    <div class="input-groupBox">
                      <input type="date" name="edate" >
                    </div>

                    <div class="search-box">
                      <button type="submit"><span class="mdi mdi-magnify"></span></button>
                    </div>
                  </form>
                </div>
                {% if messages %}
                    <div class="messageBox">
                       
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                       
                    </div>
                {% endif %}

                <div class="filter-values">
                    
                    {% if selected_emp or d1 or d2  %}  
                    <p>
                       
                        {% if selected_emp %} <span>  {{ selected_emp.emp_name }}  {% endif %}</span>
                        {% if d1 %} <span> ( {{ d1 }} ) {% endif %}  </span>
                        {% if d2 %} <span> -  ( {{ d2 }} ){% endif %} </span>
                        
                    </p>
                    {% endif %}
                </div>
            
            </div>

            <form action="{% url 'DMA_allocate_lead' %}" method="post" class="mt-2" >
                {% csrf_token%}

               
                <div class="search-form">
                    <div class="input-groupBox">
                        <span id="check-count">0</span>
                        <select name="selected_emp" id="" required>
                            <option value="">select Hr</option>
                            {% for emp in employees %}
                            <option value="{{emp.id}}">{{ emp.emp_name }}</option>
                            {% endfor %}
                    
                        </select>
                    </div>
                    <div class="allocation-box">
                        <button type="submit"><span class="mdi mdi-check-circle-outline"></span></button>
                    </div>
                </div>
               

                <div class="table-responsive">
                    <table class="table table-bordered" id="leads-wastedata">
                        <thead>
                            <tr>
                            <th> No</th>
                            <th>
                                <div class="d-flex">
                                    <div class="form-check form-check-primary m-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input check-all">
                                        
                                    </label>
                                    </div>
                                    
                                </div>
                            </th>
                            <th> Add Date</th>
                            <th> Name </th>
                            <th> Email id </th>
                            <th> Contact </th>
                            <th> Details</th>
                            
                            
                            </tr>
                        </thead>
                        <tbody id="waste-lead-body">
                            {% for db_lead in dataBank_objs %}
                            <tr> 
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                    <input class="checkbox check-single" name="lead_check" value="{{ db_lead.id }}" id="" type="checkbox">
                                    </label>
                                </div>
                            </td>
                            
                            <td>{{ db_lead.Genarated_date |date:"d-M-y" }}</td>
                            <td><span class="mdi mdi-account pl-1"></span> {{ db_lead.lead_Id.lead_name}}  </span>
                                
                            </td>
                            <td><span class="mdi mdi-email pl-1"></span> {{ db_lead.lead_Id.lead_email}}</td>
                            <td><span class="mdi mdi-phone pl-1"></span> {{ db_lead.lead_Id.lead_contact}}</td>
                            <td>
                                <a href="{% url 'lead_track' db_lead.id %}" class="btn btn-outline-secondary">
                                    <span class="mdi mdi-file ">
                                </a>
                            </td>
                            
                            
                            </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
  
  

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {
       new DataTable('#leads-wastedata', {
           search: {
            enable: true 
           },
           columnDefs: [
           {
               orderable: false,
               className: 'check-single',
               targets: 0,
           }
       ],
       paging: false 
       
   });
  
});
</script>


<script>
    $(document).ready(function () {
        // Check All checkbox change event
        $('.check-all').change(function () {
            if ($(this).is(':checked')) {
                // Check all the individual checkboxes
                $('.check-single').prop('checked', true);
            } else {
                // Uncheck all the individual checkboxes
                $('.check-single').prop('checked', false);
            }
            
            // Update the count of checked checkboxes
            var checkedCount = $('.check-single:checked').length;
            $('#check-count').text(checkedCount);
        });
        
        // Individual checkbox change event
        $('.check-single').change(function () {
            // Update the count of checked checkboxes
            var checkedCount = $('.check-single:checked').length;
            $('#check-count').text(checkedCount);
        });
    });
</script>


<script>
    $(document).ready(function() {
  
    $("#client-change").on("change", function () {
      // Get the selected client ID
      var selectedClientId = $(this).val();
    
      
      $.ajax({
          url: "{% url 'fetch_lead_categories' %}",
          type: 'GET',
          dataType: 'json',
          data: {
              client_id: selectedClientId
          },
          success: function (data) {
            
              if (data.success) {
                  
                  var leadCategorySelect = $("#lead-category");
                
                  leadCategorySelect.empty(); 
    
                  var option = '<option value="">' + 'select category' + '</option>';
                  leadCategorySelect.append(option);
                  data.lead_categories.forEach(function (category) {
                      var option = '<option value="' + category.id + '">' + category.name + '</option>';
                      leadCategorySelect.append(option);
                  });
                  
                  
              } else {
                  
                  console.error('Error: ' + data.message);
              }
             
          },
          error: function (xhr, status, error) {
              // Handle Ajax errors (optional)
              console.error('Ajax Error: ' + status + ' - ' + error);
          }
      });
    });
  
  });
  </script>


{% endblock %}

