{% extends 'DAM_base.html' %}
{% load static %}
{% block body %}


<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'dataManager_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Client Allocation Pending</li>
        </ol>
      </nav>
</div>

<div class="row mt-3">
{% for category, values in data_box.items %}
    <div class="col-xl-3 col-sm-12 grid-margin ">
       
            <div class="card">
                <div class="card-body">
                <div class="row">
                    <div class="col-9 col-sm-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h5 class="mb-0 text-offwhite">{{ category }} </h5>
                        <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">50</p> -->
                    </div>
                    </div>
                    <div class="col-3 col-sm-3">
                    <div class="icon icon-box-danger">
                        <span class="mdi mdi-file icon-item"></span>
                    </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4"> <h6 class="text-muted font-weight-normal mt-2 small">Total</h6></div>
                    <div class="col-4"> <h6 class="text-muted font-weight-normal mt-2 small">Allocated</h6></div>
                    <div class="col-4"> <h6 class="text-muted font-weight-normal mt-2 small ">Pending</h6></div>
                    {% for value in values %}
                    <div class="col-4 text-center">
                        <h6 class="text-muted font-weight-normal mt-2 small">{{ value }} </h6>
                    </div>
                    {% endfor %}
                </div>
                   
                   
                   
                
                
                </div>
            </div>
        
    </div>
{% endfor %}
</div>



<div class="row mt-3">
    {% for lc in lc_obj %}
    <div class="col-xl-3 col-sm-12 grid-margin ">
        <a href="{% url 'DAM_client_category_pendingLeads' lc.id|default:0 %}" class="a-hover">
            <div class="card">
                <div class="card-body">
                <div class="row">
                    <div class="col-9 col-sm-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h5 class="mb-0 text-offwhite">{{ lc.lead_collection_for }} </h5>
                        <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">50</p> -->
                    </div>
                    </div>
                    <div class="col-3 col-sm-3">
                    <div class="icon icon-box-danger">
                        <span class="mdi mdi-file icon-item"></span>
                    </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal mt-2 small">Pending leads  need to be assigne  </h6>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
   
</div>

<h5 class="text-muted mt-3 mb-4">
    Leads Allocate Section 
</h5>
<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title">Leads Pending List</h4>
                <div class="add-items d-flex ">
                  <input  class="form-control text-offwhite" name="#" id="search-data" placeholder="search here..">
                  <button class="btn btn-outline-danger mdi mdi-close" id="closeBtn" type="button"></button> 
                  
                </div>
                
                
                
            </div>

            <form action="{% url 'DMA_allocate_lead' %}" method="post">
                {% csrf_token %}
                <div class="form-group add-items d-flex "> 
                        
                    <select class="form-control text-offwhite" name="selected_emp" id="#" required>
                    <option value="">--- select Hr/Telecaller --- </option>
                    {% for emp in employees %}
                    <option value="{{emp.id}}">{{emp.emp_name}}</option>
                    {% endfor %}
                    </select>  

                    <button type="submit" class="btn btn-outline-primary"><span class="small">Allocate</span></button>
                    
                </div>
         
                <div class="table-responsive">
                    <table class="table" id="lead-details">
                        <thead>
                            <tr>
                                <th> No </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="form-check form-check-primary m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input check-all">
                                            
                                        </label>
                                        </div>
                                        
                                    </div>
                                </th>
                                <th> Date </th>
                                <th> Full name </th>
                                <th> Email </th>
                                <th> Phone </th>
                                <th> Lead Head </th>
                                <th> Source </th>
                            
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            {% for l in leads_obj %}
                            <tr class="clickable-row" data-href="#">
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                
                                    <div class="form-check form-check-primary">
                                        <label class="form-check-label">
                                    <input class="checkbox check-single" name="lead_check" value="{{ l.id }}" id="" type="checkbox">
                                    </label>
                                </div>
                                </td>
                        
                                <td>{{l.Genarated_date}}</td>
                                <td>
                                    <span class="pl-2"> {{l.lead_Id.lead_name}} </span>
                                </td>
                               
                                <td> {{l.lead_Id.lead_email}} </td>
                                <td> {{l.lead_Id.lead_contact}} </td>
                                <td> {{l.lead_Id.lead_category_id.lead_collection_for}} </td>
                                <td> {{l.lead_Id.lead_source}} </td>
                                
                        
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </form>
        </div>
      </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Check All checkbox change event
        $('.check-all').change(function () {
            if ($(this).is(':checked')) {
                // Check all the individual checkboxes
                $('.check-single').prop('checked', true);
            } else {
                // Uncheck all the individual checkboxes
                $('.check-single').prop('checked', false);
            }
            
            // Update the count of checked checkboxes
            var checkedCount = $('.check-single:checked').length;
            $('#check-count').text(checkedCount);
        });
        
        // Individual checkbox change event
        $('.check-single').change(function () {
            // Update the count of checked checkboxes
            var checkedCount = $('.check-single:checked').length;
            $('#check-count').text(checkedCount);
        });
    });
</script>

<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('lead-details');
    closeBtn.style.display = 'none';
  
    inputField.addEventListener('input', function() {
        filterTable();
    });
  
    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');
  
        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[6];
            const Cell7 = rows[i].getElementsByTagName('td')[7];

            
  
            if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5 || Cell6 || Cell7) {
  
                const datacell1 = Cell1.textContent || Cell1.innerText;
                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
                const datacell4 = Cell4.textContent || Cell4.innerText;
                const datacell5 = Cell5.textContent || Cell5.innerText;
                const datacell6 = Cell6.textContent || Cell6.innerText;
                const datacell7 = Cell7.textContent || Cell7.innerText;
               
                
                
  
                if (datacell1.toLowerCase().includes(filterValue) ||
                 datacell2.toLowerCase().includes(filterValue) || 
                 datacell3.toLowerCase().includes(filterValue) ||
                 datacell4.toLowerCase().includes(filterValue) || 
                 datacell5.toLowerCase().includes(filterValue) ||
                 datacell6.toLowerCase().includes(filterValue) ||
                 datacell7.toLowerCase().includes(filterValue))
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
  
     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });
  
    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>

{% if viewdiv %}
    <script>
        // Use Bootstrap's scrollspy to smoothly scroll to the target element with id 'lead-details'
        $('html, body').animate({
            scrollTop: $('#table-body').offset().top
        }, 800); // Adjust the duration (in milliseconds) as needed
    </script>
{% endif %}

{% endblock %}