{% extends 'DAM_base.html' %}
{% load static %}
{% block body %}

<style>
  .li-none
  {
    list-style: none;
  }
  .alert-fill-danger {
    color: white;
    background: #fc424a;
    }
    .alert {
      font-size: 0.795rem;
    }
</style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'dataManager_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Data Bank</li>
        </ol>
      </nav>
</div>


<div class="card">

    <div class="card-body">
      <h6 class="card-title text-offwhite mb-4">Search Section - </h6>
        <div class="row ">
         
            <div class="col-xl-3 col-lg-4  col-md-4  col-sm-12 grid-margin">
                <div class="form-group">
                    <label class="text-offwhite">Clients Name *</label>
                    <select class=" form-control text-offwhite" id="client-change">
                      <option value="0"> Select all clients </option>
                      {% for client in clients_objs %}
                      <option value="{{ client.client_Id.id }}"> {{ client.client_Id.client_name }}</option>
                      {% endfor %}
                    </select>
        
                  </div>
            </div>
            <div class="col-xl-3  col-lg-4  col-md-4  col-sm-12 grid-margin ">
                <div class="form-group">
                    <label class="text-offwhite">Leads Collected For *</label>
                    <select class="form-control text-offwhite" id="lead-category">
                      <option value="0">Select Categories</option>
                    </select>
        
                  </div>
            </div>
            <div class="col-xl-3 col-lg-4  col-md-4 col-sm-12 grid-margin">
                <div class="form-group">
                    <label class="text-offwhite">Executives *</label>
                    <select class="form-control w-100 text-offwhite" id="lead-executive">
                      <option value="0"> Select Executives</option>
                    </select>
        
                  </div>
            </div>
            <div class="col-xl-3 col-sm-12 grid-margin ">
              <div class="form-group">
                  <label class="text-offwhite">Source *</label>
                  <select class="form-control w-100 text-offwhite" id="lead-source">
                    <option value="0">Select Source </option>
                    {% for source in source_objs %}
                      <option value="{{ source.platform_Name }}"> {{ source.platform_Name }}</option>
                    {% endfor %}
                  </select>
      
                </div>
           </div>
         
           <div class="col-xl-8 col-sm-12 grid-margin ">
            <form action="{% url 'DAM_Dashboard_databank' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-xl-2 col-lg-2 grid-margin col-sm-2  d-flex  align-items-center justify-content-center ">
                 
                  <a href="{% url 'DAM_Dashboard_databank' %}" class="btn btn-outline-secondary"><span class="mdi mdi-file"></span></a>
               
                </div> 
                <div class="col-xl-4 col-sm-12 grid-margin ">
                    <div class="form-group">
                        <label class="text-offwhite">From Date *</label>
                        <input type="date" class="form-control text-offwhite" name="fdate" required >  
            
                      </div>
                </div>
                <div class="col-xl-4 col-sm-12 grid-margin ">
                    <div class="form-group">
                        <label class="text-offwhite">To Date *</label>
                        <input type="date" class="form-control text-offwhite" name="edate" required>  
                      </div>
                </div>
                <div class="col-xl-2 col-sm-12 grid-margin d-flex  align-items-center ">
                 
                    <button type="submit" class="btn btn-outline-primary"><span class="mdi mdi-magnify"></span></button>
                 
                </div> 
              </div>
            </form>
          </div>
           
        
            
        
        </div>

       
       

        <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h6 class="card-title text-offwhite">
                        All Leads We Have - ( <span id="db-count"></span> ) 
                        <span id="dotsElement" class="mdi mdi-dots-vertical text-secondary" onclick="exicutionActions(this)"></span>
                      </h6>
                      <div id="fileActionDropdown" class="file-dactiondropdown card" style="display: none; position: absolute; top:10%;">
                        <ul class="list-group p-3">
                          <li class="mb-3 li-none">
                            <span class="mdi  mdi-printer text-primary "></span>
                            <a href="" class="ml-2 text-offwhite"><span class="small">Print</span></a>
                          </li>
                          <li class="mb-3 li-none">
                            <span class="mdi mdi-file-pdf text-danger"></span>
                            <a href="" class=" ml-2 text-offwhite"><span class="small">Pdf</span></a>
                          </li>
                          <li class="mb-3 li-none">
                            <span class="mdi mdi-file-excel text-secondary"></span>
                            <a href="" class=" ml-2 text-offwhite"><span class="small">Excel</span></a>
                          </li>
                        </ul>
                      </div>
                     
                       
                                
                        <div class="add-items d-flex ">
                      
                            <input  class="form-control text-offwhite" name="#" id="search-data" placeholder="search here..">
                            <button class="btn btn-outline-danger mdi mdi-close" id="closeBtn" type="button"></button> 
                        </div>
                        
                    </div>
                    
                    {% if messages %}
                
                      {% for message in messages %}
                      <div class="alert alert-fill-danger" role="alert">
                        <i class="mdi mdi-check-circle"></i> {{ message }}
                      </div>
                      
                      {% endfor %}
                 
                  {% endif %}
                    
                   
                    
                  {% if dataBank_objs %}
                  
                  <div class="table-responsive">
                    
                    <table class="table" id="table-details">
                      <thead>
                        <tr>
                          <th> No </th>
                       
                          <th> Action </th>
                          <th>Allocation  Status </th>
                          <th> Added Date </th>
                          
                          <th> Lead Name </th>
                          <th> Email </th>
                          <th> Phone Number </th>
                          <th> Current  Status </th>
                          <th> Data Sourse </th>
                          <th> Client name </th>
                          <th> Lead Category </th>
                         
                        </tr>
                      </thead>
                      <tbody id="lead-data">
                      
                      
                      </tbody>
                    </table>
                  </div>
                  {% else %}
                    <div class="d-flex justify-content-center">
                      <img src="{% static 'images\file-icons\no-data-file.png' %}">
                    </div>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
    
    </div>
    
</div>



<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('table-details');
    closeBtn.style.display = 'none';
  
    inputField.addEventListener('input', function() {
        filterTable();
    });
  
    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');
  
        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[6];
            const Cell7 = rows[i].getElementsByTagName('td')[7];
            const Cell8 = rows[i].getElementsByTagName('td')[8];
            const Cell9 = rows[i].getElementsByTagName('td')[9];
     
  
  
            if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5 || Cell6 || Cell7 || Cell8 || Cell9 ) {
  
                const datacell1 = Cell1.textContent || Cell1.innerText;
                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
                const datacell4 = Cell4.textContent || Cell4.innerText;
                const datacell5 = Cell5.textContent || Cell5.innerText;
                const datacell6 = Cell6.textContent || Cell6.innerText;
                const datacell7 = Cell7.textContent || Cell7.innerText;
                const datacell8 = Cell8.textContent || Cell8.innerText;
                const datacell9 = Cell9.textContent || Cell9.innerText;
                
                
  
                if (datacell1.toLowerCase().includes(filterValue) || 
                datacell2.toLowerCase().includes(filterValue) || 
                datacell3.toLowerCase().includes(filterValue) ||
                datacell4.toLowerCase().includes(filterValue) ||
                 datacell5.toLowerCase().includes(filterValue) || 
                 datacell6.toLowerCase().includes(filterValue) ||
                 datacell7.toLowerCase().includes(filterValue) || 
                datacell8.toLowerCase().includes(filterValue) ||
                datacell9.toLowerCase().includes(filterValue))
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
  
     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });
  
    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });


   
</script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function exicutionActions(element) {
      // Hide all other dropdowns before showing the selected one
      $('#fileActionDropdown').hide();
      
      // Toggle the display of the file-dactiondropdown based on its current state
      $('#fileActionDropdown').toggle();
    }
  
    // Close the dropdown if the user clicks outside of it
    $(document).on('click', function (e) {
      if (!$(e.target).closest('#fileActionDropdown').length && !$(e.target).is('#dotsElement')) {
        $('#fileActionDropdown').hide();
      }
    });

    function showActions(element) {
      // Hide all other dropdowns before showing the selected one
      $('.actions-dropdown').hide();
      
      // Find the closest actions-dropdown and toggle its display
      $(element).closest('td').find('.actions-dropdown').toggle();
    }
  
    // Close the dropdown if the user clicks outside of it
    $(document).on('click', function (e) {
      if (!$(e.target).closest('.actions-dropdown').length && !$(e.target).hasClass('mdi-dots-vertical')) {
        $('.actions-dropdown').hide();
      }
      
      
    });

    $("#client-change").on("change", function () {
      // Get the selected client ID
      var selectedClientId = $(this).val();
    
      
      $.ajax({
          url: "{% url 'fetch_lead_categories' %}",
          type: 'GET',
          dataType: 'json',
          data: {
              client_id: selectedClientId
          },
          success: function (data) {
            
              if (data.success) {
                  
                  var leadCategorySelect = $("#lead-category");
                
                  leadCategorySelect.empty(); 
    
                  var option = '<option value="'+ '0' + '">' + 'Select Categories' + '</option>';
                  leadCategorySelect.append(option);
                  data.lead_categories.forEach(function (category) {
                      var option = '<option value="' + category.id + '">' + category.name + '</option>';
                      leadCategorySelect.append(option);
                  });
                  updateTable(data.leads_data);
                  document.getElementById("db-count").innerText =data.dataBank_count;
                  
              } else {
                  
                  console.error('Error: ' + data.message);
              }
             
          },
          error: function (xhr, status, error) {
              // Handle Ajax errors (optional)
              console.error('Ajax Error: ' + status + ' - ' + error);
          }
      });
    });

    $("#lead-category").on("change", function () {
      // Get the selected client ID
      var selectedId = $(this).val();
    
      $.ajax({
          url: "{% url 'fetch_lead_executive' %}",
          type: 'GET',
          dataType: 'json',
          data: {
              category_id: selectedId
          },
          success: function (data) {
            
              if (data.success) {
                  
                  var leadExecutiveSelect = $("#lead-executive");
                
                  leadExecutiveSelect.empty(); 
    
                  var option = '<option value="'+ '0' + '">' + 'Select Executives' + '</option>';
                  leadExecutiveSelect.append(option);
                  data.lead_executive_list.forEach(function (emp) {
                      var option = '<option value="' + emp.id + '">' + emp.name + '</option>';
                      leadExecutiveSelect.append(option);
                  });
                  updateTable(data.leads_data);
                  document.getElementById("db-count").innerText =data.dataBank_count;
                  
              } else {
                  
                  console.error('Error: ' + data.message);
              }
             
          },
          error: function (xhr, status, error) {
              // Handle Ajax errors (optional)
              console.error('Ajax Error: ' + status + ' - ' + error);
          }
      });
    });

    $("#lead-executive").on("change", function () {
      // Get the selected client ID
      var selectedEmpId = $(this).val();
      
      var selectedlCId = $('#lead-category').val();
    
      $.ajax({
          url: "{% url 'fetch_executive_leads' %}",
          type: 'GET',
          dataType: 'json',
          data: {
            selectedlcId: selectedlCId,
            selectedempId:selectedEmpId
          },
          success: function (data) {
            
              if (data.success) {
                  
                
                  updateTable(data.leads_data);
                  document.getElementById("db-count").innerText =data.dataBank_count;
                  
              } else {
                  
                  console.error('Error: ' + data.message);
              }
             
          },
          error: function (xhr, status, error) {
              // Handle Ajax errors (optional)
              console.error('Ajax Error: ' + status + ' - ' + error);
          }
      });
    });

    
    $("#lead-source").on("change", function () {
      // Get the selected client ID
      var selected_source = $(this).val();
      
     
    
      $.ajax({
          url: "{% url 'fetch_leads_source' %}",
          type: 'GET',
          dataType: 'json',
          data: {
            selectedSource: selected_source,
           
          },
          success: function (data) {
            
              if (data.success) {
                  
                
                  updateTable(data.leads_data);
                  document.getElementById("db-count").innerText =data.dataBank_count;
                  
              } else {
                  
                  console.error('Error: ' + data.message);
              }
             
          },
          error: function (xhr, status, error) {
              // Handle Ajax errors (optional)
              console.error('Ajax Error: ' + status + ' - ' + error);
          }
      });
    });

    $(document).ready(function() {
      // Call the DataBank_load function when the page is fully loaded
      DataBank_Load();
  });

  function DataBank_Load() {
      // Your AJAX request here
      $.ajax({
        url: "{% url 'DataBank_load' %}", 
          type: 'GET',
          dataType: 'json',  
          success: function (data) {
            
            if (data.success) {
                
              
                updateTable(data.leads_data);
                document.getElementById("db-count").innerText =data.dataBank_count;
                
            } else {
                
                console.error('Error: ' + data.message);
            }
           
        },
        error: function (xhr, status, error) {
            // Handle Ajax errors (optional)
            console.error('Ajax Error: ' + status + ' - ' + error);
        }
          
      });
  }

   

    function updateTable(dataList) {
      // Clear existing table data
      $("#lead-data").empty();
     
      // Append new data to the table
      $.each(dataList, function(index, data) {
        var followupUrl = "{% url 'DAM_dataBnak_followup' 0 %}".replace("0", data.id);
        var removeUrl = "{% url 'DAM_dataBnak_remove' 0 %}".replace("0", data.id);
    
        var newRow = "<tr class='clickable-row' data-href='#'>" +
            "<td>" + (index + 1) + "</td>" +
           
            "<td>" +
                "<span class='mdi mdi-dots-vertical close-action text-secondary' onclick='showActions(this)'></span>" +
                "<div class='actions-dropdown card' style='display: none; position: absolute;'>" +
                    "<ul class='list-group p-3'>" +
                        "<li class='mb-3 li-none'>" +
                            "<span class='mdi mdi-phone text-secondary'></span>" +
                            "<a href='" + followupUrl + "' class='small ml-2 text-offwhite'>FollowUp</a>" +
                        "</li>" +
                        "<li class='mb-3 li-none'>" +
                            "<span class='mdi mdi-file-account text-secondary'></span>" +
                            "<a href='" + followupUrl + "' class='small ml-2 text-offwhite'>Details</a>" +
                        "</li>" +
                        "<li class='li-none'>" +
                            "<span class='mdi mdi-delete text-secondary'></span>" +
                            "<a href='" + removeUrl + "' class='ml-2 small text-offwhite'>Delete</a>" +
                        "</li>" +
                    "</ul>" +
                "</div>" +
            "</td>" +
            "<td>" + 
                (data.lead_status === 'Not Attended' ? "<p><span class='mdi mdi-information-outline text-warning mr-1'></span>" + data.lead_status + "</p>" :
                data.lead_status === 'Allocated' ? "<p><span class='mdi mdi-check text-success mr-1'></span>" + data.lead_status + "</p>" :
                data.lead_status === 'Opend' ? "<p><span class='mdi mdi-check-all text-success mr-1'></span>" + data.lead_status + "</p>" :
                "<p><span class='mdi mdi-check-circle text-success mr-1'></span>" + data.lead_status + "</p>") +
            "</td>" +
            "<td>" + data.Genarated_date + "</td>" +
            "<td><span class='pl-2'>" + data.lead_name + "</span></td>" +
            "<td>" + data.lead_email + "</td>" +
            "<td>" + data.lead_contact + "</td>" +
            "<td>" + data.c_status + "</td>" +
            "<td>" + data.lead_source + "</td>" +
            "<td>" + data.client_name + "</td>" +
            "<td>" + data.lead_collection_for + "</td>" +
        "</tr>";
    
        $("#lead-data").append(newRow);
    });
    
  }

  $(document).ready(function() {
    // Hide the alert after 3 seconds
    setTimeout(function() {
        $(".alert").fadeOut("slow");
    }, 3000); // 3000 milliseconds = 3 seconds
  });
  
  
  </script>


{% endblock %}