{% extends 'AD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'admin_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'admin_leads_section' %}">Leads</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Follow Up Leads</li>
        </ol>
      </nav>
</div>


<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">

        <div class="d-flex">
          <h4 class="card-title"><span class="text-success">Follow Up</span> Leads</h4>   
        </div>

        <div class="row mt-3">
          <div class="col-md-3">
            <form action="" method="post">
              {% csrf_token %}
              <label>Clients</label>
              <select name="client-select" id="client-select" class="form-control text-white" onchange="clearDateInputs()">
                <option value="" hidden>Select</option>
                {% for i in clients %}
                <option value="{{i.id}}">{{i.client_name}}</option>
                {% endfor %}
              </select>
            </form>
          </div>
          <div class="col-md-3">
            <form action="" method="post">
              {% csrf_token %}
              <label>Lead categories</label>
              <select name="leadcatagory" id="category-select" class="form-control text-white" onchange="clearDateInputs()">
                <option value="" hidden>Select</option>
                
                
              </select>
            </form>
          </div>
          <div class="col-md-3">
            <form action="" method="post">
              {% csrf_token %}
              <label>Hr/Tele caller</label>
              <select name="employee" id="caller-select" class="form-control text-white" onchange="clearDateInputs()">
                <option value="" hidden>Select</option>
                {% for entry in hr_telecaller %}
                <option value="{{ entry.id }}">{{ entry.emp_name }}</option>
                {% endfor %}
                
              </select>
            </form>
          </div>
          <div class="col-md-3">
            <form action="" method="post">
              {% csrf_token %}
              <label>Follow Up Status</label>
              <select name="employee" id="status-select" class="form-control text-white" onchange="clearDateInputs()">
                <option value="" hidden>Select</option>
                {% for i in followup_status %}
                <option value="{{i.status_name}}">{{i.status_name}}</option>
                {% endfor %}
                
              </select>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row" id="leadtable">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">Lead Data</h4>
            
        </div>
        
        <div class="table-responsive" >
           

          <div class="row mt-4">

            <div class=" col-md-5">
              <div class="form-group">
                <label>From date</label>
                <input type="date" class="form-control text-offwhite" name="#" id="fdate" required >                    
              </div>
            </div>
            <div class=" col-md-5">
              <div class="form-group">
                <label>To date</label>
                <input type="date" class="form-control text-offwhite" name="#" id="edate" required  >                    
              </div>
            </div>
            <div class="col-md-2"></div>
            
                      
          </div>
          <div class="add-items d-flex ">
            <input  class="form-control text-offwhite" name="#" id="search-data" placeholder="search here..">
            <button class="btn btn-outline-danger mdi mdi-close" id="closeBtn" type="button"></button> 
          </div>


          <table class="table mt-4 mb-4" id="lead-details">
            <thead>
              <tr>
                <th> No. </th>
                <th> Date </th>
                <th> Client Name</th>
                <th> Lead Category</th>
                <th> Lead Name</th>
                <th> Lead Email</th>
                <th> Lead Contact</th>
                <th> Lead Source</th>
                <th> More Details</th>
                <th> Collected by</th>
                 
              </tr>
            </thead>
            <tbody>
              
              {% for i in followup_leads %}  
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.lead_transfer_date|date:"Y-m-d"}}</td>
                <td>{{i.lead_taskAssignId.ta_taskId.client_Id.client_name}}</td>
                <td>{{i.lead_category_id.lead_collection_for}}</td>
                <td>{{i.lead_name}}</td>
                <td>{{i.lead_email}}</td>
                <td>{{i.lead_contact}}</td>
                <td>{{i.lead_source }}</td>
                <td><button class="btn btn-outline-success btn-sm leads-btn" data-toggle="modal" data-target="#leadModal{{i.id}}">Details</button></td>
                <td>{{i.lead_collect_Emp_id.emp_name}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Lead details-->

{% for i in followup_leads %}
{% for details in followup_lead_details %}
<div class="modal fade" id="leadModal{{i.id}}">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">

      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h4 class="card-title mt-3 ml-3"><span class="text-success">Lead</span> More Details</h4>
          
        </div>
        
        <div class="card-body mt-0">
          <div class="container mt-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active bg-dark text-white" id="pills-leaddetails-tab{{i.id}}" data-toggle="pill" href="#pills-leaddetails{{i.id}}">Lead Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-dark text-white" id="pills-followup-tab{{i.id}}" data-toggle="pill" href="#pills-followup{{i.id}}">Follow Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-dark text-white" id="pills-history-tab{{i.id}}" data-toggle="pill" href="#pills-history{{i.id}}">History</a>
              </li>
            </ul>
            <div class="tab-content mt-2">
              <div class="tab-pane fade show active" id="pills-leaddetails{{i.id}}">
                
                <h6><span class="text-success">{{ i.lead_name }}</span> - More Details</h6>
                {% for lead_detail in followup_lead_details %}
                  {% if lead_detail.leadId_id == i.id %}
                    <p>{{ lead_detail.lead_field_name }}: {{ lead_detail.lead_field_data }}</p>
                    <!-- Add other lead details using Django template variables -->
                  {% endif %}
                {% endfor %}
                
              </div>
              <div class="tab-pane fade" id="pills-followup{{i.id}}">
                <h6><span class="text-success">{{ i.lead_name }}</span> -  FollowUp Details</h6>
                {% for followup_detail in followup_followup_details %}
                  {% if followup_detail.lead_Id_id == i.id %}
                    <p class="mt-3">Followup Date: {{ followup_detail.response_date|date:"Y-m-d" }}</p>
                    <p>Allocated Hr/Tele Caller: <span class="text-warning">{{ followup_detail.hr_telecaller_Id.emp_name }}</span></p>
                    <p>Response: {{ followup_detail.response }}</p>
                    {% if followup_detail.response_status == 'Intrested' %}
                     <p>Status: <span class="text-success">Intrested</span></p>
                    {% elif followup_detail.response_status == 'Pending' %}
                     <p>Status: <span class="text-warning">Pending</span></p>
                    {% elif followup_detail.response_status == 'Waiting' %}
                     <p>Status: <span class="text-warning">Waiting</span></p>
                    {% elif followup_detail.response_status == 'Call Not Picked' %}
                     <p>Status: <span class="text-danger">Call Not Picked</span></p>
                    {% else  %}
                     <p>Status: <span class="text-danger">{{ followup_detail.response_status }}</span></p>
                    {% endif %}
                    {% if followup_detail.nextfollowup_date %}
                     <p>Next Follow-Up Date: {{ followup_detail.nextfollowup_date|date:"Y-m-d" }}</p>
                    {% endif %}
                    <p class="text-offwhite">---------------------------------------------------------</p>
                    
                    <!-- Add other follow-up details using Django template variables -->
                  {% endif %}
                {% endfor %}
              </div>
              <div class="tab-pane fade" id="pills-history{{i.id}}">
                <h6><span class="text-success">{{ i.lead_name }}</span> - Followup History</h6>
                {% for history_detail in followup_history_details %}
                  {% if history_detail.hs_lead_Id_id == i.id %}
                    <p class="mt-3">Allocated Date: {{ history_detail.allocated_date|date:"Y-m-d"  }}</p>
                    <p>Allocated Hr/Tele Caller: <span class="text-warning">{{ history_detail.hr_telecaller_Id.emp_name }}</span></p>
                    <p>Note: {{ history_detail.note }}</p>
                    <p>Final Status: <span class="text-primary">{{ history_detail.final_status }}</span></p>
                    <p class="text-offwhite">---------------------------------------------------------</p>
                    <!-- Add other history details using Django template variables -->
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </div>
    
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Add this script tag to include your custom JavaScript -->
<script>
  $(document).ready(function() {
    // Function to update lead categories based on selected client
    function updateLeadCategories() {
      var client_id = $('#client-select').val(); // Assuming your client dropdown has the id 'client-select'

      $.ajax({
        url: '{% url "get_leadcategory" %}',  // Replace with the actual URL
        data: {
          'client_id': client_id,
        },
        dataType: 'json',
        success: function(data) {
          // Update lead category dropdown options
          var categorySelect = $('#category-select');  // Assuming your category dropdown has the id 'catagory-select'
          categorySelect.empty();  // Clear existing options
          console.log("Received data:", data);

          // Add "Select" option
          categorySelect.append('<option value="" hidden>Select</option>');

          // Add new options based on the Ajax response
          $.each(data.categories, function(index, category) {
            categorySelect.append('<option value="' + category.id + '">' + category.name + '</option>');
          });
        },
        error: function(xhr, status, error) {
          console.error('Error fetching lead categories:', status, error);
        }
      });
    }

    // Attach the function to the client dropdown change event
    $('#client-select').change(function() {
      updateLeadCategories();
    });
  });
</script>


<script>
  $(document).ready(function () {
    $('#client-select').change(function () {
      clearCallerSelect();
      clearstatusSelect();
      var selectedClient = $(this).val();
      
      if (selectedClient) {
        // Show the table
        $('#leadtable').show();
        
        $.ajax({
          type: 'POST',
          url: '{% url "filter_lead" %}',
          data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'client_id': selectedClient
          },
          success: function (data) {
            // Clear the table body
            $('#lead-details tbody').empty();
            console.log("Received data:", data);
  
            // Populate the table with the received data
            for (var i = 0; i < data.details1.length; i++) {
              var lead = data.details1[i];
              var more_detail = `<button class="btn btn-outline-success btn-sm leads-btn" data-toggle="modal" data-target="#leadModal${lead.modalid}">Details</button>`;
              
              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}</td>
                  <td>${lead.category}</td>
                  <td>${lead.name}</td>
                  <td>${lead.email}</td>
                  <td>${lead.contact}</td>
                  <td>${lead.source}</td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
              $('#lead-details tbody').append(newRow);
            }
          }
        });
      } else {
        // If no option is selected, hide the table
        $('#leadtable').hide();
      }
    });
    // Function to clear the category select
    function clearCallerSelect() {
      $('#caller-select').val('');
    }
    function clearstatusSelect() {
      $('#status-select').val('');
    }
  });
</script>


<script>
  $(document).ready(function () {
    $('#category-select').change(function () {
      clearCallerSelect();
      clearstatusSelect();
      var selectedCategory = $(this).val();
      var selectedClient = $('#client-select').val(); // Assuming you have a client select element

      if (selectedCategory) {
        // Show the table
        

        $.ajax({
          type: 'POST',
          url: '{% url "filter_lead_category" %}',
          data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'category_id': selectedCategory,
            'client_id': selectedClient
          },
          success: function (data) {
            // Clear the table body
            $('#lead-details tbody').empty();
            console.log("Received data:", data);

            // Populate the table with the received data
            for (var i = 0; i < data.details2.length; i++) {
              var lead = data.details2[i];
              var more_detail = `<button class="btn btn-outline-success btn-sm leads-btn" data-toggle="modal" data-target="#leadModal${lead.modalid}">Details</button>`;

              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}</td>
                  <!-- Add a category column here -->
                  <td>${lead.category}</td>
                  <td>${lead.name}</td>
                  <td>${lead.email}</td>
                  <td>${lead.contact}</td>
                  <td>${lead.source}</td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
              $('#lead-details tbody').append(newRow);
            }
          },
          error: function (error) {
            console.error('Error:', error.responseText);
          }
        });
      } else {
        // If no option is selected, hide the table
        $('#leadtable').hide();
      }
    });
    function clearCallerSelect() {
      $('#caller-select').val('');
    }
    function clearstatusSelect() {
      $('#status-select').val('');
    }
  });
</script>

<script>
  $(document).ready(function () {
    $('#caller-select').change(function () {
      clearstatusSelect();
      var selectedcaller = $(this).val();
      var selectedClient = $('#client-select').val(); // Assuming you have a client select element
      var selectedCategory = $('#category-select').val(); // Assuming you have a category select element

      if (selectedcaller) {
        // Show the table
        

        $.ajax({
          type: 'POST',
          url: '{% url "filter_lead_hr_telecaller" %}',
          data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'category_id': selectedCategory,
            'client_id': selectedClient,
            'caller_id': selectedcaller
          },
          success: function (data) {
            // Clear the table body
            $('#lead-details tbody').empty();
            console.log("Received data:", data);

            // Populate the table with the received data
            for (var i = 0; i < data.details3.length; i++) {
              var lead = data.details3[i];
              var more_detail = `<button class="btn btn-outline-success btn-sm leads-btn" data-toggle="modal" data-target="#leadModal${lead.modalid}">Details</button>`;

              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}</td>
                  <!-- Add a category column here -->
                  <td>${lead.category}</td>
                  <td>${lead.name}</td>
                  <td>${lead.email}</td>
                  <td>${lead.contact}</td>
                  <td>${lead.source}</td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
              $('#lead-details tbody').append(newRow);
            }
          },
          error: function (error) {
            console.error('Error:', error.responseText);
          }
        });
      } else {
        // If no option is selected, hide the table
        $('#leadtable').hide();
      }
    });
    function clearstatusSelect() {
      $('#status-select').val('');
    }
  });
</script>


<script>
  $(document).ready(function () {
    $('#status-select').change(function () {
      var selectedstatus = $(this).val();
      var selectedClient = $('#client-select').val(); // Assuming you have a client select element
      var selectedCategory = $('#category-select').val(); // Assuming you have a category select element
      var selectedCaller = $('#caller-select').val(); // Assuming you have a caller select element

      if (selectedstatus) {
        // Show the table
        

        $.ajax({
          type: 'POST',
          url: '{% url "filter_lead_status" %}',
          data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'category_id': selectedCategory,
            'client_id': selectedClient,
            'caller_id': selectedCaller,
            'status_id': selectedstatus
          },
          success: function (data) {
            // Clear the table body
            $('#lead-details tbody').empty();
            console.log("Received data:", data);

            // Populate the table with the received data
            for (var i = 0; i < data.details4.length; i++) {
              var lead = data.details4[i];
              var more_detail = `<button class="btn btn-outline-success btn-sm leads-btn" data-toggle="modal" data-target="#leadModal${lead.modalid}">Details</button>`;

              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}</td>
                  <!-- Add a category column here -->
                  <td>${lead.category}</td>
                  <td>${lead.name}</td>
                  <td>${lead.email}</td>
                  <td>${lead.contact}</td>
                  <td>${lead.source}</td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
              $('#lead-details tbody').append(newRow);
            }
          },
          error: function (error) {
            console.error('Error:', error.responseText);
          }
        });
      } else {
        // If no option is selected, hide the table
        $('#leadtable').hide();
      }
    });
  });
</script>


<script>
  $(document).ready(function () {
    // Add event listener for date input changes
    $('#fdate, #edate').on('change', function () {
      filterTable();
    });

    function filterTable() {
      var startDate = $('#fdate').val();
      var endDate = $('#edate').val();

      // Iterate through the table rows and hide/show them based on the date range
      $('#lead-details tbody tr').each(function () {
        var rowDate = $(this).find('td:eq(1)').text(); // Assuming date is in the second column

        // Check if the row satisfies the date conditions
        if ((startDate === '' || rowDate >= startDate) &&
          (endDate === '' || rowDate <= endDate)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }
  });
</script>


<script>

  function clearDateInputs() {
    document.getElementById("fdate").value = "";
    document.getElementById("edate").value = "";
    document.getElementById('search-data').value = "";
  }
 
</script> 

<script>
  
  const inputField = document.getElementById('search-data');
  const closeBtn = document.getElementById('closeBtn');
  const empTable = document.getElementById('lead-details');
  closeBtn.style.display = 'none';

  inputField.addEventListener('input', function() {
      filterTable();
  });

  function filterTable() {
    const filterValue = inputField.value.toLowerCase();
    const rows = empTable.getElementsByTagName('tr');

    for (let i = 1; i < rows.length; i++) {
      const Cell1 = rows[i].getElementsByTagName('td')[1];
      const Cell2 = rows[i].getElementsByTagName('td')[2];
      const Cell3 = rows[i].getElementsByTagName('td')[3];
      const Cell4 = rows[i].getElementsByTagName('td')[4];
      const Cell5 = rows[i].getElementsByTagName('td')[5];
      const Cell6 = rows[i].getElementsByTagName('td')[6];
      const Cell7 = rows[i].getElementsByTagName('td')[7];
      const Cell8 = rows[i].getElementsByTagName('td')[8];
      const Cell9 = rows[i].getElementsByTagName('td')[9];

      if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5 || Cell6 || Cell7 || Cell8 || Cell9)  {

        const datacell1 = Cell1.textContent || Cell1.innerText;
        const datacell2 = Cell2.textContent || Cell2.innerText;
        const datacell3 = Cell3.textContent || Cell3.innerText;
        const datacell4 = Cell4.textContent || Cell4.innerText;
        const datacell5 = Cell5.textContent || Cell5.innerText;
        const datacell6 = Cell6.textContent || Cell6.innerText;
        const datacell7 = Cell7.textContent || Cell7.innerText;
        const datacell8 = Cell7.textContent || Cell8.innerText;
        const datacell9 = Cell8.textContent || Cell9.innerText;
        

        if (datacell1.toLowerCase().includes(filterValue) || datacell2.toLowerCase().includes(filterValue) || datacell3.toLowerCase().includes(filterValue)
        || datacell4.toLowerCase().includes(filterValue) || datacell5.toLowerCase().includes(filterValue) || datacell6.toLowerCase().includes(filterValue) 
        || datacell7.toLowerCase().includes(filterValue) || datacell8.toLowerCase().includes(filterValue) || datacell9.toLowerCase().includes(filterValue) ) 
        {
            rows[i].style.display = '';
        } else {
            rows[i].style.display = 'none';
        }
      }
    }
  }

    // To display the close button and hide the close button based on the search input 
  inputField.addEventListener('input', function() {
  if (inputField.value == '') {
      closeBtn.style.display = 'none';
      
  } else {
      closeBtn.style.display = 'block';
      
  }
  });

  closeBtn.addEventListener('click', function() {
  inputField.value = '';
  closeBtn.style.display = 'none';
  filterTable(); // Display the full table data
  });
</script>





<style>
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
</style> 

{% endblock %}