{% extends 'AD_base.html' %}
{% load static %}
{% block body %}
<style>
    .line-bd
    {
        border: 1px #3d3c39 solid;
    }
</style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'admin_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a class="text-underline-remove text-md" href="{% url 'admin_leads_section' %}">DataBank</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Reports</li>
        </ol>
      </nav>
</div>

<div class="d-flex justify-content-between">
    <h5 class="ml-3">Leads - <span class=""> {{databank_obj_count}} </span>  </h5>
    <div>
        <p class="small">Date : {% now 'd-m-y' %} </p>
    </div>
</div>
<div class="card line-bd"></div>

<div class="row mt-3">
    <div class="col-lg-3 col-md-3 col-sm-6 grid-margin">
        <div class="card">
            <div class="card-body text-center">
                <p><span class="mdi mdi-file-document ml-2"></span> <span> Today New Leads  - {{ TNC }} </span> </p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 grid-margin">
        <div class="card">
            <div class="card-body text-center">
                <p><span class="mdi mdi-file-account ml-2"></span> <span>Alocation Pending - {{ APC}}</span></p>
            </div>
              
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 grid-margin">
        
        <div class="card">  
            <div class="card-body text-center ">
                <p><span class="mdi mdi-calendar-multiple-check ml-2"></span> <span>Total Follow Up - {{ TFC }}</span></p>
                
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 grid-margin">
        
        <div class="card">  
            <div class="card-body text-center">
                <p><span class="mdi mdi-calendar-today ml-2"></span> <span> Today Follow Up - {{TDFC }}</span></p>
            </div>
        </div>
    </div>
</div>
<div class="card line-bd"></div>

<div class="table-responsive" >

    <div class="card mt-3">
        <div class="card-body">
           
            <div class="row ">
                <div class="col-lg-3 col-md-3 col-sm-6 grid-margin">
                    <form action="" method="post">
                        {% csrf_token %}
                       
                        <select name="client-select" id="client-select" class="form-control text-white" onchange="clearDateInputs()">
                          <option value="" hidden>-- Select Client -- </option>
                          {% for i in clients %}
                          <option value="{{i.id}}">{{i.client_name}}</option>
                          {% endfor %}
                        </select>
                      </form> 
                        
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 grid-margin">
                    <select name="leadcatagory" id="category-select" class="form-control text-white" onchange="clearDateInputs()">
                        <option value="" hidden>-- Select Category -- </option>
                    </select> 
                        
                </div>
                
                <div class="col-lg-2 col-md-2 col-sm-6 grid-margin">
                    <form action="" method="post">
                        {% csrf_token %}
                       
                        <select name="employee" id="caller-select" class="form-control text-white" onchange="clearDateInputs()">
                          <option value="" >--Select Hr-- </option>
                          {% for entry in hr_telecaller %}
                          <option value="{{ entry.id }}">{{ entry.emp_name }}</option>
                          {% endfor %}
                          
                        </select>
                      </form> 
                        
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 grid-margin">
                    <select name="employee" id="status-select" class="form-control text-white" onchange="clearDateInputs()">
                        <option value="" >--Select Status -- </option>
                        {% for i in followup_status %}
                        <option value="{{i.status_name}}">{{i.status_name}}</option>
                        {% endfor %}
                        
                      </select>  
                        
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 grid-margin">
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        <select name="#" id="platform-select" class="form-control text-white">
                            <option value="" hidden>-- Select Platform --</option>
                          {% for i in platform_obj %}
                          <option value="{{i.id}}">{{i.platform_Name}}</option>
                          {% endfor %}
                          
                        </select>
                      </form>
                      
                        
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-12 grid-margin">
                    <form action="" method="post">
                        {% csrf_token %}
                
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-4 grid-margin">
                                <input type="date" class="form-control text-white" id="sdate">
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-4 grid-margin">
                                <input type="date" class="form-control text-white" id="edate">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 grid-margin">
                                <button type="button" id="searchbtn" class="btn btn-outline-primary mdi mdi-magnify"></button>
                            </div>
                        </div>
                    </form>
                
                        
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-12 grid-margin"></div>
                <div class="col-lg-3 col-md-3 col-sm-12 grid-margin">
                    <div class="add-items d-flex ">
          
                        <input  class="form-control text-offwhite" name="#" id="search-data" placeholder="search here..">
                        <button class="btn btn-outline-danger mdi mdi-close" id="closeBtn" type="button"></button> 
                    </div>
                </div>
                
            </div>
          


            <div>
                <div>
                    <h6 class="text-secondary"> Lead List - <span id="lead-count">{{databank_obj_count}}</span> </h6>
                </div>
            </div>

            <table class="table mt-4 mb-4" id="lead-details">
                <thead>
                  <tr>
                    <th> No. </th>
                    <th> Date </th>
                    <th> Client Name \ Lead Category</th>
                   
                    <th> Lead Name</th>
                    <th> Details</th>
                     
                    <th>Lead Collected by</th>
                     
                  </tr>
                </thead>
                <tbody>
                  
                  {% for i in databank_obj %}  
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.Genarated_date|date:"d-m-y"}}</td>
                    <td>{{i.lead_Id.lead_work_regId.clientId.client_name}}
                        <p class="mt-2">( {{i.lead_Id.lead_category_id.lead_collection_for}} )</p>
                    </td>
                    
                    <td>{{i.lead_Id.lead_name}}
                        <p class="mt-2">{{i.lead_Id.lead_email}}</p>
                        <p class="mt-2">{{i.lead_contact}}</p>
                        <p class="mt-2">Source : {{i.lead_Id.lead_source }}</p>
                    </td>
                    <td><a href="{% url 'admin_lead_details' i.lead_Id.id %}" class="text-white"><span class="mdi mdi-file-document ml-2"></span> lead Details </a> </span></td>
                
                    <td>{{i.lead_Id.lead_collect_Emp_id.emp_name}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
                    
        </div>         
    </div>

    

</div>




<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
  $(document).ready(function() {
    // Function to update lead categories based on selected client
    function updateLeadCategories() {
      var client_id = $('#client-select').val(); // Assuming your client dropdown has the id 'client-select'

      $.ajax({
        url: '{% url "get_leadcategory" %}',  // Replace with the actual URL
        data: {
          'client_id': client_id,
        },
        dataType: 'json',
        success: function(data) {
          // Update lead category dropdown options
          var categorySelect = $('#category-select');  // Assuming your category dropdown has the id 'catagory-select'
          categorySelect.empty();  // Clear existing options
          console.log("Received data:", data);

          // Add "Select" option
          categorySelect.append('<option value="" hidden>Select</option>');

          // Add new options based on the Ajax response
          $.each(data.categories, function(index, category) {
            categorySelect.append('<option value="' + category.id + '">' + category.name + '</option>');
          });
        },
        error: function(xhr, status, error) {
          console.error('Error fetching lead categories:', status, error);
        }
      });
    }

    // Attach the function to the client dropdown change event
    $('#client-select').change(function() {
      updateLeadCategories();
    });
  });
</script>


<script>
    $(document).ready(function () {
      $('#client-select').change(function () {
        clearCallerSelect();
        clearstatusSelect();
        var selectedClient = $(this).val();
        
        if (selectedClient) {
          // Show the table
          $('#leadtable').show();
          
          $.ajax({
            type: 'POST',
            url: '{% url "filter_lead" %}',
            data: {
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
              'client_id': selectedClient
            },
            success: function (data) {
              // Clear the table body
              $('#lead-details tbody').empty();
              console.log("Received data:", data);
              $('#lead-count').text(data.lcount);
              // Populate the table with the received data
              
              
              for (var i = 0; i < data.details1.length; i++) {
                var lead = data.details1[i];
                var lid = lead.modalid
               
                var url ="{% url 'admin_lead_details' 0 %}".replace('0', lid);
                var more_detail =  `<a href="${url}" class="text-white"><span class="mdi mdi-file-document ml-2"></span> lead Details </a>`;
               
                var newRow = `
                  <tr>
                    <td>${i + 1}</td>
                    <td>${lead.date}</td>
                    <td>${lead.client_name}
                        <p class="mt-2">(${lead.category})</p>
                    </td>
                   
                    <td>${lead.name}
                        <p class="mt-2">${lead.email}
                        <p class="mt-2">${lead.contact}
                        <p class="mt-2">Source:${lead.source}
                    </td>
                    <td>${more_detail}</td>
                    <td>${lead.collected_by}</td>
                  </tr>
                `;
                $('#lead-details tbody').append(newRow);
                $('#lead-count').text(data.lcount);

              }
            }
          });
        } else {
          // If no option is selected, hide the table
          $('#leadtable').hide();
        }
      });
      // Function to clear the category select
      function clearCallerSelect() {
        $('#caller-select').val('');
      }
      function clearstatusSelect() {
        $('#status-select').val('');
      }
    });
  </script>
  
  
  <script>
    $(document).ready(function () {
      $('#category-select').change(function () {
        clearCallerSelect();
        clearstatusSelect();
        var selectedCategory = $(this).val();
        var selectedClient = $('#client-select').val(); // Assuming you have a client select element
  
        if (selectedCategory) {
          // Show the table
          
  
          $.ajax({
            type: 'POST',
            url: '{% url "filter_lead_category" %}',
            data: {
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
              'category_id': selectedCategory,
              'client_id': selectedClient
            },
            success: function (data) {
              // Clear the table body
              $('#lead-details tbody').empty();
              console.log("Received data:", data);
              $('#lead-count').text(data.lcount);
  
              // Populate the table with the received data
              for (var i = 0; i < data.details2.length; i++) {
                var lead = data.details2[i];
                var lid = lead.modalid
                var url ="{% url 'admin_lead_details' 0 %}".replace('0', lid);
                var more_detail =  `<a href="${url}" class="text-white"><span class="mdi mdi-file-document ml-2"></span> lead Details </a>`;
               
                
                
                var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}
                      <p class="mt-2">(${lead.category})</p>
                  </td>
                 
                  <td>${lead.name}
                      <p class="mt-2">${lead.email}
                      <p class="mt-2">${lead.contact}
                      <p class="mt-2">Source:${lead.source}
                  </td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
                $('#lead-details tbody').append(newRow);
              }
            },
            error: function (error) {
              console.error('Error:', error.responseText);
            }
          });
        } else {
          // If no option is selected, hide the table
          $('#leadtable').hide();
        }
      });
      function clearCallerSelect() {
        $('#caller-select').val('');
      }
      function clearstatusSelect() {
        $('#status-select').val('');
      }
    });
  </script>
  
  <script>
    $(document).ready(function () {
      $('#caller-select').change(function () {
        clearstatusSelect();
        var selectedcaller = $(this).val();
        var selectedClient = $('#client-select').val(); // Assuming you have a client select element
        var selectedCategory = $('#category-select').val(); // Assuming you have a category select element
  
        if (selectedcaller) {
          // Show the table
          
  
          $.ajax({
            type: 'POST',
            url: '{% url "filter_lead_hr_telecaller" %}',
            data: {
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
              'category_id': selectedCategory,
              'client_id': selectedClient,
              'caller_id': selectedcaller
            },
            success: function (data) {
              // Clear the table body
              $('#lead-details tbody').empty();
              console.log("Received data:", data);
              $('#lead-count').text(data.lcount);
  
              // Populate the table with the received data
              for (var i = 0; i < data.details3.length; i++) {
                var lead = data.details3[i];
                var lid = lead.modalid
                var url ="{% url 'admin_lead_details' 0 %}".replace('0', lid);
                var more_detail =  `<a href="${url}" class="text-white"><span class="mdi mdi-file-document ml-2"></span> lead Details </a>`;
                
                var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}
                      <p class="mt-2">(${lead.category})</p>
                  </td>
                 
                  <td>${lead.name}
                      <p class="mt-2">${lead.email}
                      <p class="mt-2">${lead.contact}
                      <p class="mt-2">Source:${lead.source}
                  </td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
              $('#lead-details tbody').append(newRow);
            }
          },
            error: function (error) {
              console.error('Error:', error.responseText);
            }
          });
        } else {
          // If no option is selected, hide the table
          $('#leadtable').hide();
        }
      });
      function clearstatusSelect() {
        $('#status-select').val('');
      }
    });
  </script>
  
  
  <script>
    $(document).ready(function () {
      $('#status-select').change(function () {
        var selectedstatus = $(this).val();
        var selectedClient = $('#client-select').val(); // Assuming you have a client select element
        var selectedCategory = $('#category-select').val(); // Assuming you have a category select element
        var selectedCaller = $('#caller-select').val(); // Assuming you have a caller select element
  
        if (selectedstatus) {
          // Show the table
          
  
          $.ajax({
            type: 'POST',
            url: '{% url "filter_lead_status" %}',
            data: {
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
              'category_id': selectedCategory,
              'client_id': selectedClient,
              'caller_id': selectedCaller,
              'status_id': selectedstatus
            },
            success: function (data) {
              // Clear the table body
              $('#lead-details tbody').empty();
              console.log("Received data:", data);
              $('#lead-count').text(data.lcount);
  
              // Populate the table with the received data
              for (var i = 0; i < data.details4.length; i++) {
                var lead = data.details4[i];
                var url ="{% url 'admin_lead_details' 0 %}".replace('0', lid);
                var more_detail =  `<a href="${url}" class="text-white"><span class="mdi mdi-file-document ml-2"></span> lead Details </a>`;
                
                var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}
                      <p class="mt-2">(${lead.category})</p>
                  </td>
                 
                  <td>${lead.name}
                      <p class="mt-2">${lead.email}
                      <p class="mt-2">${lead.contact}
                      <p class="mt-2">Source:${lead.source}
                  </td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
                $('#lead-details tbody').append(newRow);
              }
            },
            error: function (error) {
              console.error('Error:', error.responseText);
            }
          });
        } else {
          // If no option is selected, hide the table
          $('#leadtable').hide();
        }
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $('#searchbtn').click(function () {
        var fdate = $('#sdate').val();
        var todate = $('#edate').val();
        var selectedClient = $('#client-select').val(); // Assuming you have a client select element
        var selectedCategory = $('#category-select').val(); // Assuming you have a category select element
        var selectedCaller = $('#caller-select').val(); // Assuming you have a caller select element
        var selectedstatus = $('#status-select').val();
  
        if (selectedstatus) {
          // Show the table
          
  
          $.ajax({
            type: 'POST',
            url: '{% url "filter_lead_date" %}',
            data: {
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
              'category_id': selectedCategory,
              'client_id': selectedClient,
              'caller_id': selectedCaller,
              'fdate': fdate,
              'todate': todate,
              'status_id': selectedstatus
            },
            success: function (data) {
              // Clear the table body
              $('#lead-details tbody').empty();
              console.log("Received data:", data);
              $('#lead-count').text(data.lcount);
  
              // Populate the table with the received data
              for (var i = 0; i < data.details5.length; i++) {
                var lead = data.details5[i];
                var url ="{% url 'admin_lead_details' 0 %}".replace('0', lid);
                var more_detail = `<a href="${url}" class="text-white"><span class="mdi mdi-file-document ml-2"></span> lead Details </a>`;
                
                var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${lead.date}</td>
                  <td>${lead.client_name}
                      <p class="mt-2">(${lead.category})</p>
                  </td>
                 
                  <td>${lead.name}
                      <p class="mt-2">${lead.email}
                      <p class="mt-2">${lead.contact}
                      <p class="mt-2">Source:${lead.source}
                  </td>
                  <td>${more_detail}</td>
                  <td>${lead.collected_by}</td>
                </tr>
              `;
                $('#lead-details tbody').append(newRow);
              }
            },
            error: function (error) {
              console.error('Error:', error.responseText);
            }
          });
        } else {
          // If no option is selected, hide the table
          $('#leadtable').hide();
        }
      });
    });
  </script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('lead-details');
    closeBtn.style.display = 'none';

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[4];
            const Cell4 = rows[i].getElementsByTagName('td')[5];
            const Cell5 = rows[i].getElementsByTagName('td')[6];
            

            if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5) {

                const datacell1 = Cell1.textContent || Cell1.innerText;
                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
                const datacell4 = Cell4.textContent || Cell4.innerText;
                const datacell5 = Cell5.textContent || Cell5.innerText;
                
                

                if (datacell1.toLowerCase().includes(filterValue) || datacell2.toLowerCase().includes(filterValue) || datacell3.toLowerCase().includes(filterValue)
                || datacell4.toLowerCase().includes(filterValue) || datacell5.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>



{% endblock %}