{% extends 'AD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'admin_employees_section' %}">Employees</a></li>
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'admin_all_works' %}">Works</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Team Lead Works</li>
        </ol>
      </nav>
</div>

<!-- choose employee section -->
<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
  
          <div class="d-flex">
            <h4 class="card-title">Select  <span class="text-danger">Team Lead</span></h4>   
          </div>
  
          <div class="row mb-5 mt-3">
            <div class="col-md-4">
              <form action="" method="post">
                {% csrf_token %}
                <select name="employeeselect" id="employee-select" class="form-control text-white" onchange="clearDateInputs()">
                  <option value="" hidden>Select</option>
                  {% for i in tl %}
                  <option value="{{i.id}}">{{i.emp_name}}</option>
                  {% endfor %}
                </select>
              </form>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
  
        </div>
      </div>
    </div>
</div>

<!-- Works section -->
<div class="row" id="works" style="display: none;">

  <div class="col-md-12 col-xl-4 grid-margin ">
    <div class="row">

      <div class="col-xl-12 col-sm-12 grid-margin">
        <div class="card" id="allocated-btn">
          <div class="card-body">
          <div class="row">
            <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
                <h4 class="mb-0">Works Assigned</h4>
                <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
            </div>
            <div class="col-3">
            <div class="icon icon-box-success">
                <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal mt-2">All work details assigned by team lead</h6>
          </div>
        </div>
      </div>
      
      <div class="col-xl-12 col-sm-12 grid-margin">
        <div class="card" id="ongoing-btn">
          <div class="card-body">
          <div class="row">
            <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
                <h4 class="mb-0">Ongoing Works</h4>
                <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
            </div>
            <div class="col-3">
            <div class="icon icon-box-success ">
                <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal mt-2">All ongoing work details of team lead</h6>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-sm-12 grid-margin">
        <div class="card" id="completed-btn">
          <div class="card-body">
          <div class="row">
            <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h4 class="mb-0">Completed Works</h4>
              <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
            </div>
            <div class="col-3">
            <div class="icon icon-box-success">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal mt-2">All completed work details of team lead</h6>
          </div>
        </div>
      </div>
      
      
      
    </div>
  </div>

  <div class="col-md-12 col-xl-8 grid-margin">

    <div class="card" id="assignworks">
      <div class="card-body">
        <div class="leave-form">
          <h4 class="card-title mb-4">Works Assigned</h4>
          
          <div class="table-responsive">
            <div class="row mt-3 mb-3">

              <div class=" col-md-5">
                <div class="form-group">
                  <label>From date</label>
                  <input type="date" class="form-control text-offwhite" name="#" id="fdate3" required >                    
                </div>
              </div>
              <div class=" col-md-5">
                <div class="form-group">
                  <label>To date</label>
                  <input type="date" class="form-control text-offwhite" name="#" id="edate3" required  >                    
                </div>
              </div>
              <div class="col-md-2"></div>
              
                        
            </div>
            <table class="table" id="watable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Assigned date</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Executives Assigned</th>
                  <th>Tasks</th>
                  <th>Target</th>
                  <th>Acheived Target</th>
                  <th>progress</th>
                </tr>
              </thead>
              <tbody>
                {% for i in works %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}
                  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="ongoingwork" style="display: none;" >
      <div class="card-body">
        <div class="leave-form">
          <h4 class="card-title mb-4">Ongoing Works</h4>
          
          <div class="table-responsive">
            <div class="row mt-3 mb-3">

              <div class=" col-md-5">
                <div class="form-group">
                  <label>From date</label>
                  <input type="date" class="form-control text-offwhite" name="#" id="fdate1" required >                    
                </div>
              </div>
              <div class=" col-md-5">
                <div class="form-group">
                  <label>To date</label>
                  <input type="date" class="form-control text-offwhite" name="#" id="edate1" required  >                    
                </div>
              </div>
              <div class="col-md-2"></div>
              
                        
            </div>
            <table class="table" id="otable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Task Name</th>
                  <th>Progress</th>
                  <th>Daily Works</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                {% for i in works %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}
                  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    


    <div class="card" id="completedwork" style="display: none;">
      <div class="card-body">
        <h4 class="card-title mb-4">Completed Works</h4>
        <div class="table-responsive">
          <div class="row mt-3 mb-3">

            <div class=" col-md-5">
              <div class="form-group">
                <label>From date</label>
                <input type="date" class="form-control text-offwhite" name="#" id="fdate2" required >                    
              </div>
            </div>
            <div class=" col-md-5">
              <div class="form-group">
                <label>To date</label>
                <input type="date" class="form-control text-offwhite" name="#" id="edate2" required  >                    
              </div>
            </div>
            <div class="col-md-2"></div>
            
                      
          </div>
          <table class="table" id="ctable">
          <thead>
            <tr>
              <th>No</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Task Name</th>
              <th>Progress</th>
              <th>Daily Works</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
            {% for i in view_complaints %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
              
          </tbody>
          </table>
        </div>
      </div>
    </div>

   
  </div>
  
</div>
   
<!-- Modal for daily works-->

<div class="modal fade" id="dworks">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
  
        <div class="card">
          <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
            <h4 class="card-title mt-3 ml-3">Daily Works</h4>
            
          </div>
          
          <div class="card-body mt-0">

            <div class="table-responsive">
                <table class="table" id="dtable">
                    <thead>
                        <tr>
                          <th>No</th>
                          <th>Date</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Acheived Target</th>
                          <th>Verified Target</th>
                          <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                            
                        </tr>
                       
                        
                    </tbody>
                </table>
            </div>

  
           
  
          </div>
  
        </div>
      
      </div>
    </div>
</div>

  

<style>
  a{
      text-decoration: none;
  }
  a:hover{
      text-decoration: none;
  }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Add this script block to your HTML file -->
<script>
  $(document).ready(function () {
    $('#employee-select').change(function () {
      var selectedEmployee = $(this).val();

      if (selectedEmployee) {
        // Show the tables
        $('#works').show();

        $.ajax({
          type: 'POST',
          url: '{% url "admin_get_employee_workdetails" %}',
          data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'employee_id': selectedEmployee
          },
          success: function (data) {
            // Clear the table bodies
            $('#otable tbody').empty();
            $('#ctable tbody').empty();
            $('#dtable tbody').empty();
            $('#watable tbody').empty();

            // Populate the table with the ongoing data
            for (var i = 0; i < data.details1.length; i++) {
              var emp = data.details1[i];
              var statusText = '';
              if (emp.status === 1) {
                statusText = '<p class="badge badge-outline-warning  mb-2">Ongoing</p>';
              } else {
                statusText = '<p class="badge badge-outline-danger mb-2">Completed</p>';
              }
              var progress = `
                <div class="progress">
                  <div class="progress-bar bg-primary progress-bar-animated progress-bar-striped" role="progressbar" style="width: ${emp.progress}%" aria-valuenow="${emp.progress}" aria-valuemin="0" aria-valuemax="100">
                    ${emp.progress}%
                  </div>
                </div>
              `;

              var daily_work = `
                <button class="btn btn-outline-info btn-sm rounded daily-work-btn" data-toggle="modal" data-target="#dworks" data-task-id="${emp.id}">Daily Works</button>
              `;

              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${emp.sdate}</td>
                  <td>${emp.edate}</td>
                  <td>${emp.name}</td>
                  <td>${progress}</td>
                  <td>${daily_work}</td>
                  <td>${statusText}</td>
                </tr>
              `;
              $('#otable tbody').append(newRow);
            }

            // Populate the table with the complete data
            for (var i = 0; i < data.details2.length; i++) {
              var emp = data.details2[i];
              var statusText = '';
              if (emp.status === 2) {
                statusText = '<p class="badge badge-outline-success  mb-2">Completed</p>';
              } else {
                statusText = '<p class="badge badge-outline-danger mb-2">Ongoing</p>';
              }
              var progress = `
                <div class="progress">
                  <div class="progress-bar bg-primary progress-bar-animated progress-bar-striped" role="progressbar" style="width: ${emp.progress}%" aria-valuenow="${emp.progress}" aria-valuemin="0" aria-valuemax="100">
                    ${emp.progress}%
                  </div>
                </div>
              `;

              var daily_work = `
                <button class="btn btn-outline-info btn-sm rounded daily-work-btn" data-toggle="modal" data-target="#dworks" data-task-id="${emp.id}">Daily Works</button>
              `;

              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${emp.sdate}</td>
                  <td>${emp.edate}</td>
                  <td>${emp.name}</td>
                  <td>${progress}</td>
                  <td>${daily_work}</td>
                  <td>${statusText}</td>
                </tr>
              `;
              $('#ctable tbody').append(newRow);
            }

            // Populate the table with the assign data
            for (var i = 0; i < data.details3.length; i++) {
              var emp = data.details3[i];
              var executiveNames = emp.name.join(', '); // Join names with a comma and space
              var taskNames = emp.task.join(', '); // Join names with a comma and space
              var progress = `
                <div class="progress">
                  <div class="progress-bar bg-primary progress-bar-animated progress-bar-striped" role="progressbar" style="width: ${emp.progress}%" aria-valuenow="${emp.progress}" aria-valuemin="0" aria-valuemax="100">
                    ${emp.progress}%
                  </div>
                </div>
              `;

              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${emp.adate}</td>
                  <td>${emp.sdate}</td>
                  <td>${emp.edate}</td>
                  <td>${executiveNames}</td>
                  <td>${taskNames}</td>
                  <td>${emp.target}</td>
                  <td>${emp.atarget}</td>
                  <td>${progress}</td>
                  
                </tr>
              `;
              $('#watable tbody').append(newRow);
            }


            // Event handler for the "Daily Works" button
            bindDailyWorkButtonClick('.daily-work-btn');
          }
        });
      } else {
        // If no option is selected, hide the tables
        $('#works').hide();
      }
    });

    // Event handler for the "Daily Works" button
    function bindDailyWorkButtonClick(selector) {
      $(document).off('click', selector).on('click', selector, function () {
        var taskId = $(this).data('task-id');
        // Perform AJAX request to get daily works for the task ID
        $.ajax({
          type: 'POST',  // Adjust the HTTP method as needed
          url: '{% url "admin_get_employee_dailyworkdetails" %}',
          data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'task_id': taskId
          },
          success: function (data) {
            // Clear the table body
            $('#dtable tbody').empty();

            // Populate the table with the ongoing data
            for (var i = 0; i < data.details.length; i++) {
              var emp = data.details[i];
              var statusText = '';
              if (emp.status === 1) {
                statusText = '<p class="badge badge-outline-success  mb-2">Verified</p>';
              } else {
                statusText = '<p class="badge badge-outline-warning mb-2">Pending</p>';
              }

              var newRow = `
                <tr>
                  <td>${i + 1}</td>
                  <td>${emp.date}</td>
                  <td>${emp.title}</td>
                  <td>${emp.description}</td>
                  <td>${emp.target}</td>
                  <td>${emp.vtarget}</td>
                  <td>${statusText}</td>
                </tr>
              `;
              $('#dtable tbody').append(newRow);
            }
          },
          error: function (error) {
            console.error('Error fetching daily works:', error);
          }
        });
      });
    }
  });
  </script>
  
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
  $(document).ready(function() {
    $('#completework').hide();

    $('#allocated-btn').click(function() {
      $('#ongoingwork').hide();
      $('#completedwork').hide();
      $('#assignworks').show();
    });

    $('#ongoing-btn').click(function() {
      $('#ongoingwork').show();
      $('#completedwork').hide();
      $('#assignworks').hide();
    });

    $('#completed-btn').click(function() {
      $('#ongoingwork').hide();
      $('#assignworks').hide();
      $('#completedwork').show();
    });
  });
</script>

<script>
  // Add event listener for ongoing works date input changes
  $('#fdate1, #edate1').on('change', function () {
    filterTableByDate('otable', 'fdate1', 'edate1');
  });

  // Add event listener for completed works date input changes
  $('#fdate2, #edate2').on('change', function () {
    filterTableByDate('ctable', 'fdate2', 'edate2');
  });

  function filterTableByDate(tableId, fromDateId, toDateId) {
    var startDate = $('#' + fromDateId).val();
    var endDate = $('#' + toDateId).val();

    // Iterate through the specified table rows and hide/show them based on the date range
    $('#' + tableId + ' tbody tr').each(function () {
      var rowStartDate = $(this).find('td:eq(1)').text(); // Assuming start date is in the second column
      var rowEndDate = $(this).find('td:eq(1)').text(); // Assuming end date is in the third column

      if ((startDate === '' || rowStartDate >= startDate) && (endDate === '' || rowEndDate <= endDate)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  }
</script>

<script>
  // Add event listener for assigned works date input changes
  $('#fdate3, #edate3').on('change', function () {
    filterTableByDate('watable', 'fdate3', 'edate3');
  });

  function filterTableByDate(tableId, fromDateId, toDateId) {
    var startDate = $('#' + fromDateId).val();
    var endDate = $('#' + toDateId).val();

    // Iterate through the specified table rows and hide/show them based on the date range
    $('#' + tableId + ' tbody tr').each(function () {
      var rowAssignedDate = $(this).find('td:eq(1)').text(); // Assuming assigned date is in the second column

      if ((startDate === '' || rowAssignedDate >= startDate) && (endDate === '' || rowAssignedDate <= endDate)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  }
</script>

<!-- clear date input whenever an employee is selecte -->

<script>

  function clearDateInputs() {
    document.getElementById("fdate1").value = "";
    document.getElementById("edate1").value = "";
    document.getElementById("fdate2").value = "";
    document.getElementById("edate2").value = "";
    document.getElementById("fdate3").value = "";
    document.getElementById("edate3").value = "";
  }
  
</script> 

{% endblock %}