{% extends 'HD_base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}
<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"  rel="stylesheet" >

<!-- Other Styling -->
<style>

.div-icon
{
  height: 40px;
  width: 40px;
}
.links-div
{
  padding: 0.80rem .60rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  background: rgba(17, 17, 26);
  gap: 0.90rem;
  margin-top: 0.30rem;
  margin-left: 2rem;
  font-size: 12px;
  position: relative;
  color: #e0e0e0;
}
.links-div a{
    text-decoration: none;
    color:#c4c2c2 ;
}
.links-div a:hover{
    text-decoration: none;
    color:#7e7e7e ;
}
.closeBtn 
{
color: #e02e2ef9;
}
.closeBtn:hover
{
  color: #d32626f9; 
}
.leadDetails
{
    display: none;
    position: fixed;
    z-index: 100;
    top: 4.5rem;
    right: 0;
    width: 500px; /* Adjust width as needed */
    background-color: #15171f; /* Adjust background color as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust box-shadow as needed */
    height:600px;

}

.leadDetails.show {
    display: block;
    animation: fade-in 3s forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
.leadDetails-Top
{
    display: grid;
    grid-template-columns: 1fr 32px;
   
}
.leadDetails-Top h6{
    padding: 1.3rem;
    letter-spacing: 1px;
    font-weight:500 ;
    color: #dedede;
}
.close-x
{
    text-align: end;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc1a1a;
    color: #fbfbfb;
    padding: 1px;
}
.Basic-Details
{
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 0.50rem;
}
.Basic-Details .h6,
.More-Deails .h6{
    padding-left: 1.3rem;
    color: #dedede;
    font-size: 14px;
    margin-top: 0.30rem;
}
.bd-innerBox
{
    padding-left: 1.3rem;
    color: #c9c9c9;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 0.90rem;

}
.statusBox
{
    padding-left: 1.3rem;
    color: #c9c9c9;
    display: grid;
    margin-top: 0.875rem;
    font-size: 14px;
    grid-template-columns:1fr 1fr 1fr;
}
.md-innerBox
{
    padding-left: 1.3rem;
    color: #c9c9c9;
    font-size: 13px;
    height: 300px;
    overflow-y: scroll;
 
}
.md-subinner
{
margin-top: .875rem;
display: grid;
grid-template-columns: 1fr 1fr;
}
.md-innerBox::-webkit-scrollbar {
    width: 2px;
}

/* For WebKit browsers (Chrome, Safari) */
.md-innerBox::-webkit-scrollbar-track {
    background: transparent;
}

/* For WebKit browsers (Chrome, Safari) */
.md-innerBox::-webkit-scrollbar-thumb {
    background: #888; /* Adjust scrollbar thumb color as needed */
}

    
      @media(max-width:768px)
      {
        .pagination-box
      {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .leadDetails
        {
            width: calc(100% - 1%);
        }
      }
</style>

<!-- Data Table  Search -->
<style>
    #checkbox-values
    {
        opacity: 0;
    }
    /*   Data Table   */

    .dt-search label
    {
     display: none;

    }
    div.dt-container .dt-search input {
        border: 1px solid #707070;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        color: #a5a5a5;
        margin-left: 3px;
        font-size: 13px;
    }

    div.dt-container select.dt-input {
        padding: 4px 10px;
        border: 1px solid #707070;
        color: #a5a5a5;
        font-size: 13px;
        background-color: transparent;
        width: 100px;
    }
    div.dt-container select option{
        background-color: #15171f; 
    }
    div.dt-container .dt-length label
    {
        display: none;
    }
    div.dt-container .dt-info
    {
        color: #a5a5a5;
        font-size: 13px 
    }



    #leads-data .lead-topBox
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #leads-data .heading h6{
        font-size: 14px;
        color: #c4c2c2;
        letter-spacing: 0.90px;
    }
    .convertion-Box
    {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 0.50rem;
    }
    .lead-section2
    {
        margin-top: 0.897rem;
        padding: .785rem;
        border-top: 1px solid #747373cd;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .statusChange
    {
        letter-spacing: 1px;
        color: #c4c2c2;
    }
    .search-section2_2,
    .search-form
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.30rem;
    }
    .select-Box .select-tag,
    .search-form .input-date
    {
        padding: 0.35rem .30rem;
        background: transparent;
        border: 1px solid #909090;
        border-radius: 5px;
        font-size: 12px;
        color: #dedede;
    }
    .search-form .input-date
    {
        padding: 0.25rem .30rem;
    }
    
    .select-Box .select-tag option
    {
        background: #0d0f14;
    }
    .table-responsive
    {
        border: 1px solid rgba(86, 85, 85, 0.827); 
        padding: 1rem;
    }
    #leadsData thead tr th{
        text-align: center;
        font-size: 13.75px;
        font-weight: 500;
    }
    #leadsData tbody tr td{
        font-size: 12px;
        font-weight: 400;

    }
    
   
</style>

<!-- Pagination -->
<style>
    .paginationBox
    {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 1rem;
    }
    .pagination li
    {
        margin: 0.10rem;
    }
    .pagination .active
    {
        border:1px solid #e3e2e2 ;
    }
    .pagination li a{
        padding: .70rem;
    }
    .section2_2::-webkit-scrollbar {
        width: 1px !important; /* Set the width of the scrollbar */
    }
    
    /* Track */
    .section2_2::-webkit-scrollbar-track {
        background: transparent; /* Set the background color of the track */
    }
    
    /* Handle */
    .section2_2::-webkit-scrollbar-thumb {
        background: #2c2828; /* Set the color of the scrollbar handle */
    }
    
    /* Handle on hover */
    .section2_2::-webkit-scrollbar-thumb:hover {
        background: #555; /* Set the color of the scrollbar handle when hovered */
    }

</style>

<!--- At Media -->
<style>
@media (max-width:1280px)
{

    .lead-section2
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.90rem;
}
.search-section2_1
{
    display: flex;
    justify-content: space-between;
}

#leads-data .col-12
{
    padding-right: 0.05rem; 
    padding-left: 0.05rem; 
}
#leads-data .lead-topBox {
    display: grid;
    grid-template-columns: 1fr;
}
#leads-data .heading h6 {
    font-size: 13px;
    margin-bottom: 0.90rem;
    letter-spacing: 0.80px;

}
.lead-section2
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.70rem;
}
.search-section2_1
{
    gap: 0.50rem;
    margin-bottom: 0.875rem;
}
#downloadFile
{
   
    content: 'Download';
}
.search-section2_2
{
    display: inline-flex;
    width: calc(100% - 1%);
    overflow-x: scroll;
    padding-bottom: 1rem;
}
    .paginationBox
    {
        justify-content: center;
    }
}
</style>

<div class="row" id="leads-data">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!------- Lead Document Section ----->
                <div class="lead-topBox">
                    <div class="heading">
                        <h6>{{ works_obj.clientId.client_name }} -  Lead List ( {{ leads_obj_count }} ) </h6>
                    </div>
                    <div class="convertion-Box">
                        <button type="button" class="btn  btn-dark" title="Print out the lead data">
                            <span class="mdi  mdi-share text-success"></span>
                            <span class="small mr-1">Share</span>
                        </button>
                        <button type="button" class="btn  btn-dark" title="Covert leads to excel">
                            <span class="mdi mdi-file-excel"></span>
                            <span class="small mr-1">Excel</span>
                        </button>
                        <button type="button" class="btn  btn-dark" title="Covert leads to PDF">
                            <span class="mdi mdi-file-pdf text-danger"></span>
                            <span class="small mr-1">PDF</span>
                        </button>
                        <button type="button" class="btn  btn-dark" title="Print out the lead data">
                            <span class="mdi mdi-printer text-primary"></span>
                            <span class="small mr-1">Print</span>
                        </button>
                       
                        
                    </div>

                </div>

                <!----- Search Section ------>
                <div class="lead-section2">

                    <!-- For status change -->
                    <input type="hidden" value="{{works_obj.id}}" id="work-ID">
                    <input type="hidden" value="{{lc_obj.id}}" id="lc-ID">

                    <!------------------------------------------------------------->

                    <div class="search-section2_1">
                        <a href="{% url 'download_excel' works_obj.id lcID %}" class="btn btn-primary" title="Download File Format">
                            <span class="mdi mdi-arrow-collapse-down small"></span>
                            <span class="small" id="downloadFile">Download File Format</span>
                        </a>
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#singlLead">
                            <span class="mdi mdi-plus small"></span>
                            <span class="small" id="leadPlus">Add Leads</span>
                        </button>
                    </div>
                    <div class="search-section2_2" id="search-section2_2">
                        <div>
                            <button type="button"  id="check-count" class="btn btn-dark"> 0 </button>
                        </div>
                        <div class="select-Box">
                            <select class="select-tag" name="select_action" id="select-action">
                                <option value="">Choose Action</option>
                                <option value="Verified">Verify</option>
                                <option value="Unverified">Unverify</option>
                                <option value="Incompleted">Incompleted leads</option>
                                <option value="Waste">Waste</option>
                            </select>
                        </div>
                       
                        
                        <div>
                            <button type="button" id="action_btn" class="btn btn-outline-success">
                                <span class="mdi mdi-check-circle"></span>
                            </button>
                        </div>
                        
                        
                       
                        <form class="search-form" action="{% url 'head_lead_collected_data' works_obj.id lc_obj.id %}" method="post" >
                            {% csrf_token %}
                            <div class="select-Box">
                                <select class="select-tag" name="select_status" id="select-status">
                                    <option value="">Status</option>
                                    <option value="Verified">Verified</option>
                                    <option value="Unverified">Unverified</option>
                                    <option value="Incompleted">Incompleted leads</option>
                                    <option value="Transfer">Transfered leads</option>
                                    <option value="Exist">Check Exist</option>
                                    <option value="Waste">Waste</option>
                                    <option value="Repeated">Repeated</option>
                                </select>
                            </div>
                            <div class="select-Box">
                                <select class="select-tag" name="select_emp" id="select-emp">
                                    <option value="">Employee</option>
                                    {% for exe in executive_data %}
                                        <option value="{{ exe.id }}"> {{ exe.emp_name }} </option>
                                    {% endfor %}
                                    
                                </select>


                            </div>
                            <div class="">
                                <input type="date" class="input-date"  name="sdate">
                            </div>
                            <div class=" ">
                                <input type="date" class="input-date"  name="edate">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-primary">
                                    <span class="mdi mdi-magnify"></span>
                                </button>
                            </div>
                        </form>
                      
                    </div>
                </div>

                <!-------- Table Section ----->

                {% if leads %}

                    <input type="text" id="checkbox-values">
                    <div class="table-responsive">
                        {% if status_change %}
                        <p class="statusChange pb-0 m-0">{{ status_change }} - list  </p>
                        {% else %}
                        <p class="statusChange pb-0 m-0"> All Leads </p>
                        {% endif %}
                       

                        <table class="table table-bordered" id="leadsData">
                            <thead>
                                <tr class="table-active">
                                    <th>
                                        <div class="d-flex justify-content-center">
                                            <div class="form-check form-check-primary m-0 p-0">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input check-all">
                                                
                                            </label>
                                            </div>
                                            
                                        </div>
                                    </th>
                                    <th>Collected By | Created On</th>
                                    <th>Name</th> 
                                    <th>Contact</th>    
                                    <th>Status</th>                         
                                    
                                </tr>
                            </thead>
                        
                            <tbody>
                               
                               
                                {% for lead in leads %}
                                    <tr>

                                        <td >
                                            <div class="d-flex justify-content-center">
                                                <div class="form-check form-check-primary ">
                                                    <label class="form-check-label ">
                                                        <input class="checkbox check-single" name="lead_check" value="{{ lead.id }}" id="" type="checkbox">
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>
                                                <span class="mdi mdi-account "> 
                                                </span>{{ lead.lead_collect_Emp_id.emp_name }}
                                                ( {{ lead.lead_add_date|date:'d-m-y' }} | {{ lead.lead_add_time|date:"H:i:s" }} )
                                                </span>
                                            </p>
                                        
                                        </td>
                                    
                                        <td>
                                            <div class="d-flex justify-content-between">                                   
                                                <p>
                                                    <span class="mdi mdi-account "> </span> {{ lead.lead_name }}
                                                   
                                                </p>
                                                <a class="small ml-2 text-secondary detailsBox-icon btn btn-sm btn-outline-info" data-lead-id="{{ lead.id }}" title="More Details of Lead">
                                                    <span class="mdi mdi-plus mdi-18px ">  </span> 
                                                </a>
                                            </div>
                                            <p>
                                                <span class="mdi mdi-file-check text-secondary small"></span>
                                                <span> Source : {{ lead.lead_source }}</span></p>
                                                
                                        </td>
                                        <td>
                                            <p><span class="mdi mdi-email"> </span> {{ lead.lead_email }}</p>
                                            <p><span class="mdi mdi-phone "> </span> {{ lead.lead_contact }} </p>
                                        </td>
                                        <td>
                                            <p>
                                                {% if lead.lead_status == 1 %}
                                                    <span class="mdi mdi-check-circle text-success small"> Verified</span>
                                                {% endif %}
                                                {% if lead.waste_data == 1 %}
                                                    <span class="mdi mdi-check-circle text-danger small"> Waste</span>
                                                {% endif %}
                                                {% if lead.waste_data == 1 %}
                                                    <span class="mdi mdi-check-circle text-warning small"> Incomplete Lead</span>
                                                {% endif %}
                                            </p>
                                        </td>
                                    
                                        
                                        
                                    </tr>
                                {% endfor %}
                           
                            
                            </tbody>
                        </table>
                    </div>

                   

                    <div class=" paginationBox ">
                        <ul class="pagination">
                            {% if leads.has_previous %}
                            <li><a href="?page=1{% if status %}&status={{ status }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}" class="btn btn-dark"><span class="mdi mdi-chevron-double-left"></span></a></li>
                            <li><a href="?page={{ leads.previous_page_number }}{% if status %}&status={{ status }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}" class="btn btn-dark"><span class="mdi mdi-chevron-left"></span></a></li>
                            {% endif %}
                            {% for num in leads.paginator.page_range %}
                                {% if num <= 4 or num == leads.paginator.num_pages or leads.number == num %}
                                    <li {% if leads.number == num %} class="active" {% endif %}>
                                        <a href="?page={{ num }}{% if status %}&status={{ status }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}" class="btn btn-dark"><span>{{ num }}</span></a></li>
                                {% endif %}
                               
                            {% endfor %}
                            {% if leads.has_next %}
                            <li><a href="?page={{ leads.next_page_number }}{% if status %}&status={{ status }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}" class="btn btn-dark"><span class="mdi mdi-chevron-right"></span></a></li>
                            <li><a href="?page={{ leads.paginator.num_pages }}{% if status %}&status={{ status }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}" class="btn btn-dark"><span class="mdi mdi-chevron-double-right"></span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    

                {% else %}
        
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images\file-icons\no-data-file.png' %}">
                    </div>
        
                {% endif %}
                
                
            </div>
        </div>
    </div>
</div>


<div class=" leadDetails">
    <div class="leadDetails-Top">
        <h6>Lead Details </h6>
        <div class="close-x"><span class="mdi mdi-close"></span> </div>
    </div>

    <div class="Basic-Details">
        <div class="h6">Basic Details</div>
        <div class="bd-innerBox">
            <span class="mdi mdi-account small"><span class="ml-1" id="leadName"></span></span> 
            <span class="mdi mdi-phone small"><span class="ml-1"  id="leadPhone"></span></span>
            <span class="mdi mdi-email small"><span class="ml-1"  id="leadEmail"></span></span>
            
        </div>

        <div class="statusBox">
            <span class="mdi small" id="un-verify-icon"><span class="ml-1" id="verify"></span></span> 
            <span class="mdi mdi-delete-sweep small" id="waste-icon"><span class="ml-1" id="waste"></span></span> 
            <span class="mdi mdi-alert small"><span class="ml-1" id="incomplete"></span></span> 
        </div>
    </div>
    <div class="More-Deails">
        <div class="h6">More Details</div>
        <div class="md-innerBox">
            
        </div>
    </div>
       
</div>


<!-- Multile Lead  Entry From Ecxel-->
<div class="modal fade" id="fileUpload">
    <div class="modal-dialog ">
      <div class="modal-content">
  
        <div class="card">
          <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
            <h4 class="card-title mt-3 ml-3">Upload Data File </h4>
            <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
          </div>
          <p class="mt-1 ml-3"> * You can upload only excel file data here</p>
          
          <div class="card-body mt-0">
  
            <form action="{% url 'Head_lead_file_upload' works_obj.id lcID %}" method="post"  enctype="multipart/form-data">
             
              {% csrf_token %}
              <div class="form-group add-items mt-3">
                <label>Upload Yor Data File Here..</label>
                <input type="file" class="form-control text-offwhite" name="upload_File" accept=".xlsx" />  
              </div>
             
              <div class="add-items d-flex justify-content-center ">
                  <button class=" btn btn-outline-primary " type="submit">
                    <span class="mdi mdi-arrow-expand-up mr-1"></span><span class="small">Upload</span>
                </button> 
              </div>
          
          </form>
  
          </div>
  
        </div>
      
      </div>
    </div>
</div>


<!--  Single  lead Entry-->
<div class="modal fade" id="singlLead">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="card">
          <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
            <h4 class="card-title mt-3 ml-3">Lead Details Entry </h4>
            <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
          </div>
          <p class="mt-1 ml-3"> * You can add lead data here</p>
          
          <div class="card-body mt-0">

            <button class="btn btn-primary" data-toggle="modal" data-target="#fileUpload">
                <span class="mdi mdi-arrow-expand-up mr-1"></span><span class="small"></span>
            </button>
  
            <form action="{% url 'Head_lead_add' works_obj.id %}" method="post"  enctype="multipart/form-data">
            
              {% csrf_token %}
              <div class="row">
                <input type="hidden" value="{{lcID}}" name="lcid">
                <div class="col-12 grid-margin">
                    <div class="form-group add-items">
                        <label>Full Name</label>
                        <input type="text" class="form-control text-offwhite" name="leadName" accept=".xlsx" />  
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group add-items ">
                        <label>Email id</label>
                        <input type="email" class="form-control text-offwhite bg-transparent"  name="leadEmail" required>  
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group add-items">
                        <label>Contact Number</label>
                        <input type="tel" class="form-control text-offwhite bg-transparent" name="leadContact" required>  
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group add-items">
                        <label>Source Of lead</label>
                        <input type="text" class="form-control text-offwhite bg-transparent" name="source" required>  
                    </div>
                </div>
                
                
                {% for fieldname in lf_obj %}
                <div class="col-12">
                    <div class="form-group add-items">
                        <label>{{ fieldname.field_name  }}</label>
                        <input type="text" class="form-control text-offwhite " name="leadfield">  
                    </div>
                </div>
                {% endfor %}
              </div>
              
                
                <div class="add-items d-flex justify-content-center ">
                    <button class=" btn btn-outline-primary " type="submit">
                        <span class="mdi mdi-plus mr-1"></span><span class="small">ADD</span>
                    </button> 
                </div>

            
          
          </form>
  
          </div>
  
        </div>
      
      </div>
    </div>
</div>


<!--- Script Section  -->          
                  

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Get the span element
    var downloadSpan = document.getElementById("downloadFile");

    // Add event listener for window resize
    window.addEventListener("resize", function() {
        // Check the window width
        if (window.innerWidth <= 768) {
            // Change the text content when window width is less than or equal to 768px
            downloadSpan.textContent = "Download";
        } else {
            // Revert back to original text content for other window widths
            downloadSpan.textContent = "Download File Format";
        }
    });

    // Initial check for window width on page load
    if (window.innerWidth <= 768) {
        downloadSpan.textContent = "Download";
    }
</script>

    <script>
        $(document).ready(function(){
            $('#action_btn').click(function(){
                var selectedValue = $('#select-action').val();
                var checkedValues = [];
                var wID = $('#work-ID').val()
                var lID = $('#lc-ID').val()

                // Iterate through all checkboxes with class "check-single"
                $('.check-single:checked').each(function(){
                    checkedValues.push($(this).val()); // Push the value of checked checkbox to the array
                });
                $('#checkbox-values').val(checkedValues.join(','));
                // Check if no checkboxes are checked
                if (checkedValues.length === 0) {
                    // Display an alert to check at least one lead
                    alert('Please check at least one lead.');
                    return; // Exit the function without submitting the form
                }
                var leadIDs = $('#checkbox-values').val()
                console.log(leadIDs)
                $.ajax({
                    url: "{% url 'lead_status_change' %}",
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken') // Fetch CSRF token from cookies
                    },
                    data: {
                        selected_value: selectedValue,
                        checked_values: leadIDs,
                        wID:wID,
                        lID:lID
                    },
                    success: function(response){
                        console.log(response);
                        alert(response.message)
                        var workId = response.work_id ? response.work_id : 0;
                        var lCId = response.work_id ? response.lcid : 0;
                    
                        // Construct the URL with the appropriate workId value
                        var newUrl = '/Client/Lead-Data-List/' + workId + '/' + lCId;;
                        
                        window.location.href = newUrl;
                    },
                    error: function(xhr, status, error){
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
            });
        });

        // Function to get CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Check if the cookie name matches the CSRF token cookie name
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    // Extract and return the CSRF token value
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>


    <script>
         $(document).ready(function() {
            new DataTable('#leadsData', {
                search: {
                    return: true
                },
                columnDefs: [
                {
                    orderable: false,
                    className: 'check-single',
                    targets: 0,
                }
            ],
            paging: false 
            
        });
      
    
       
    });
    </script>

    

    <script>
        $(document).ready(function () {
            // Check All checkbox change event
            $('.check-all').change(function () {
                if ($(this).is(':checked')) {
                    // Check all the individual checkboxes
                    $('.check-single').prop('checked', true);
                } else {
                    // Uncheck all the individual checkboxes
                    $('.check-single').prop('checked', false);
                }
                
                // Update the count of checked checkboxes
                var checkedCount = $('.check-single:checked').length;
                $('#check-count').text(checkedCount);
            });
            
            // Individual checkbox change event
            $('.check-single').change(function () {
                // Update the count of checked checkboxes
                var checkedCount = $('.check-single:checked').length;
                $('#check-count').text(checkedCount);
            });
        });
    </script>


    <script>
        $(document).ready(function(){
            $(".div-icon").click(function(){
            $(".links-div").hide();
            $(this).siblings(".links-div").toggle();
            });
            $(".closeBtn").click(function(){
            $(".links-div").hide();
            $(this).siblings(".links-div").toggle();
            });
            
            
        });
    </script>
  

    <script>
        $(document).ready(function() {
            $(document).on("click", ".detailsBox-icon", function() {
                $(".leadDetails").toggleClass("show");
            });
            $(document).on("click", ".close-x", function() {
                $(".leadDetails").toggleClass("show");
            });
        });
        
    </script>

    <script>
        $(document).ready(function() {
            $(document).on("click", ".detailsBox-icon", function() {
                var leadId = $(this).data('lead-id');
                $.ajax({
                    url: "{% url 'HD_featchLeadDetails' %}",
                    type: 'GET', 
                    data: {
                        lead_id: leadId
                    },
                    success: function(response) {
                        if (response.hasOwnProperty('lead_basic')) {
                            var leadBasic = response.lead_basic;
                            
                            // Update basic lead details
                            $("#leadName").text(leadBasic.name);
                            $("#leadEmail").text(leadBasic.email);
                            $("#leadPhone").text(leadBasic.phone);
                          
                            $("#verify").text(leadBasic.verify);
                            if ($("#verify").text().trim() == "Lead is Verified") {
                                $("#un-verify-icon").removeClass("mdi-close-circle-outline text-danger");
                                $("#un-verify-icon").addClass("mdi-check-circle text-success");
                            }
                            else{
                                $("#un-verify-icon").removeClass("mdi-check-circle text-success");
                                $("#un-verify-icon").addClass("mdi-close-circle-outline text-danger");
                                
                                }
                            
                            $("#waste").text(leadBasic.waste);
                            if ($("#waste").text().trim() == "Lead is marked as waste") {
                                $("#waste-icon").addClass(" text-danger");

                            }
                            $("#incomplete").text(leadBasic.incomplete);
        
                            // Update additional lead details
                            var leadDetails = response.lead_details;
                            var mdInnerBox = $(".md-innerBox");
                            mdInnerBox.empty(); // Clear existing content

                            var subInner = $("<div>").addClass("md-subinner");
                                var span1 = $("<span>").text('Source' );
                                var span2 = $("<span>").text( ":  " + leadBasic.source);
                                subInner.append(span1, span2);
                                mdInnerBox.append(subInner);
                            
                            $.each(leadDetails, function(lead_field_name, lead_field_data) {
                                var subInner = $("<div>").addClass("md-subinner");
                                var span1 = $("<span>").text(lead_field_name );
                                var span2 = $("<span>").text( ":  " + lead_field_data);
                                subInner.append(span1, span2);
                                mdInnerBox.append(subInner);
                            });
                        } else {
                            console.error('Error: Lead basic details not found in response');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching lead details:', error);
                    }
                });
            });
        });
    </script>
    

{% endblock %}




