{% extends 'HD_base.html' %}
{% load static %}
{% block body %}

<style>
    .text-sm 
    {
        font-size: 12px;
        padding: 0.70rem .90rem;
    }
    .table th, .jsgrid .jsgrid-table th
     {
        padding: 0.7375rem;
        }
      

    .table td, .jsgrid .jsgrid-table td {
        padding: 0.5375rem;
        }
      
    .card-title
    {
        font-size: 15px;
        color: rgba(227, 227, 227, 0.921) !important;
        letter-spacing: 0.04rem;
    }
    .reallocate-Box
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 0.50rem;
        margin-bottom: 1rem;

    }
    .select-boxForm
    {
        width: 100%;
        padding: 0.70rem .70rem;
        background-color: rgba(15, 19, 28, 0.804);
        color: rgb(224, 224, 224);
        font-size: 13px;
        border-radius: 35px;
        border: 1px solid #a8a8a8c5;
    }
</style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Employee allocated list</li>
        </ol>
      </nav>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 grid-margin">
        <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h4 class="card-title">Allocated Employees List</h4>
                
            </div>

            <form action="{% url 'head_reallocate_teamLead'  %}" method="post" >
        
                {% csrf_token %}

           
            <div class="reallocate-Box">
                <div>
                    <select class="select-boxForm" name="alocated_to" id="#" required>
                        <option value="" selected> select team lead  </option>
                    {% for team in Team_leads %}
                    <option value="{{team.id}}"> 
                        {{team.emp_name}}
                        </option>
                    {% endfor %}
                    </select>       
                </div>
                        
                <div>
                    <button class=" btn btn-outline-primary rounded-pill text-sm " type="submit">Re-allocate</button> 
                </div>       
            
                
            </div>
            
            
            <div class="table-responsive">
                <table class="table" id="employee-allocated">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <div class="d-flex ">
                                <div class="form-check form-check-primary m-0 p-0">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input check-all">
                                    
                                </label>
                                </div>
                                
                            </div>
                        </th>
                 
                  
                    <th> Executive </th>
                    <th> Team Lead  </th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for emp in allocated_employees %}
                   
            
                        <tr>
                            <td >
                                <div class="d-flex ">
                                    <div class="form-check form-check-primary ">
                                        <label class="form-check-label ">
                                            <input class="checkbox check-single" name="emp_check" value="{{ emp.allocatEmp_id.id }}" id="" type="checkbox">
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if emp.allocatEmp_id.emp_profile %}
                                <img src="{{emp.allocatEmp_id.emp_profile.url}}" alt="Profile-image" />
                                {% else %}
                                <img src="{% static 'images/faces/profile-icon.png' %}" alt="Profile-image" />
                                {% endif %}
                                <span class="pl-2">{{emp.allocatEmp_id.emp_name}}</span>
                            </td>
                           
                            
                            <td>
                                {% if emp.allocat_to.emp_profile %}
                                <img src="{{emp.allocat_to.emp_profile.url}}" alt="Profile-image" />
                                {% else %}
                                <img src="{% static 'images/faces/profile-icon.png' %}" alt="Profile-image" />
                                {% endif %}
                                <span class="pl-2">{{emp.allocat_to.emp_name}}</span>
                            </td> 
                            
                        
                        </tr>
                   
                {% endfor %}
                </tbody>
                </table>
            </div>
        </form>
        </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Check All checkbox change event
        $('.check-all').change(function () {
            if ($(this).is(':checked')) {
                // Check all the individual checkboxes
                $('.check-single').prop('checked', true);
            } else {
                // Uncheck all the individual checkboxes
                $('.check-single').prop('checked', false);
            }
  
            // Update the count of checked checkboxes
            var checkedCount = $('.check-single:checked').length;
            $('#check-count').text(checkedCount);
        });
        
        // Individual checkbox change event
        $('.check-single').change(function () {
            // Update the count of checked checkboxes
            var checkedCount = $('.check-single:checked').length;
            $('#check-count').text(checkedCount);
        });
    });


</script>


{% endblock %}