{% extends 'HD_base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}

<style>
    ul li{
        list-style: none;
    }
    
    .fieldsBox
    {   
        padding: .60rem .40rem;
        background: #14171eee;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
    .closeBtn 
    {
    color: #e02e2ef9;
    font-size: 12px;
    cursor: pointer;
    }
    .closeBtn:hover
    {
    color: #d32626f9; 
    }

    .leadDetails
    {
        display: none;
        position: fixed;
        z-index: 100;
        top: 4.5rem;
        right: 0;
        height: 70%;
        width: 300px; /* Adjust width as needed */
        background-color: #15171f; /* Adjust background color as needed */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust box-shadow as needed */
    
    }
    
    .leadDetails.show {
        display: block;
    }
    .leadDetails-Top
    {
        display: grid;
        grid-template-columns: 1fr 32px;
       
    }
    .leadDetails-Top h6{
        padding: 1.3rem;
        letter-spacing: 1.4px;
        font-weight:400 ;
        color: #bebebe;
        font-size: 14px;
    }
    .close-x
    {
        text-align: end;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #dc1a1a;
        color: #fbfbfb;
        padding: 5px;
    }
    .fields-Details
    {
        margin-bottom: 0.10rem;
        padding-bottom: 0.50rem;

    }
    #resultContainer 
    {
        height: 80%;
        overflow-y: scroll;
        background-color: #191f27da;
    }
    #resultContainer  p{
        color: #d0d0d0;
        letter-spacing: 1px;
        padding-top: 0.80rem;
        font-size: 12px;
        padding-left: 1rem;
    }
   
    #resultContainer ul
    {
        padding-top: 0.30rem;
    }
    #resultContainer ul li{
        font-size: 12.3px;
        padding-bottom: 0.80rem;
        color: #d0d0d0;
        letter-spacing: 1px;
    }
   
    #resultContainer::-webkit-scrollbar {
        width: 2px;
    }
    
    /* For WebKit browsers (Chrome, Safari) */
    #resultContainer::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* For WebKit browsers (Chrome, Safari) */
    #resultContainer::-webkit-scrollbar-thumb {
        background: #888; /* Adjust scrollbar thumb color as needed */
    }
    @media (max-width:672px)
    {
        .leadDetails
        {
            width:100%; /* Adjust width as needed */
            top: 4.4rem;
            height:90%;
        }
        .close-x
        {
            padding: 5px;
        }
       
    }
    
</style>





<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Lead Collection</li>
        </ol>
      </nav>
</div>



<div class=" leadDetails">
    <div class="leadDetails-Top">
        <h6>Category Fields </h6>
        <div class="close-x"><span class="mdi mdi-close"></span> </div>
    </div>

    <div class="fields-Details" id="resultContainer">

    </div>
   
       
</div>


<div class="row mt-1">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                {% if client_tasks %}
                <div class="row">
                    <div class="col-sm-12 col-lg-8 col-md-7 col-xl-9  grid-margin">
                    <h5 class="card-title custom-letter-spacing"> Clients For Lead Collection</h5>
                    </div>
                    <div class="col-sm-12 col-lg-5 col-md-5 col-xl-3 d-flex justify-content-end  grid-margin">
                    <div class="d-flex ">
                        <input  class="form-control text-offwhite mr-1" name="#" id="search-data" placeholder="search here..">
                        <span class="text-danger mdi mdi-close" id="closeBtn" type="button"></span> 
                    </div>
                    </div>
                </div>
        
                <div class="table-responsive">
                    <table class="table" id="leads-data-client">
                        <thead>
                            <tr>
                            
                            <th> No</th>
                            <th> Client Name</th>
                            <th> Start Date  </th>
                            <th> End Date </th>
                            <th > Lead Category </th>
                            <th> Fileds </th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for cl_task in client_tasks %}
                        <tr>
                        
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cl_task.client_Id.client_name }}</td>
                        <td>{{ cl_task.work_Id.work_create_date }}</td>
                        <td>{{ cl_task.work_Id.work_end_date }}</td>
                        
                        <td>
                           
                            <ul>
                                {% for lc in lc_obj %}
                                {% if lc.cTaskId.id == cl_task.id %}
                                <li>
                                    <p>
                                        <a href="{% url 'head_lead_collected_data' cl_task.work_Id.id lc.id %}" >
                                            <button class="btn btn-outline-warning">
                                                <span class="small">{{ lc.lead_collection_for }} Collected Data</span>
                                            </button>
                                        </a>
                                    </p>
                                   
                                </li>
                                
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                       <td >
                        {% for lc in lc_obj %}
                        {% if lc.cTaskId.id == cl_task.id %}
                        <button class="btn filed-icon" title="Data Collection Fields"  data-category-id="{{ lc.id }}">
                            <span class="mdi mdi-file-document mdi-18px"></span>
                        </button> 
                        {% endif %}
                        {% endfor %}
                            
                        </td>
                       
                        </tr>
                        {% endfor %}
                    
                        </tbody>
                    </table>
                </div>

            {% else %}
            
                <div class="d-flex justify-content-center">
                <img src="{% static 'images\file-icons\no-data-file.png' %}">
                </div>
            
            {% endif %}
                        
                        
            </div>
        </div>
    </div>
</div>


<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('leads-data-client');
    closeBtn.style.display = 'none';
  
    inputField.addEventListener('input', function() {
        filterTable();
    });
  
    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');
  
        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
           
            const Cell5 = rows[i].getElementsByTagName('td')[5];
           
            
  
            if (Cell1 || Cell2 || Cell3 || Cell5 ) {
  
                const datacell1 = Cell1.textContent || Cell1.innerText;
                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
              
                const datacell5 = Cell5.textContent || Cell5.innerText;
                
  
                if (datacell1.toLowerCase().includes(filterValue) ||
                 datacell2.toLowerCase().includes(filterValue) || 
                 datacell3.toLowerCase().includes(filterValue) ||
                 datacell5.toLowerCase().includes(filterValue)) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
  
     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });
  
    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>


<script>
    $(document).ready(function() {
        $(document).on("click", ".filed-icon", function() {
            $(".leadDetails").toggleClass("show");
        });
        $(".close-x").click(function() {
            $(".leadDetails").toggleClass("show");
        });
    });
    

    $(document).ready(function() {
        $(document).on("click", ".filed-icon", function() {
            var cId = $(this).data('category-id');
            console.log(cId)
            $.ajax({
                url: "{% url 'HD_featchLeadFields' %}",
                type: 'GET', 
                data: {
                    category_Id: cId
                },
                success: function(response) {
                    console.log('Success')
                    var categoryFields = response.category_fields;
        
                    // Clear any existing content
                    $('#resultContainer').empty();

                    // Build HTML for list
                    var html = ' <p  >Fileds : </p> <ul >';
                    $.each(categoryFields, function(index, field) {
                        html += '<li>' + field + '</li>';
                    });
                    html += '</ul>';

                    // Append HTML to result container
                    $('#resultContainer').html(html);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching lead details:', error);
                }
            });
        });
    });
</script>
    
{% endblock %}