{% extends 'TL_base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}
<style>
  a{
    text-decoration: none;
  }
</style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'tl_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Waste Data</li>
        </ol>
      </nav>
</div>



<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h4 class="card-title">Tasks Added</h4>
                
            </div>
            <p>* Click the Update Target button of the corresponding daily task in which the target is to be updated</p>

 
          <div class="table-responsive">
            <table class="table" id="employee-leaves">
              <thead>
                <tr>
                  <th> Date </th>
                  <th> Title </th>
                <th> Description </th>
                  <th> Target </th>
                  <th> Verified Target </th>
                  <th> Status </th>
                  <th>Action</th>
                 
                </tr>
              </thead>
              <tbody>
                {% for td in taskDet %}
                <tr>
                  <td> {{td.tad_collect_date}}</td>
                  <td> {{td.tad_title}} 
                  <td> {{td.tad_discription}} 
                  <td> {{td.tad_target}} 
                  <td> {{td.tad_verified_target}}
                  
                  
                  <td>
                    {% if td.tad_status == 0 %} 
                    <a class=" badge badge-outline-danger " >Not Verified</a>
                    {% else %}
                    <a class=" badge badge-outline-success " >Verified</a>
                    {% endif %}
                  </td>
                  <td>
                    <a class=" badge badge-outline-warning " href="{% url 'tl_update_target_dailyTask' td.id waste_lead.id %}" >Update Target</a>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
            
          </div>
         
        </div>
      </div>
    </div>
</div>




{% endblock %}