{% extends 'TL_base.html' %}

{% load static %}
{% load custom_filters %}
{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">

<!-- Other Styling -->
<style>
    
   
  
   .table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {
    padding: 0.4375rem;
    }
    .top-h4
    {
        color: #bababa;
        font-size: 17px;
        letter-spacing: 1px;
    }
    .g-1
    {
        gap: 1rem;
    }
    #checkbox-values
    {
        opacity: 0;
    }
    /*   Data Table   */

    .dt-search label
    {
     display: none;

    }
    div.dt-container .dt-search input {
        border: 1px solid #707070;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        color: #a5a5a5;
        margin-left: 3px;
        font-size: 13px;
    }

    div.dt-container select.dt-input {
        padding: 4px 10px;
        border: 1px solid #707070;
        color: #a5a5a5;
        font-size: 13px;
        background-color: transparent;
        width: 100px;
    }
    div.dt-container select option{
        background-color: #15171f; 
    }
    div.dt-container .dt-length label
    {
        display: none;
    }
    div.dt-container .dt-info
    {
        color: #a5a5a5;
        font-size: 13px ;
    }



    #waste-data .lead-topBox
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #waste-data .heading h6{
        font-size: 14px;
        color: #c4c2c2;
        letter-spacing: 0.90px;
    }
    .convertion-Box
    {
        display: grid;
        grid-template-columns:1fr 1fr ;
        gap: 0.50rem;
    }
    .lead-section2
    {
        margin-top: 0.897rem;
        padding: .785rem;
        border-top: 1px solid #747373cd;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .statusChange
    {
        letter-spacing: 1px;
        color: #c4c2c2;
    }
    .search-section2_2,
    .search-form
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.30rem;
    }
    .search-section2_2
    {
        display: inline-flex;
        width: calc(100% - 1%);
        overflow-x: scroll;
        margin: 0;
        padding-bottom: 0.30rem;
    }
    .select-Box .select-tag,
    .search-form .input-date
    {
        padding: 0.35rem .30rem;
        background: transparent;
        border: 1px solid #909090;
        border-radius: 5px;
        font-size: 12px;
        color: #dedede;
    }
    .search-form .input-date
    {
        padding: 0.25rem .30rem;
    }
    
    .select-Box .select-tag option
    {
        background: #0d0f14;
    }
    .table-responsive
    {
        border: 1px solid rgba(86, 85, 85, 0.827); 
        padding: 1rem;
    }
    #waste-data thead tr th{
        text-align: center;
        font-size: 13.75px;
        font-weight: 500;
    }
    #waste-data tbody tr td{
        font-size: 12px;
        font-weight: 400;

    }

    #search-section2_2::-webkit-scrollbar {
        width: 1px;
        border-radius: 10px;
    }
    
    /* For WebKit browsers (Chrome, Safari) */
    #search-section2_2::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* For WebKit browsers (Chrome, Safari) */
    #search-section2_2::-webkit-scrollbar-thumb {
        background: #04050bb5; /* Adjust scrollbar thumb color as needed */
    }
    
        
    
   
</style>

<!-- Pagination -->
<style>
    .paginationBox-scroll
    {
        width: 100%;
    }
    .paginationBox
    {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 1rem;
        gap: 0.30rem;
    }
    .pagination li
    {
        margin: 0.10rem;
      
    }
    .pagination .active
    {
        border:1px solid #e3e2e2 ;
    }
    .pagination li a{
        padding: .70rem;
    }
 
@media (max-width:732px)
{
    .paginationBox-scroll
    {
        width:calc(100% - 1%);
        overflow-y:scroll;
    }
}
</style>

<!--- At Media -->
<style>
@media (max-width:1280px)
{

    .lead-section2
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.90rem;
}
.search-section2_1
{
    display: flex;
    justify-content: space-between;
}

#leads-data .col-12
{
    padding-right: 0.05rem; 
    padding-left: 0.05rem; 
}
#leads-data .lead-topBox {
    display: grid;
    grid-template-columns: 1fr;
}
#leads-data .heading h6 {
    font-size: 13px;
    margin-bottom: 0.90rem;
    letter-spacing: 0.80px;

}
.lead-section2
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.70rem;
}
.search-section2_1
{
    gap: 0.50rem;
    margin-bottom: 0.875rem;
}


    .paginationBox
    {
        justify-content: center;
    }
}
</style>


<style>
    .activityBox
    {
        background-color: #21272dfb;
    }
    .activityBox .modal-title
    {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 400;
        color: #c0c0c0;
    }
    .activity-MainBox
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.50rem;
    }
    .activity-MainBox .basic-details
    {
        border-bottom: 1px solid rgb(201, 201, 201); 
        margin-bottom: 1rem;
    }
    .activity-leftBox h6,
    .activity-rightBox h6
   {
        font-size: 13.8px;
        letter-spacing: 1px;
        color: #c0c0c0;
    }
    .activity-leftBox p{
        color: #979797;
    }
    .activity-panel
    {
        border-top: 1px solid rgb(201, 201, 201); 
        display: grid;
        grid-template-columns: 2.5fr 1fr;
    }
    .collect-history
    {
        padding-left: 0.80rem;
    }
    .activity-history h5,
    .collect-history h5{
        font-size: 12.7px;
        letter-spacing: 1px;
        color: #d1d1d1;
        margin-top: 1rem;
    }
    .lead-more-details
    {
        height: 200px;
        overflow-y: scroll;
    }
    .Collected-details p{
        font-size: 12px;
        color: #b3b3b3;
    }
    .history-track
    {
        height: 320px;
        overflow-y: scroll;
    }
    .waste-reason p{
        font-size: 12.5px;
        color: #bdbdbd;
    }
    .lead-more-details::-webkit-scrollbar,
    .history-track::-webkit-scrollbar
     {
        width: 1px; /* Set the width of the scrollbar */
    }
    
    /* For webkit browsers */
    .lead-more-details::-webkit-scrollbar-track,
    .history-track::-webkit-scrollbar-track {
        background: transparent; /* Set the background color of the track */
    }
    
    /* For webkit browsers */
    .lead-more-details::-webkit-scrollbar-thumb,
    .history-track::-webkit-scrollbar-thumb {
        background: #888; /* Set the color of the scrollbar thumb */
        border-radius: 10px; /* Set the border radius of the scrollbar thumb */
    }
    .lead-more-details .more-details
    {
        display: grid;
        grid-template-columns: 1fr 10px 1fr;
    }
    .followup-details
    {
        border-bottom: 1px solid rgba(165, 165, 165, 0.71); 
       
        margin-top: 0.40rem;
       
    }
    .followup-details p,
    .followup-history p{
        font-size: 12.5px;
        color: #d5d5d5;
    }
    .followup-details .top-details,
    .followup-history .top-details
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .waste-reason-ststus
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .history-div
    {
        border-bottom: 1px solid rgb(150, 150, 150);
        padding: 10px 5px; 
    }
    @media (max-width:1032px)
    {
        .activity-MainBox
        {
            grid-template-columns: 1fr;
           
        }
    }
    @media (max-width:632px)
    {
    .activity-panel {
        
        grid-template-columns:1fr;
    }
    .waste-reason-ststus
    {
        grid-template-columns:1fr;
    }
    .modal-footer {
        flex-wrap: nowrap
    }
}
</style>


<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_waste_lead' %}">Leads Tracker</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page"> Tracker </li>
        </ol>
      </nav>
</div>


<div class="row" id="waste-data">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!------- Lead Document Section ----->
                <div class="lead-topBox">
                    <div class="heading">
                        <h6> Leads Tracker ( {{ leads_obj_count }} ) </h6>
                    </div>
           

                </div>

                <!----- Search Section ------>
                <div class="lead-section2">
                    
                    <div class="search-section2_2" id="search-section2_2">
                        
                        <form class="search-form" action="{% url 'tl_lead_tracker' %}" method="post" >
                            {% csrf_token %}

                           

                                <div class="select-Box">
                                    <select class="select-tag" name="pgnum" id="select-count">
                                        {% if pg_num %}
                                        <option value="{{ pg_num }}" selected>{{ pg_num }}</option>   
                                        {% endif %}
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="150">150</option>
                                        <option value="250">250</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    
                                    </select>
                                </div>
                                <div class="select-Box">
                                    <select class="select-tag" name="select_lead_ststus" id="select-lead-ststus">
                                        <option value="">lead status</option>
                                    
                                            <option value="Not Attended"> Not Attended </option>
                                            <option value="Allocated"> Allocated </option>
                                            <option value="Opend"> Opend </option>
                                            <option value="Recalled"> Recalled </option>
                                            <option value="Joined"> Joined </option>
                                            <option value="Closed"> Closed </option>
                                        
                                        
                                    </select>
                                    

                                </div>
                                <div class="select-Box">
                                    <select class="select-tag" name="fs_status" id="select-fs-ststus">
                                        <option value="">Followup status</option>
                                        <option value="No updation">No updation</option>
                                    
                                        {% for fs in fs_obj %}
                                            <option value="{{ fs.status_name }}"> {{ fs.status_name  }}</option>
                                        {% endfor %}
                                        <option value="Mark as waste"> Mark as waste</option>
                                       
                                        
                                        
                                    </select>
                                </div>
                                
                                <div class="select-Box">
                                    <select class="select-tag"  id="client-change" name="client_change">
                                        <option value="">Client</option>
                                        {% for client in clients_objs %}
                                            <option value="{{ client.client_Id.id }}"> {{ client.client_Id.client_name }}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                                <div class="select-Box">
                                    <select class="select-tag" id="lead-category" name="category_name">
                                        <option value="">Category</option>
                                        
                                    </select>

                                </div>
                            
                                <div class="select-Box">
                                    <select class="select-tag" name="select_emp" id="select-emp">
                                        <option value="">Executive</option>
                                        {% for exe in executive_data %}
                                            <option value="{{ exe.id }}"> {{ exe.emp_name }} </option>
                                        {% endfor %}
                                        
                                    </select>

                                </div>
                                
                                <div class="">
                                    <input type="date" class="input-date"  name="sdate" title="Lead Transfer from ">
                                </div>
                                <div class=" ">
                                    <input type="date" class="input-date"  name="edate" title="Lead Transfer to ">
                                </div>

                                <!-- Telecaller -->
                                <div class="select-Box">
                                    <select class="select-tag" name="select_telecaller_emp" id="select-telecaller-emp">
                                        <option value="">Telecaller</option>
                                        {% for tele in telecaller_data %}
                                            <option value="{{ tele.id }}"> {{ tele.emp_name }} </option>
                                        {% endfor %}
                                        
                                    </select>

                                </div>
                                
                                <div class="">
                                    <input type="date" class="input-date"  name="waste_sdate" title="Lead allocated from ">
                                </div>
                                <div class=" ">
                                    <input type="date" class="input-date"  name="waste_edate" title="Lead allocated to ">
                                </div>

                           
                            <div>
                                <button type="submit" class="btn btn-outline-primary">
                                    <span class="mdi mdi-magnify"></span>
                                </button>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
                <div>
                    <p class="small mt-2">
                        {% if select_lead_ststus %} Lead Status -  {{select_lead_ststus}} &nbsp; /  {% endif %}
                        {% if fs_status %}  &nbsp; Followup Status  -  &nbsp;{{fs_status}}  {% endif %}
                        
                        {% if client_name %}  {{ client_name.client_name }} -  {% endif %}
                      
                        {% if category_name %} ( {{ category_name.lead_collection_for }} )  {% endif %}
                        {% if select_emp %} &nbsp; {{ select_emp.emp_name }} &nbsp;&nbsp;/  {% endif %}
                        {% if start_date %}  &nbsp;Transfer on - ( {{ start_date }} ) {% endif %}
                        {% if end_date %} ( {{ end_date}} ) , {% endif %}
                        {% if select_telecaller_emp %} &nbsp;&nbsp; HR - &nbsp; {{ select_telecaller_emp.emp_name }}  {% endif %}
                        {% if d3 %}  &nbsp;&nbsp;/ &nbsp;Allocated on - ( {{ d3 }} ) {% endif %}
                        {% if d4 %} ( {{ d4}} ) {% endif %}
                        
                    </p>
    
                </div>

                <!-------- Table Section ----->

                {% if leads %}

                <form action="" method="post">
                    {% csrf_token %}
                    
                    <div class="table-responsive">
                
                        <table class="table table-bordered" id="leadsData">
                            <thead>
                                <tr class="table-active">
                                   
                                    <th>No</th>
                                    <th> Track </th>
                                    <th> Transfer Date</th>
                                    <th>Lead Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>

                                </tr>
                            </thead>
                        
                            <tbody>
                               
                               
                            {% for lead in leads %}
                            <tr>
                                <td>{{ forloop.counter }} </td>
                                <td>

                                    <a class="small ml-2 btn btn-sm btn-outline-info fetch-lead-details"  data-lead-id="{{ lead.id }}" title="Track lead history">
                                        <span class="mdi mdi-file-find mdi-18px text-secondary">  </span> 
                                    </a>
                                    
                                </td>
                                <td class="text-center">
                                    <p class="mt-1">{{ lead.Genarated_date|date:"d-m-y"  }} -  Collected on : {{  lead.lead_Id.lead_add_date|date:"d-m-y"}}</p>
                                </td>
                                <td>
                                    <p><span class="mdi mdi-account ml-2"></span> {{ lead.lead_Id.lead_name }}</p>
                                    
                                </td>
                                <td>
                                    <p><span class="mdi mdi-email mr-1"></span>{{ lead.lead_Id.lead_email }}</p>
                                   
                                </td>
                                <td > <p><span class="mdi mdi-phone ml-2"></span> {{ lead.lead_Id.lead_contact }}</p></td>
                           
                            </tr>
                            {% endfor %}
                           
                            
                            </tbody>
                        </table>
                    </div>

                   

                    <div class=" paginationBox ">
                        <ul class="pagination">
                            {% if leads.has_previous %}
                            <li><a href="?page=1{% if Cl_ID %}&Cl_ID={{ Cl_ID }}{% endif %}{% if Ct_ID %}&Ct_ID={{ Ct_ID }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if pg_num %}&pg_num={{ pg_num }}{% endif %}{% if telecaller_emp %}&telecaller={{ telecaller_emp }}{% endif %}{% if d3 %}&wsdate={{ d3 }}{% endif %}{% if d4 %}&wedate={{ d4 }}{% endif %}{% if select_lead_ststus %}&slstatus={{ select_lead_ststus }}{% endif %}{% if fs_status %}&fs_lsta={{ fs_status }}{% endif %}"  class="btn btn-dark"><span class="mdi mdi-chevron-double-left"></span></a></li>
                            <li><a href="?page={{ leads.previous_page_number }}{% if Cl_ID %}&Cl_ID={{ Cl_ID }}{% endif %}{% if Ct_ID %}&Ct_ID={{ Ct_ID }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if pg_num %}&pg_num={{ pg_num }}{% endif %}{% if telecaller_emp %}&telecaller={{ telecaller_emp }}{% endif %}{% if d3 %}&wsdate={{ d3 }}{% endif %}{% if d4 %}&wedate={{ d4 }}{% endif %}{% if select_lead_ststus %}&slstatus={{ select_lead_ststus }}{% endif %}{% if fs_status %}&fs_lsta={{ fs_status }}{% endif %}" class="btn btn-dark"><span class="mdi mdi-chevron-left"></span></a></li>
                            {% endif %}
                            {% for num in leads.paginator.page_range %}
                                {% if num <= 4 or num == leads.paginator.num_pages or leads.number == num %}
                                    <li {% if leads.number == num %} class="active" {% endif %}>
                                        <a href="?page={{ num }}{% if Cl_ID %}&Cl_ID={{ Cl_ID }}{% endif %}{% if Ct_ID %}&Ct_ID={{ Ct_ID }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if pg_num %}&pg_num={{ pg_num }}{% endif %}{% if telecaller_emp %}&telecaller={{ telecaller_emp }}{% endif %}{% if d3 %}&wsdate={{ d3 }}{% endif %}{% if d4 %}&wedate={{ d4 }}{% endif %}{% if select_lead_ststus %}&slstatus={{ select_lead_ststus }}{% endif %}{% if fs_status %}&fs_lsta={{ fs_status }}{% endif %}" class="btn btn-dark"><span>{{ num }}</span></a></li>
                                {% endif %}
                               
                            {% endfor %}
                            {% if leads.has_next %}
                            <li><a href="?page={{ leads.next_page_number }}{% if Cl_ID %}&Cl_ID={{ Cl_ID }}{% endif %}{% if Ct_ID %}&Ct_ID={{ Ct_ID }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if pg_num %}&pg_num={{ pg_num }}{% endif %}{% if telecaller_emp %}&telecaller={{ telecaller_emp }}{% endif %}{% if d3 %}&wsdate={{ d3 }}{% endif %}{% if d4 %}&wedate={{ d4 }}{% endif %}{% if select_lead_ststus %}&slstatus={{ select_lead_ststus }}{% endif %}{% if fs_status %}&fs_lsta={{ fs_status }}{% endif %}" class="btn btn-dark"><span class="mdi mdi-chevron-right"></span></a></li>
                            <li><a href="?page={{ leads.paginator.num_pages }}{% if Cl_ID %}&Cl_ID={{ Cl_ID }}{% endif %}{% if Ct_ID %}&Ct_ID={{ Ct_ID }}{% endif %}{% if employee %}&employee={{ employee }}{% endif %}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if pg_num %}&pg_num={{ pg_num }}{% endif %}{% if telecaller_emp %}&telecaller={{ telecaller_emp }}{% endif %}{% if d3 %}&wsdate={{ d3 }}{% endif %}{% if d4 %}&wedate={{ d4 }}{% endif %}{% if select_lead_ststus %}&slstatus={{ select_lead_ststus }}{% endif %}{% if fs_status %}&fs_lsta={{ fs_status }}{% endif %}" class="btn btn-dark"><span class="mdi mdi-chevron-double-right"></span></a></li>
                            {% endif %}
                        </ul>
                    </div>

                </form>

                    

                {% else %}
        
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images\file-icons\no-data-file.png' %}">
                    </div>
        
                {% endif %}
                
                
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="activityPanel" tabindex="-1" aria-labelledby="activityPanelLable" aria-hidden="true">
    <div class="modal-dialog modal-xl" id="activityBox" >
      
    </div>
</div>



<!-------------------------------------------------->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>  
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script>
    $(document).ready(function() {
       new DataTable('#leadsData', {
           search: {
            enable: true 
           },
           columnDefs: [
           {
               orderable: false,
               className: 'check-single',
               targets: 0,
           }
       ],
       paging: false 
       
   });
  
});
</script>


<script>
    $(document).ready(function() {
        $(document).on("click", ".fetch-lead-details", function(e) {
       
            e.preventDefault();
            var leadId = $(this).data('lead-id');
            fetchLeadDetails(leadId);
        });

        function fetchLeadDetails(leadId) {
            $.ajax({
                url: '/leadActivity_Tracker/' + leadId + '/',  // URL to fetch lead data
                type: 'GET',
                success: function(response) {
                    $('#activityBox').html(response);  // Place the result in activityBox
                    $('#activityPanel').modal('show');  // Show the modal
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }
    });

</script>

<script>
    $(document).ready(function () {
        
    $("#client-change").on("change", function () {
        
        var selectedClientId = $(this).val();
      
        
        $.ajax({
            url: "{% url 'leadCategories' %}",
            type: 'GET',
            dataType: 'json',
            data: {
                client_id: selectedClientId
            },
            success: function (data) {
              
                if (data.success) {
                    
                    var leadCategorySelect = $("#lead-category");
                  
                    leadCategorySelect.empty(); 
      
                    var option = '<option value="">' + 'Select Category' + '</option>';
                    leadCategorySelect.append(option);
                    data.lead_categories.forEach(function (category) {
                        var option = '<option value="' + category.id + '">' + category.name + '</option>';
                        leadCategorySelect.append(option);
                    });

                    
                    updateTable(data.leads_data);
                    
                } else {
                    
                    console.error('Error: ' + data.message);
                }
               
            },
            error: function (xhr, status, error) {
                // Handle Ajax errors (optional)
                console.error('Ajax Error: ' + status + ' - ' + error);
            }
        });
      });

    });
</script>



{% endblock %}