{% extends 'HD_base.html' %}
{% load static %}{% load custom_filters %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Action Taken</li>
        </ol>
      </nav>
</div>



<div class="card" id="" >
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 col-lg-7 col-md-8 col-xl-10  grid-margin">
        <h4 class="card-title"> Actions Taken </h4>
      </div>
      <div class="col-sm-6 col-lg-5 col-md-4 col-xl-2  d-flex justify-content-end grid-margin">
        <button class="btn btn-outline-danger btn-icon-text" data-toggle="modal" data-target="#action-taken">
          <i class="mdi mdi-bookmark-check btn-icon-prepend"></i><span class="small">Take Action</span>
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>  Date </th>
            <th> Reason for action  </th>
            <th> Action Taken </th>
          </tr>
        </thead>
        <tbody>
          {% for act in action_taken_data %}
          <tr>
            <td>
              <a href="{% url 'head_action_takenEdit' act.id %}" class="text-decoration-none">
                <span class="mdi mdi-pencil mdi-18px text-primary"></span> {{act.action_date}}
              </a>
             </td>
            <td class="#">
              <div class="flex-grow">
                <h6 class="preview-subject text-offwhite">{{act.act_head}} ( {{act.act_emp_id.emp_name}} )</h6>
                <p class="text-muted mb-0">{{act.act_reason|tostr|split_into_paragraphs:60|safe}}</p>
              </div>
              
            </td>
            <td>
              <div> 
                <h6 class="mt-2 text-offwhite"> Taken by<span class="h6"> {{act.act_from_name}}</span> on ( {{act.action_date|default:" "}} )</h6>
                <p class="mt-2">{{act.act_content|tostr|split_into_paragraphs:60|safe}}</p>
              </div>
            </td>
          </tr>
          {% endfor %}
         
          
        </tbody>
      </table>
    </div>
  </div>
</div>




<div class="modal fade" id="action-taken">
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h4 class="card-title mt-3 ml-3">Action Taken Form </h4>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
        <div class="card-body mt-0" style="padding: 0.25rem 0.5625rem">
          <div class="row">
            <div class="col-md-12 col-xl-12 grid-margin stretch-card">
              <div class="card" id="schedule-add" >
                <div class="card-body">
                  <h5 class="card-title text-offwhite">Take Action </h5>
                  <form action="#" method="post" enctype="multipart/form-data" >
                    {% csrf_token %} 
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label>select employee</label>
                          <select class="form-control text-offwhite" name="action_employeeId" id="#" required>
                            {% for emp in employees%}
                            <option value="{{emp.id}}">{{emp.emp_name}}</option>
                            {% endfor %}
                          </select>                      
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6 col-md-6">
                        <div class="form-group">
                          <label>date</label>
                          <input type="date" class="form-control text-offwhite" name="action_taken_date" id="#" required >                    
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group">
                          <label>reason</label>
                          <input type="text" class="form-control text-offwhite" name="reason_content_head" id="#" required >                    
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group add-items">
                          <label>reason for action ? </label>
                          <textarea  class="to-do-textarea  text-offwhite" name="reason_content" id="#" placeholder="enter text.."></textarea>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group add-items">
                          <label>what action taken ? </label>
                          <textarea  class="to-do-textarea  text-offwhite" name="what_action_content" id="#" placeholder="enter text.."></textarea>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-12 col-md-12 d-flex  justify-content-center  align-items-center">       
                        <button class=" btn btn-outline-primary " type="submit"><i class="mdi mdi-file-check mdi-18px"></i>Action</button> 
                      </div>
                    </div>
                  
                    <div class="add-items d-flex justify-content-center ">
                      <button class=" btn btn-outline-secondary " type="reset">
                        <span class="mdi mdi-refresh  "></span>
                        <span class="small">Clear</span>
                      </button> 
                      <button class=" btn btn-outline-success " type="submit">
                        <span class="mdi mdi-check small"></span>
                        <span class="small">Register</span>
                      </button> 
                      <button class=" btn btn-outline-danger " data-dismiss="modal" type="button">
                          <span class="mdi mdi-close  small"></span>
                          <span class="small">Close</span>
                      </button> 
                    </div>
                  </form>  
                </div>
            </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}