{% extends 'HD_base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">

<style>

    .search-form
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.30rem;
    }
    .select-Box .select-tag,
    .search-form .input-date
    {
        padding: 0.35rem .30rem;
        background: transparent;
        border: 1px solid #909090;
        border-radius: 5px;
        font-size: 12px;
        color: #dedede;
    }
    .search-form .input-date
    {
        padding: 0.25rem .30rem;
    }
    
    .select-Box .select-tag option
    {
        background: #0d0f14;
    }
    .custom-letter-spacing
    {
        color: #dbdbdb !important;
        letter-spacing: 1px;
        font-size: 14px;
    }
    .note-p
    {
        font-size: 12px;
        color: #dbdbdb !important;
        letter-spacing: 0.70px;
    }
    @media (max-width:732px)
    {
        .search-form
        {
            display: grid;
            grid-template-columns: 1fr 1fr ;

        }
    }
</style>

<style>
    
   
  
    .table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {
     padding: 0.4375rem;
     }
     .top-h4
     {
         color: #bababa;
         font-size: 17px;
         letter-spacing: 1px;
     }
     .g-1
     {
         gap: 1rem;
     }
     #checkbox-values
     {
         opacity: 0;
     }
     /*   Data Table   */
 
     .dt-search label
     {
      display: none;
 
     }
     div.dt-container .dt-search input {
         border: 1px solid #707070;
         border-radius: 3px;
         padding: 5px;
         background-color: transparent;
         color: #a5a5a5;
         margin-left: 3px;
         font-size: 13px;
     }
 
     div.dt-container select.dt-input {
         padding: 4px 10px;
         border: 1px solid #707070;
         color: #a5a5a5;
         font-size: 13px;
         background-color: transparent;
         width: 100px;
     }
     div.dt-container select option{
         background-color: #15171f; 
     }
     div.dt-container .dt-length label
     {
         display: none;
     }
     div.dt-container .dt-info
     {
         color: #a5a5a5;
         font-size: 13px ;
     }
 
 
 
     #waste-data .lead-topBox
     {
         display: flex;
         align-items: center;
         justify-content: space-between;
     }
     #waste-data .heading h6{
         font-size: 14px;
         color: #c4c2c2;
         letter-spacing: 0.90px;
     }
     .convertion-Box
     {
         display: grid;
         grid-template-columns:1fr 1fr ;
         gap: 0.50rem;
     }
     .lead-section2
     {
         margin-top: 0.897rem;
         padding: .785rem;
         border-top: 1px solid #747373cd;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }
     .statusChange
     {
         letter-spacing: 1px;
         color: #c4c2c2;
     }
     .search-section2_2,
     .search-form
     {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         gap: 0.30rem;
     }
     .search-section2_2
     {
         display: inline-flex;
         width: calc(100% - 1%);
         overflow-x: scroll;
         margin: 0;
         padding-bottom: 0.30rem;
     }
     .select-Box .select-tag,
     .search-form .input-date
     {
         padding: 0.35rem .30rem;
         background: transparent;
         border: 1px solid #909090;
         border-radius: 5px;
         font-size: 12px;
         color: #dedede;
     }
     .search-form .input-date
     {
         padding: 0.25rem .30rem;
     }
     
     .select-Box .select-tag option
     {
         background: #0d0f14;
     }
     .table-responsive
     {
         border: 1px solid rgba(86, 85, 85, 0.827); 
         padding: 1rem;
     }
     #waste-data thead tr th{
         text-align: center;
         font-size: 13.75px;
         font-weight: 500;
     }
     #waste-data tbody tr td{
         font-size: 12px;
         font-weight: 400;
 
     }
 
     #search-section2_2::-webkit-scrollbar {
         width: 1px;
         border-radius: 10px;
     }
     
     /* For WebKit browsers (Chrome, Safari) */
     #search-section2_2::-webkit-scrollbar-track {
         background: transparent;
     }
     
     /* For WebKit browsers (Chrome, Safari) */
     #search-section2_2::-webkit-scrollbar-thumb {
         background: #04050bb5; /* Adjust scrollbar thumb color as needed */
     }
     
         
     
    
 </style>
 
 <!-- Pagination -->
 <style>
     .paginationBox-scroll
     {
         width: 100%;
     }
     .paginationBox
     {
         display: flex;
         align-items: center;
         justify-content: end;
         margin-top: 1rem;
         gap: 0.30rem;
     }
     .pagination li
     {
         margin: 0.10rem;
       
     }
     .pagination .active
     {
         border:1px solid #e3e2e2 ;
     }
     .pagination li a{
         padding: .70rem;
     }
  
 @media (max-width:732px)
 {
     .paginationBox-scroll
     {
         width:calc(100% - 1%);
         overflow-y:scroll;
     }
 }
 </style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Transfeered Leads </li>
        </ol>
      </nav>
</div>

<div class="row mt-1">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
     

                <div class="row">
                    <div class="col-sm-12 col-lg-8 col-md-8 col-xl-12  grid-margin">
                    <h5 class="card-title custom-letter-spacing"> Transferred Leads List 
                        <span class="badge badge-pill badge-outline-success ml-2">
                            <span id="check-count">{{ leads_obj_count }}</span>
                        </span>
                    </h5>
                    </div>
                    
                    
                </div>
               
                <p class="note-p">Filter based on the lead transfer date to the data manager.</p>

                  <form class="search-form" action="{% url 'head_transferred_lead' %}" method="post" >
                    {% csrf_token %}
                    <div>
                        <a href="{% url 'head_transferred_lead' %}" class="btn btn-outline-secondary">
                            <span class="mdi mdi-rotate-right"></span>
                        </a>
                    </div>
                    <div class="select-Box">
                        <select class="select-tag" name="select_val" id="select-count">
                            {% if select_val %}
                            <option value="{{select_val}}">{{select_val}}</option>
                            {% endif %}
                            <option value="Today">Today</option>
                            <option value="All">All</option>
                            
                        </select>
                    </div>

                   
                    
                    <div class="select-Box">
                        <select class="select-tag" name="select_emp" id="select-emp">
                            {% if emp %}
                            <option value="{{ emp.id }}" selected>{{ emp.emp_name }}</option>
                            {% else %}
                            <option value="">Employee</option>
                            {% endif %}
                           
                            {% for exe in executive_data %}
                                <option value="{{ exe.id }}"> {{ exe.emp_name }} </option>
                            {% endfor %}
                            
                        </select>
                    </div>
                    <div class="">
                
                        <input type="date" class="input-date" {% if date1 %} value="{{date1}}" {% endif %}  name="sdate">
                    </div>
                    <div class=" ">
                        <input type="date" class="input-date" {% if date2 %} value="{{date2}}" {% endif %}  name="edate">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-primary">
                            <span class="mdi mdi-magnify"></span>
                        </button>
                    </div>
                    
                </form>
                <hr>
        
                         
                {% if leads_obj %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="leadsData">
                        <thead>
                            <tr>
                        
                                <th>No </th>
                                <th>Transfer Date</th>
                                <th>Add On Date</th>
                                <th>Lead Full Name</th>
                                <th>Email id  </th>
                                <th>Contact No </th>
                                <th>Client </th>
                                <th>Lead Category </th>
                                
                            </tr>
                        </thead>
                        <tbody>

                        {% for lead in leads_obj %}
                            <tr>
                        
                                <td><span>{{ forloop.counter }}</span></td>
                                <td>{{ lead.lead_transfer_date }}</td>
                                <td>{{ lead.lead_add_date }}</td>
                                <td><span class="mdi mdi-account mr-1"></span>{{ lead.lead_name }}</td>
                                <td><span class="mdi mdi-email mr-1"></span>{{ lead.lead_email }}</td>
                                <td><span class="mdi mdi-phone mr-1"></span>{{ lead.lead_contact }}</td>   
                                <td>{{ lead.lead_work_regId.clientId.client_name }}</td>     
                                <td>{{ lead.lead_category_id.lead_collection_for }}</td>                       
                                
                            </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
                {% else %}
            
                <div class="d-flex justify-content-center">
                <img src="{% static 'images\file-icons\no-data-file.png' %}">
                </div>
           
            
                {% endif %}
           

           
                        
                        
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>  
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script>
    $(document).ready(function() {
       new DataTable('#leadsData', {
           search: {
            enable: true 
           },
           columnDefs: [
           {
               orderable: false,
               className: 'check-single',
               targets: 0,
           }
       ],
       paging: true 
       
   });
  
});
</script>

{% endblock %}