<div class="modal-content  ">
   
        <div class="modal-header">
            <h5 class="modal-title" id="repeatedPanelLable">Repeated Leads Details</h5>
            <button type="button" class="close btn  btn-danger" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-secondary">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            
            <div class="table-responsive">
                <table class="table table-bordered" id="">
                    <thead>
                        <tr class="table-active">
                            <th>No</th>
                            <th>Collected On</th>
                            <th>Collected By </th>
                            <th>Full Name</th> 
                            <th>Email</th>  
                            <th>Phone Number</th>    

                        </tr>
                    </thead>
                
                    <tbody>
                    
                    
                        {% for rep in repeated_leads %}
                            <tr>

                                <td >{{ forloop.counter }}</td>
                                <td >{{ rep.lead_add_date }}</td>
                                <td ><span class="mdi mdi-account "> </span> {{ rep.lead_collect_Emp_id.emp_name }}</td>
                                <td ><span class="mdi mdi-account "> </span> {{ rep.lead_name }}</td>
                                <td ><span class="mdi mdi-email"> </span> {{ rep.lead_email }}</td>
                                <td ><span class="mdi mdi-phone "> </span>{{ rep.lead_contact }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
</div>
    