{% extends 'Executive_base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}

<style>
    .bg-transparent
    {
        background: transparent;
    }
 </style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'executive_worksection' %}">Works</a></li>
            <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'executive_ongoingwork' %}">Ongoing Works</a></li>
            <li class="breadcrumb-item active text-md" aria-current="page">Daily Works</li>
        </ol>
    </nav>
</div>


<div class="row mt-1">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
            
            
                <div class="row">
                    <div class="col-sm-12 col-lg-6 col-md-6 col-xl-8  grid-margin">
                    <h5 class="card-title custom-letter-spacing"> {{ works_obj.clientId.client_name }} -  Lead List </h5>
                    
                    </div>
                    
                    <!-- <div class="col-sm-12 col-lg-6 col-md-6 col-xl-4 d-flex justify-content-end  grid-margin">
                    <div class="d-flex ">
                        <input  class="form-control text-offwhite mr-1" name="#" id="search-data" placeholder="search here..">
                        <span class="text-danger mdi mdi-close" id="closeBtn" type="button"></span> 
                    </div>
                    </div> -->
                   
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xl-2  grid-margin">
                        <div class="badge badge-pill badge-outline-info">
                            <span id="check-count">Leads -{{  leads_obj_count }}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="table-responsive">
                    <table class="table" id="leads-data">
                    <thead>
                        <tr>
                        
                            <th>No</th>
                            <th>Collected Date</th>
                            <th>Lead Full Name</th>
                            <th>Email id  </th>
                            <th>Contact No </th>
                            <th> Details  </th>
                            <th> Status </th>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in leads_obj %}
                        <tr>
                        
                        <td>{{ forloop.counter }}</td>
                        <td>{{ lead.lead_add_date }}</td>
                        <td>{{ lead.lead_name }}</td>
                        <td>{{ lead.lead_email }}</td>
                        <td>{{ lead.lead_contact }}</td>
                        <td>
                            
                            <ol>
                               
                                {% for Details in lead_Details_obj %}
                                {% if Details.leadId.id == lead.id %}
                                <li>
                                    <p>
                                        <span class="mr-1"> {{ Details.lead_field_name }} :</span>
                                        <span> {{ Details.lead_field_data }} </span>
                                    </p>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                           
                        </td>
                        <td>
                            {% if lead.lead_status == 1 %}
                            <p class=" badge badge-outline-success "> Verified</p>
                            {% else %}
                            <p class="badge badge-outline-warning">Pending</p>
                            {% endif %}
                           
                        </td>
                        
                        
                        
                        
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                    </table>
                </div>

           
            
                
                        
                        
            </div>
        </div>
    </div>
</div>


  
<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('leads-data');
    closeBtn.style.display = 'none';
  
    inputField.addEventListener('input', function() {
        filterTable();
    });
  
    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');
  
        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[6];
            const Cell7 = rows[i].getElementsByTagName('td')[7];
            
  
            if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5 || Cell6 || Cell7) {
  
                const datacell1 = Cell1.textContent || Cell1.innerText;
                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
                const datacell4 = Cell4.textContent || Cell4.innerText;
                const datacell5 = Cell5.textContent || Cell5.innerText;
                const datacell6 = Cell6.textContent || Cell6.innerText;
                const datacell7 = Cell7.textContent || Cell7.innerText;
                
                
  
                if (datacell1.toLowerCase().includes(filterValue) ||
                 datacell2.toLowerCase().includes(filterValue) || 
                 datacell3.toLowerCase().includes(filterValue) ||
                 datacell4.toLowerCase().includes(filterValue) || 
                 datacell5.toLowerCase().includes(filterValue) ||
                 datacell6.toLowerCase().includes(filterValue) ||
                 datacell7.toLowerCase().includes(filterValue)) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
  
     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });
  
    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>

{% endblock %}