{% extends 'Executive_base.html' %}
{% load static %}
{% load custom_filters %}
{% block body %}

<style>
    .bg-transparent
    {
        background: transparent;
    }
 </style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'executive_leadcategory' pk %}">Lead Category</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Lead Collection </li>
        </ol>
    </nav>
</div>


<div class="row mt-1">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
            
            
                <div class="row">
                    <div class="col-sm-12 col-lg-6 col-md-6 col-xl-8  grid-margin">
                    <h5 class="card-title custom-letter-spacing"> {{ works_obj.clientId.client_name }} -  Lead List </h5>
                    
                    </div>
                    
                    <!-- <div class="col-sm-12 col-lg-6 col-md-6 col-xl-4 d-flex justify-content-end  grid-margin">
                    <div class="d-flex ">
                        <input  class="form-control text-offwhite mr-1" name="#" id="search-data" placeholder="search here..">
                        <span class="text-danger mdi mdi-close" id="closeBtn" type="button"></span> 
                    </div>
                    </div> -->
                    
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xl-2  grid-margin">
                        <div class="badge badge-pill badge-outline-info">
                            <span id="check-count">Leads -{{  leads_obj_count }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xl-2  grid-margin">
                        <a href="#">
                            <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#singlLead">
                                <span class="mdi mdi-arrow-expand-up mr-1"></span><span class="small">Data Form</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xl-2  grid-margin">
                        <a href="{% url 'remove_duplicate_leads' task.id  lead_category_assign.id  %}">
                            <button class="btn btn-outline-success" data-toggle="tooltip" title="To check duplicates data based on email and Contact number">
                                <span class="mdi mdi-file-multiple mr-1"></span><span class="small">Remove Duplicates</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xl-2 grid-margin ">
                        <a href="{% url 'download_excelfile' task.id lead_category_assign.id %}">
                            <button class="btn btn-outline-danger" data-toggle="tooltip" title="Excel file format for data upload">
                                <span class="mdi mdi-file-excel mr-1"></span><span class="small">File Download</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xl-2  grid-margin">
                        <a href="#">
                            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#fileUpload">
                                <span class="mdi mdi-arrow-expand-up mr-1"></span><span class="small">File Upload</span>
                            </button>
                        </a>
                    </div>
                </div>
        
                <div class="table-responsive">
                    <table class="table" id="leads-data">
                    <thead>
                        <tr>
                        
                            <th>No</th>
                            <th>Collected Date</th>
                            <th>Lead Full Name</th>
                            <th>Email id  </th>
                            <th>Contact No </th>
                            <th>Lead Source</th>
                            <th> Details  </th>
                            <th> Status </th>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in leads_obj %}
                        <tr>
                        
                        <td>{{ forloop.counter }}</td>
                        <td>{{ lead.lead_add_date }}</td>
                        <td>{{ lead.lead_name }}</td>
                        <td>{{ lead.lead_email }}</td>
                        <td>{{ lead.lead_contact }}</td>
                        <td>{{ lead.lead_source }}</td>
                        <td>
                            
                            <ol>
                               
                                {% for Details in lead_Details_obj %}
                                {% if Details.leadId.id == lead.id %}
                                <li>
                                    <p>
                                        <span class="mr-1"> {{ Details.lead_field_name }} :</span>
                                        <span> {{ Details.lead_field_data }} </span>
                                    </p>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                           
                        </td>
                        <td>
                            {% if lead.lead_status == 1 %}
                            <p class=" badge badge-outline-success "> Verified</p>
                            {% else %}
                            <p class="badge badge-outline-warning">Pending</p>
                            {% endif %}
                           
                        </td>
                        
                        
                        
                        
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                    </table>
                </div>

           
            
                
                        
                        
            </div>
        </div>
    </div>
</div>

<!-- Multile Lead  Entry From Ecxel-->
<div class="modal fade" id="fileUpload">
    <div class="modal-dialog ">
      <div class="modal-content">
  
        <div class="card">
          <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
            <h4 class="card-title mt-3 ml-3">Upload Data File </h4>
            <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
          </div>
          <p class="mt-1 ml-3"> * You can upload only excel file data here</p>
          
          <div class="card-body mt-0">
  
            <form action="{% url 'executive_lead_file_upload' task.id lead_category_assign.id %}" method="post"  enctype="multipart/form-data">
             
              {% csrf_token %}
              <div class="form-group add-items mt-3">
                <label>Upload Yor Data File Here..</label>
                <input type="file" class="form-control text-offwhite" name="upload_File" accept=".xlsx" />  
              </div>
             
              <div class="add-items d-flex justify-content-center ">
                  <button class=" btn btn-outline-primary " type="submit">
                    <span class="mdi mdi-arrow-expand-up mr-1"></span><span class="small">Upload</span>
                </button> 
              </div>
          
          </form>
  
          </div>
  
        </div>
      
      </div>
    </div>
</div>


<!--  Single  lead Entry-->
<div class="modal fade" id="singlLead">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <div class="card">
          <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
            <h4 class="card-title mt-3 ml-3">Lead Details Entry </h4>
            <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
          </div>
          <p class="mt-1 ml-3"> * You can add lead data here</p>
          
          <div class="card-body mt-0">
  
            <form action="{% url 'executive_lead_add' task.id lead_category_assign.id %}" method="post"  enctype="multipart/form-data">
            
              {% csrf_token %}
              <div class="row">
                <div class="col-xl-6 col-sm-12 col-md-6 col-lg-6 grid-margin">
                    <div class="form-group add-items">
                        <label>Full Name</label>
                        <input type="text" class="form-control text-offwhite" name="leadName" accept=".xlsx" />  
                    </div>
                </div>
                <div class="col-xl-6 col-sm-12 col-md-6 col-lg-6 grid-margin">
                    <div class="form-group add-items ">
                        <label>Email id</label>
                        <input type="email" class="form-control text-offwhite bg-transparent"  name="leadEmail" required>  
                    </div>
                </div>
                <div class="col-xl-6 col-sm-12 col-md-6 col-lg-6 grid-margin">
                    <div class="form-group add-items">
                        <label>Contact Number</label>
                        <input type="tel" class="form-control text-offwhite bg-transparent" name="leadContact" pattern="[789]\d{9}" title="Please enter a valid 10-digit mobile number starting with 7, 8, or 9" required>  
                    </div>
                </div>
                <div class="col-xl-6 col-sm-12 col-md-6 col-lg-6 grid-margin">
                    <div class="form-group add-items">
                        <label>Lead Source</label>
                        <input type="text" class="form-control text-offwhite" name="leadsource">  
                    </div>
                </div>

                {% for fieldname in lf_obj %}
                <div class="col-xl-6 col-sm-12 col-md-6 col-lg-6 grid-margin">
                    <div class="form-group add-items">
                        <label>{{ fieldname.field_name  }}</label>
                        <input type="text" class="form-control text-offwhite " name="leadfield">  
                    </div>
                </div>
                {% endfor %}
              </div>
              
                
                <div class="add-items d-flex justify-content-center ">
                    <button class=" btn btn-outline-primary " type="submit">
                        <span class="mdi mdi-plus mr-1"></span><span class="small">ADD</span>
                    </button> 
                </div>

            
          
            </form>
  
          </div>
  
        </div>
      
      </div>
    </div>
</div>

  
  
{% endblock %}