<div class="modal-content activityBox">
    <div class="card">
       
        <div class="modal-header">
            <h5 class="modal-title" id="activityPanelLable">Activity Tracker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-secondary">&times;</span>
            </button>
        </div>
        <div class="modal-body card-body">

            <div class="activity-MainBox">
                <div class="activity-leftBox">
                    <div class="card">
                        <div class="card-body">
                            <h6>Lead Details </h6>
                            <div class="basic-details">
                                <p><span class="mdi mdi-account"></span><span> {{ lead.lead_name }}</span></p>
                                <p><span class="mdi mdi-email"></span><span> {{  lead.lead_email }}</span></p>
                                <p><span class="mdi mdi-phone"></span><span> {{  lead.lead_contact }}</span></p>
                            </div>
                    
                            <h6>Client Details </h6>
                            <div>
                                <p>
                                    <span class="mdi mdi-account"></span> <span> {{lead.lead_work_regId.clientId.client_name }} </span>
                                </p>
                                <p>
                                    <span class="mdi mdi-file"></span> <span> {{ lead.lead_category_id.lead_collection_for }} </span>
                                </p>
                                
                            </div>
                            <hr>
                            <h6>Lead More Details</h6>
                            <div class="lead-more-details">
                                {% for field in fields_obj %}
                                <p class="more-details">
                                    <span class="mdi mdi-file"> {{ field.lead_field_name }}</span> 
                                    <span>:</span>
                                    <span> {{ field.lead_field_data }}</span>
                                </p>
                                {% endfor %}
                                
                            </div>

                        </div>
                    </div>
                </div>
                <div class="activity-rightBox">
                    <div class="card">
                        <div class="card-body">
                            <h6>Activity Panel</h6>
                            <div class="activity-panel">
                                <div class="activity-history">
                                    
                                  
                                    <div class="history-track">
                                        {% if fd_objs %}
                                            <h5>Followup Track</h5>
                                            {% for fd in fd_objs %}
                                            <div>
                                                <div class="followup-details">
                                                    <p class="top-details">
                                                        <span>Connected On : {{ fd.response_date }}</span> <span>Contact By :  {{ fd.hr_telecaller_Id.emp_name }}</span> 
                                                    </p>
                                                    <p class="top-details">
                                                        <span>Response :{{ fd.response }}</span>
                                                        <span>Status :{{ fd.response_status }}</span>
                                                    </p>
                                                    
                                                </div>
                                            </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="mt-2" style="font-size: 11px;">No Data Avilable..</p>
                                        {% endif %}

                                        {% if fl_history %}
                                        <h5>History Track</h5>
                                        <div class="followup-history">
                                            {% for fh in fl_history %}
                                            <div class="history-div">
                                                <p class="top-details">
                                                    <span>Allocated On : {{ fh.allocated_date }}</span> <span>Allocated To :  {{ fh.hr_telecaller_Id.emp_name }}</span> 
                                                </p>
                                                <p class="top-details" >
                                                    <span>Note : {{ fh.note }}</span>
                                                    <span>Final Status : {{ fh.final_status }}</span> 
                                                </p>
                                                
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <p class="mt-2 " style="font-size:11px;">No Data Avilable..</p>
                                        {% endif %}
                                    </div>
                                    

                                    <h5>Waste Lead Reason</h5>
                                    <div class="waste-reason">
                                        <p class="waste-reason-ststus" >
                                            
                                            {% if wl_lead.Status == 1 %}
                                            <span><span class="mdi mdi-check-circle text-success"> </span> &nbsp;Data Manager   &nbsp; </span> 
                                            {% endif %}
                                            {% if wl_lead.Status == 0 %}
                                            <span><span class="mdi mdi-close-circle-outline text-danger"> &nbsp;</span> &nbsp; Head  &nbsp;  </span> 
                                            {% else %}
                                            <span><span class="mdi mdi-check-circle text-success"> &nbsp; </span> &nbsp; Head   &nbsp; </span> 
                                            {% endif %}
                                            
                                        </p>
                                        <p> {% if  wl_lead.assignto_tc_id.TC_Id.emp_name %}
                                            Marked By : {{ wl_lead.assignto_tc_id.TC_Id.emp_name}}
                                            {% endif %}
                                        </p>
                                        <p> Reason :  {{ lead.waste_data_reason }}</p>
                                    </div>
                                </div>
                                <div class="collect-history">
                                    <h5> Lead Collected By </h5>
                                    <div class="Collected-details">
                                        <p><span class="mdi mdi-account"></span><span> {{ lead.lead_collect_Emp_id.emp_name }}</span></p>
                                        <p><span class="mdi mdi-calendar"></span><span> {{ lead.lead_add_date }} </span></p>
                                        <p><span class="mdi mdi-clock"></span><span> {{ lead.lead_add_time }}</span></p>
                                    </div>
                                    {% if  wl_lead.assignto_tc_id.TC_Id.emp_name %}
                                    <hr>
                                    <h5> Lead Allocated To</h5>
                                    <div class="Collected-details">
                                        <p><span class="mdi mdi-account"></span><span> {{ wl_lead.assignto_tc_id.TC_Id.emp_name  }} </span></p>
                                        <p><span class="mdi mdi-calendar"></span><span> {{ wl_lead.assignto_tc_id.Assign_Date  }} </span></p>
                                        <p><span class="mdi mdi-clock"></span><span> {{ wl_lead.assignto_tc_id.Allocate_time  }}</span></p>
                                    </div>
                                    {% endif %}
                                    
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
            
        
        </div>
        <div class="modal-footer">
            <button type="button"   class="btn btn-primary">
                <span class="mdi mdi-printer"></span>
                <span class="small">Print  </span> 
            </button>
            <button type="button"   class="btn btn-danger">
                <span class="mdi mdi-file-pdf"></span>
                <span class="small">PDF  </span> 
            </button>
        </div>
        
    </div>
  </div>