{% extends 'AD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'admin_employees_section' %}">Employees</a></li>
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'admin_all_works' %}">Works</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Clients</li>
        </ol>
      </nav>
</div>
  
  
<div class="row">

  <div class="col-sm-4 grid-margin">
    <a href="{% url 'admin_new_clientswork' %}" class="a-hover text-white">
        <div class="card">
            <div class="card-body">
              <h5>New Clients</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">{{new_count}}</h2>
                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                  </div>
                  <h6 class="text-muted font-weight-normal mt-3">All Works and task details of new clients</h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-account-star text-primary ml-auto"></i>
                </div>
              </div>
            </div>
        </div>
    </a> 
  </div>

  <div class="col-sm-4 grid-margin">
    <a href="{% url 'admin_ongoing_clientswork' %}" class="a-hover text-white">
        <div class="card">
            <div class="card-body">
            <h5>Ongoing Clients</h5>
            <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0">{{ongoing_count}}</h2>
                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                </div>
                <h6 class="text-muted font-weight-normal mt-3">All Works and task details of  Ongoing clients</h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-account-star text-info ml-auto"></i>
                </div>
            </div>
            </div>
        </div>
    </a>
  </div>

  <div class="col-sm-4 grid-margin">
    <a href="{% url 'admin_completed_clientswork' %}" class="a-hover text-white">
        <div class="card">
        <div class="card-body">
            <h5>Completed Clients</h5>
            <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0">{{completed_count}}</h2>
                <p class="text-danger ml-2 mb-0 font-weight-medium"></p>
                </div>
                <h6 class="text-muted font-weight-normal mt-3">All Works and task details of completed clients </h6>
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg  mdi mdi-account-star text-success ml-auto"></i>
            </div>
            </div>
        </div>
        </div>
    </a>
  </div>

  

</div>
 

<style>
  a{
      text-decoration: none;
  }
  a:hover{
      text-decoration: none;
  }
</style>  
{% endblock %}