{% extends 'AD_base.html' %}
{% load static %}
{% block body %}

  
  
<div class="row">
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Departments</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">{{department_count}}</h2>
              <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Count of all active registered departments</h6>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Employees</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">{{employee_count}}</h2>
              <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Count of all active registered employees</h6>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-account-card-details text-danger ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Clients</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">{{client_count}}</h2>
              <p class="text-danger ml-2 mb-0 font-weight-medium"></p>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Count of all active registered clients</h6>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-account-multiple text-success ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>DataBank</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">{{databank_count}}</h2>
              <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Count of all leads collected by executive</h6>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-chart-areaspline text-warning ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 

<style>
  a{
      text-decoration: none;
  }
  a:hover{
      text-decoration: none;
  }
</style>  
{% endblock %}