{% extends 'TC_base.html' %}
{% load static %}
{% block body %}

<div>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active text-md" aria-current="page">current Clients</li>
      </ol>
    </nav>
</div>
<div class="container-fluid">



  <!-- <h3 class="text-center"><b style="color: rgb(158, 213, 245);text-shadow: 2px 2px 4px #000000; margin-bottom: 40px;">All Company</b></h3> -->
  <div style="overflow-x:auto;">
    <table class="table table-hover  mt-5 "
      style="border: 1px solid gray; background-color: #191c24;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <thead>
        <tr>
          <th scope="col"><b>ID</b></th>
          <th scope="col"><b>Name</b></th>
          <th scope="col"><b>Email</b></th>

          <th scope="col"><b>Contact</b></th>

          <th scope="col"><b>Action</b></th>

        </tr>
      </thead>
      <tbody>
        {% for d in data %}

        <tr>
          <td class="text-white">{{d.id}}</th>
          <td><b><a href="" class="text-white">{{d.leadId.lead_name}}</a></b></td>
          <td class="text-white">{{d.leadId.lead_email}}</td>
          <td class="text-white">{{d.leadId.lead_contact}}</td>
          <td class="text-white"><a href="" class="btn btn-danger" data-toggle="modal"
              data-target="#myModal"><b>Update</b></a></td>


        </tr>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Clients Response</h4>
              </div>
              <div class="modal-body">
                <form action="{% url 'TC_update_Clients_Response' d.id %}" method="post"  enctype="multipart/form-data">
                  {% csrf_token %} 
                  <div class="row">
                    <div class="col">
                      <p>Name</p>
                    </div>
                    <div class="col">
                      <p>: {{d.leadId.lead_name}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>Email</p>
                    </div>
                    <div class="col">
                      <p>: {{d.leadId.lead_email}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>Contact</p>
                    </div>
                    <div class="col">
                      <p>: {{d.leadId.lead_contact}}</p>
                    </div>
                  </div>
                  <select name="Response" id="" class="form-control text-white p-2" required>
                    <option value="">choose Response</option>
                    <option value="Intrest" class="text-white">Intrest</option>
                    <option value="waiting" class="text-white">Waiting</option>
                    <option value="Not intrest" class="text-white">Not intrest</option>
                  </select>
                  <!-- <input type="text" placeholder="Enter Response" class="form-control mt-3"> -->
                  <input type="text" placeholder="enter Reason" name="Reason" class="form-control mt-3 text-white" required>
                  <label style="font-size: 15px;margin-top: 5px;">Call Record*</label>
                  <input type="file" class="form-control text-offwhite" name="record" required>
                  <center><input type="submit" class="btn btn-primary mt-3"></center>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}

      </tbody>
    </table>
  </div>

</div>


{% endblock %}