{% extends 'TC_base.html' %}
{% load static %}
{% block body %}

<!-------Style Section -->
<style>
/*Pagination Styling */

  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 1rem 0.5rem;
    white-space: nowrap;
    justify-content: flex-end;
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination li a {
    border: none !important;
    color: #c9c9c9;
    font-size: 13px;
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination li:hover a {
    background: #dc1a1a !important;
    color: #f8f7f7;
  }

  #data-table_previous {
    color: #0000 !important;
  }
</style>



<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_current_clients' %}">Current Clients</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Closed Leads</li>
        </ol>
      </nav>
  </div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-lg-8 col-md-8 col-xl-9  grid-margin">
        <h6 class="card-title custom-letter-spacing"> Closed Leads List - (  <span id="check-count"> {{ leads_obj_count }} </span> )</h6>
      </div>

    </div>
    
    <div class="table-responsive">
      <table class="table  table-bordered table-hover" id="data-table">
        <thead >
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name | Email | Contact </th>
            <th scope="col" >Client Name | Lead Category</th>
            
            <th scope="col">Final Status</th>
  
            <th class="text-center"> Follow up Details</th>
            <th class="text-center"> Recall </th>
  
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
  
          <tr class="text-secondary">
            <td class="">{{ forloop.counter}}</th>
            <td>
              <p class="text-offwhite">{{d.leadId.lead_name}}</p>
              <p>{{d.leadId.lead_email}}</p>
              <p>{{d.leadId.lead_contact}}</p>
            </td>
            
            <td class="">
              <p class=""> {{d.leadId.lead_work_regId.clientId.client_name}}</p>
              <p > {{d.leadId.lead_category_id.lead_collection_for}}   </p>
            </td>
            <td class=""><p>{{d.dataBank_ID.current_status}}</p></td>
            <td class=" text-center">
              <a href="{% url 'Tc_followupDetails' d.id %}" class="btn btn-success p-2">
                <span class="mdi mdi-file-document"></span> </a>
            </td>
            <td class=" text-center">
              <a href="{% url 'hr_recallUpdate' d.id %}" class="btn btn-danger p-2">
                <span class="mdi mdi-cached "></span> </a>
            </td>
        
          </tr>
         
          {% endfor %}
  
        </tbody>
        
      </table>
    
    </div>

  </div>
</div>

  
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready(function() {
    new DataTable('#data-table');
    
});
</script>



{% endblock %}