{% extends 'TC_base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item " aria-current="page"><a class="text-underline-remove" href="{% url 'TC_current_clients' %}"> current Clients </a></li>
        <li class="breadcrumb-item active text-md" aria-current="page"> View Leads</li>
      </ol>
    </nav>
  </div>

  <div class="row mt-5">
    <div class="col-md-4 mb-4" id="card1">
      <a href="{% url 'TC_newleads' %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">




            <div class="row">
              <div class="col-md-9">

                <h4 class="card-title mb-9 fw-semibold"
                  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b>NEW LEADS</b>
                </h4>

                <p style="color: rgb(255, 255, 255,0.7);">New Assigning Leads</p>

              </div>
              <div class="col">

                <i class="icon-lg mdi mdi-account-card-details text-danger ml-auto" style="font-size: 40px;"></i>

              </div>
            </div>
          </div>
        </div>
      </a>

    </div>

    <div class="col-md-4 grid-margin" style="width: 100%;">
      <a href="{% url 'TC_ongoing_leads' id %}" style="text-decoration: none;">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              

                <h4 class="card-title mb-9 fw-semibold"><b>ON GOING LEADS</b></h4>
                <p style="color: rgb(255, 255, 255,0.7);">Currenty Working Leads</p>
              </a>


            </div>
            <div class="col">
              
                <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto" style="font-size: 40px;"></i>
             

            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
    <div class="col-md-4 grid-margin" style="width: 100%;">
      <a href="{% url 'TC_waiting_leads' id %}" style="text-decoration: none;">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              

                <h4 class="card-title mb-9 fw-semibold"><b>WAITING LEADS</b></h4>
                <p style="color: rgb(255, 255, 255,0.7);">Waiting for reason/no response</p>
              


            </div>
            <div class="col">
              
                <i class="icon-lg mdi mdi-clock-alert-outline text-warning ms-auto" style="font-size: 40px;"></i>
              

            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
    <div class="col-md-4 grid-margin" style="width: 100%;">
      <a href="{% url 'TC_rejected_leads' id %}" style="text-decoration: none;">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              

                <h4 class="card-title mb-9 fw-semibold"><b>REJECTED LEADS</b></h4>
                <p style="color: rgb(255, 255, 255,0.7);">No intrested leads</p>
              


            </div>
            <div class="col">
              
                <i class="icon-lg mdi mdi-alert-circle text-danger ms-auto" style="font-size: 40px;"></i>
              

            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
    <div class="col-md-4 grid-margin" style="width: 100%;">
      <a href="{% url 'TC_completed_leads' id %}" style="text-decoration: none;">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              

                <h4 class="card-title mb-9 fw-semibold"><b>COMPLETED LEADS</b></h4>
                <p style="color: rgb(255, 255, 255,0.7);">fully completed leads</p>
              


            </div>
            <div class="col">
              
                <i class="icon-lg mdi mdi-check-circle-outline text-success ms-auto" style="font-size: 40px;"></i>
              

            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>





</div>






{% endblock %}