{% extends 'TC_base.html' %}
{% load static %}
{% block body %}

<style>
  .bg-danger
  {
    background-color: #f50a168a !important;
    color: rgb(225, 226, 226);
  }
  .bg-warning {
    background-color: #ffca09a3 !important; 
    color: rgb(225, 226, 226);}
  .bg-danger a,  .bg-warning a{
    color: rgb(225, 226, 226);
  }
</style>

<div>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_current_clients' %}">Current Clients</a></li>
        <li class="breadcrumb-item active text-md" aria-current="page">Followup Leads</li>
      </ol>
    </nav>
</div>

<div class="card">

    <div class="card-body">
      

      <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-8 col-xl-9  grid-margin">
          <h6 class="card-title custom-letter-spacing"> Follow Up Leads List - (  <span id="check-count"> {{ leads_obj_count }} </span> )</h6>
        </div>
        
        <div class="col-sm-12 col-lg-4 col-md-4 col-xl-3 d-flex justify-content-end  grid-margin">
            <div class="d-flex ">
                <input  class="form-control text-offwhite mr-1" name="#" id="search-data" placeholder="search here..">
                <span class="text-danger mdi mdi-close" id="closeBtn" type="button"></span> 
            </div>
        </div>
        
    </div>


      <div class="table-responsive">
        <table class="table" id="table-data">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col" >Client Name \ Lead Category</th>
                  <th scope="col">Name</th>
    
                 
                  <th scope="col">Next Update Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Follow up</th>
                 
        
                </tr>
              </thead>
              <tbody>
                {% for d in data %}
                
                {% if d.Next_update_date < t_date %}
                <tr class="bg-danger" >
                  <td class="">{{forloop.counter }}</td>

                  <td class="">
                    <p class=" mt-2 mb-2"> {{d.leadId.lead_work_regId.clientId.client_name}}  </p>
                    <p> {{d.leadId.lead_category_id.lead_collection_for}} </p> 
                  </td>
                  
                  <td><a href="{% url 'Tc_followupDetails' d.leadId.id %}" class="text-offwhite mb-2">{{d.leadId.lead_name}}</a>
                    <p class=" mt-2 mb-2">{{d.leadId.lead_email}}</p>
                    <p>{{d.leadId.lead_contact}}</p>
                  </td>
                  
                  
                    
                  <td class="">{{d.Next_update_date | default:'No date available'}}</td> 

                  {% if d.Update_Action == 0 %}
                  <td><div class="badge badge-outline-success"  id="btn1"><span class="text-small">New Lead</span></div></td>
                  {% else %}
                
                    <td><div class="badge badge-outline-warning"  id="btn1"><span class="text-small">{{d.Response}}</span></div></td>
                  
                  {% endif %}
                 
        
          
    
                  <td class="text-white">
                    <a href="{% url 'Lead_FollowUp_Updates' d.id %}" class="btn btn-success" ><span class="mdi mdi-phone"></span> </a>
                  </td>
                  
        
                </tr>
                {% elif d.Next_update_date == t_date %}
                <tr class="bg-warning" >
                  <td class="">{{forloop.counter }}</td>
                  <td class="">
                    <p class=""> {{d.leadId.lead_work_regId.clientId.client_name}} </p>
                    <p > {{d.leadId.lead_category_id.lead_collection_for}} </p>  
                  </td>
                  
                  <td><a href="{% url 'Tc_followupDetails' d.leadId.id %}" class="mb-2 text-offwhite">{{d.leadId.lead_name}}</a>
                    <p class=" mt-2 mb-2">{{d.leadId.lead_email}}</p>
                    <p>{{d.leadId.lead_contact}}</p>
                  </td>
                 
                 
                    
                  <td class="">{{d.Next_update_date | default:'No date available'}}</td> 

                  {% if d.Update_Action == 0 %}
                  <td><div class="badge badge-outline-success"  id="btn1"><span class="text-small">New Lead</span></div></td>
                  {% else %}
                
                    <td><div class="badge badge-outline-secondary"  id="btn1"><span class="text-small">{{d.Response}}</span></div></td>
                  
                  {% endif %}
                 
        
    
                  <td class="text-white">
                    <a href="{% url 'Lead_FollowUp_Updates' d.id %}" class="btn btn-success" ><span class="mdi mdi-phone"></span> </a>
                  </td>
                 
        
        
                </tr>
                {% else %}
                <tr class="text-offwhite" >
                  <td class="">{{forloop.counter }}</td>
                  <td class="">
                    <p class=""> {{d.leadId.lead_work_regId.clientId.client_name}} </p>
                    <p > {{d.leadId.lead_category_id.lead_collection_for}} </span>  </p>
                  </td>
                    
                  
                  <td><a href="#" class="text-offwhite mb-2">{{d.leadId.lead_name}}</a>
                    <p class=" mt-2 mb-2">{{d.leadId.lead_email}}</p>
                    <p>{{d.leadId.lead_contact}}</p>
                  </td>
                 
                 
                  <td class="">{{d.Next_update_date | default:'No date available'}}</td> 

                  {% if d.Update_Action == 0 %}
                  <td><div class="badge badge-outline-success"  id="btn1"><span class="text-small">New Lead</span></div></td>
                  {% else %}
                
                    <td><div class="badge badge-outline-warning"  id="btn1"><span class="text-small">{{d.Response}}</span></div></td>
                  
                  {% endif %}
                 
        
                  
                  <td class="text-white">
                    <a href="{% url 'Lead_FollowUp_Updates' d.id %}" class="btn btn-success" ><span class="mdi mdi-phone"></span> </a>
                    
                  </td>
                 
                </tr>
                {% endif %}
                
                {% endfor %}
              </tbody>
            </table>
      </div>


        
             
  
    </div>
  
   
      
  </div>




  
 

  
  <script>
    var a ="{{i.id }}"
    $(document).ready(function(){
      $("#myBtn2"+a).click(function(){
      $("#myModal2"+a).modal({show:true});
    });
  
    });
  </script>
 


  <script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('table-data');
    closeBtn.style.display = 'none';
  
    inputField.addEventListener('input', function() {
        filterTable();
    });
  
    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');
  
        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[0];
            const Cell7 = rows[i].getElementsByTagName('td')[6];


            
  
            
            if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5 || Cell6 || Cell7) {
  
                const datacell1 = Cell1.textContent || Cell1.innerText;
                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
                const datacell4 = Cell4.textContent || Cell4.innerText;
                const datacell5 = Cell5.textContent || Cell5.innerText;
                const datacell6 = Cell6.textContent || Cell6.innerText;
                const datacell7 = Cell7.textContent || Cell7.innerText;
              
                
                
  
                if (datacell1.toLowerCase().includes(filterValue) ||
                 datacell2.toLowerCase().includes(filterValue) || 
                 datacell3.toLowerCase().includes(filterValue) ||
                 datacell4.toLowerCase().includes(filterValue) || 
                 datacell5.toLowerCase().includes(filterValue) ||
                 datacell6.toLowerCase().includes(filterValue) ||
                 datacell7.toLowerCase().includes(filterValue)) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }
  
     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });
  
    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>

{% endblock %}