{% extends 'TC_base.html' %}
{% load static %}
{% block body %}

<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"  rel="stylesheet" >
<link rel="stylesheet" href="{% static 'css/TeamLead/style.css' %}">



<!----------------------------------- Body Section ------------------------------------------------------------------->

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'Tc_follow_upLeads' %}">Followup Leads</a></li> 
    </ol>
  </nav>
</div>



<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
       
          <div class="form-section">
            <h6 class="card-title text-offwhite"> Followup -  ( <span id="lead-count">{{leads_obj_count}}</span>  )</h6>
              <div>
                <form action="{% url 'Tc_follow_upLeads' %}" method="post" class="search-form">
                  {% csrf_token%}
                 

                  <div class="input-groupBox">
                    <select name="pgnum" >
                      <option value="" >All</option>
                      {% if pg_num %}
                      <option value="{{pg_num}}" selected>{{pg_num}}</option>
                      {% endif %}
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="250">250</option>
                      <option value="500">500</option>
                      <option value="1000">1000</option>
                    </select>
                  </div>
                 
                  
                  <div class="input-groupBox">
                    <input type="date" name="sdate" title="Allocate From Date Picker" >
                  </div>
                  <div class="input-groupBox">
                    <input type="date" name="edate" title="Allocate To Date Picker">
                  </div>
                  <div class="input-groupBox">
                    <input type="date" name="follow_date"  title="Next Followup Date Picker">
                  </div>
                  <div class="input-groupBox">
                    <select name="status_val" >
                      <option value="">select status</option>
                      <option value="No updation">No updation</option>
                      {% for status_v in follow_obj %}
                      <option value="{{status_v.status_name}}">{{status_v.status_name}}</option>
                      {% endfor %}
                      <option value="Recalled">Recalled</option>
                      
                    </select>
                  </div>
                  
                 
                  <div class="search-box">
                    <button type="submit"><span class="mdi mdi-magnify"></span></button>
                  </div>
                </form>
              </div>
            
          </div>
    

        <div class="table-responsive">
          <table class="table table-bordered" id="leads-wastedata">
            <thead>
              <tr>
                <th> No</th>
                <th></th>
                <th> Add Date</th>
                <th> Name </th>
                <th> Email id </th>
                <th> Contact </th>
                <th>Current Response </th>
               
              </tr>
            </thead>
            <tbody id="waste-lead-body">
              {% for db_lead in dataBank_objs %}
              <tr class="clickable-row" data-href="{% url 'lead_track' db_lead.id  %}"> 
                <td>{{ forloop.counter }}</td>
                <td>
                  <a href="{% url 'Lead_FollowUp_Updates' db_lead.id %}" {% if db_lead.Next_update_date == t_date %} class="text-danger" {% else %} class="text-secondary"  {% endif %}>
                    <span class="mdi mdi-phone-forward mdi-18px"></span> 
                  </a>
                </td>
                
                <td>{{ db_lead.Assign_Date |date:"d-M-y" }}</td>
                <td><span class="mdi mdi-account pl-1"></span> {{ db_lead.leadId.lead_name}}  </span>
                  
                 </td>
                <td><span class="mdi mdi-email pl-1"></span> {{ db_lead.leadId.lead_email}}</td>
                <td><span class="mdi mdi-phone pl-1"></span> {{ db_lead.leadId.lead_contact}}</td>
                <td>
                  
                  <span class="badge badge-pill  badge-outline-secondary">
                   <span class="current-status text-offwhite" style="font-size: 11px;">  {{ db_lead.dataBank_ID.current_status }} </span> 
                  
                </td>
                
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
  $(document).ready(function() {
     new DataTable('#leads-wastedata', {
         search: {
          enable: true 
         },
         columnDefs: [
         {
             orderable: false,
             className: 'check-single',
             targets: 0,
         }
     ],
     
     
 });

});
</script>


{% endblock %}


