{% extends 'TC_base.html' %}
{% load static %}
{% block body %}
<div>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item " aria-current="page"><a class="text-underline-remove" href="{% url 'TC_current_clients' %}"> current Clients </a></li>
        <li class="breadcrumb-item active text-md" aria-current="page">Rejected Leads</li>
      </ol>
    </nav>
</div>
<div class="container-fluid">

  <div class="table-responsive">
    <table class="table" id="leave-datatable">
          <thead>
            <tr>
              <th scope="col"><b>ID</b></th>
              <th scope="col"><b>Name</b></th>
              <th scope="col"><b>Email</b></th>
    
              <th scope="col"><b>Contact</b></th>


    
              <th scope="col"><b>More</b></th>
    
            </tr>
          </thead>
          <tbody>
            {% for d in data %}
    
            <tr>
              <td class="text-white">{{d.id}}</th>
              <td><b><a href="" class="text-white">{{d.leadId.lead_name}}</a></b></td>
              <td class="text-white">{{d.leadId.lead_email}}</td>
              <td class="text-white">{{d.leadId.lead_contact}}</td>
              
                  <td class="text-white"><a href="" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModal2{{d.id}}"><b>view</b></a></td>

            </tr>
             <!--Response Modal -->
             <div class="modal fade" id="myModal2{{d.id}}" role="dialog">
              <div class="modal-dialog">
    
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title text-center">Clients Response</h4>
                    <button type="button" class="close text-danger" style="justify-content: end;" data-dismiss="modal">&times;</button>
                    
                  </div>
                  <div class="modal-body">
                    <div class="row p-2">
                      <div class="col">Response</div>
                      <div class="col">: <b>{{d.Response}}</b></div>
                    </div>
                    <div class="row p-2">
                      <div class="col">Reason</div>
                      <div class="col">: <b>{{d.Reason}}</b></div>
                    </div>
                    {% for m in more %}
                   
                    {% if m.leadId.id == d.leadId.id %}
                    <div class="row p-2">
                      <div class="col">{{m.lead_field_name}}</div>
                      <div class="col">: <b>{{m.lead_field_data}}</b></div>
                    </div>
                    {% endif %}
                    {% endfor%}

                    {% for r in record %}
                    {% if r.Record %}
                    {% if r.Leads_assignto_tc_id.id == d.id %}
                    
                    <div class="row p-2 pt-4">
                      <audio controls>
                        <source src="{{r.Record.url}}">
                      </audio>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>
                  
                
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
    
              </div>
            </div>
            <script>
              var a ="{{i.id }}"
              $(document).ready(function(){
                $("#myBtn2"+a).click(function(){
                $("#myModal2"+a).modal({show:true});
              });
            
              });
            </script>
            {% endfor %}
    
          </tbody>
        </table>
      </div>
    
</div>



{% endblock %}