{% extends 'TC_base.html' %}
{% load static %}
{% block body %}
<style>
  @media screen and (max-width: 768px){
    .badge{
      width: 100% !important;
    }

  }
</style>

<div>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_dashboard' %}">Dashboard</a></li>
    
        <li class="breadcrumb-item " aria-current="page"><a class="text-underline-remove" href="{% url 'TC_waste_leads' %}">Waste Leads</a></li>
        <li class="breadcrumb-item active text-md" aria-current="page">Waste Leads Details</li>
      </ol>
    </nav>
</div>
<div class="container-fluid">



  <!-- <h3 class="text-center"><b style="color: rgb(158, 213, 245);text-shadow: 2px 2px 4px #000000; margin-bottom: 40px;">All Company</b></h3> -->
  <div class="table-responsive">
    <table class="table" id="leave-datatable">
      <thead>
        <tr>
          <th scope="col"><b>ID</b></th>
          <!-- <th scope="col"><b>Date</b></th> -->
          <th scope="col"><b>Name</b></th>
          
          <th scope="col"><b>Email</b></th>

          <th scope="col"><b>Contact</b></th>
          <th scope="col"><b>More</b></th>
          <!-- <th scope="col"><b>Status</b></th> -->

         

        </tr>
      </thead>
      <tbody>
        {% for d in data %}

        <tr>
          <td class="text-white">{{d.id}}</th>
            <!-- <td class="text-white">{{d.Update_Date}}</td> -->
          <td><b><a href="" class="text-white">{{d.leadId.lead_name}}</a></b></td>
          <td class="text-white">{{d.leadId.lead_email}}</td>
          <td class="text-white">{{d.leadId.lead_contact}}</td>
          <td class="text-white"><a href="" class="btn btn-primary" data-toggle="modal"
            data-target="#myModal2{{d.id}}"><b>view</b></a></td>
          <!-- <td class="text-white"><a href="" class="btn btn-danger" data-toggle="modal"
              data-target="#myModal"><b>Update</b></a></td> -->
          <!-- {% if d.Response == 'Intrest' %}    
            <td><div class="badge badge-outline-success" style="width: 60%;" id="#btn1">Intrest</div></td>
          {% endif %}  
          {% if d.Response == 'waiting' %}    
            <td><div class="badge badge-outline-warning" style="width: 60%;" id="#btn1">waiting</div></td>
             
          {% endif %}  
          {% if d.Response == 'Not intrest' %}  
          <td><div class="badge badge-outline-danger" style="width: 60%;" id="#btn1">Not intrest</div></td>  
          {% endif %} -->


        </tr>
        <!--Response Modal -->
        <div class="modal fade" id="myModal2{{d.id}}" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-center">Clients More Details</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
                
              </div>
              <div class="modal-body">
                
                {% for m in more %}
                
               
                {% if m.leadId.id == d.leadId.id %}
                <div class="row p-2">
                  <div class="col">{{m.lead_field_name}}</div>
                  <div class="col">: <b>{{m.lead_field_data}}</b></div>
                </div>
                {% endif %}
                {% endfor%}

                
              </div>
              
            
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        <script>
          var a ="{{i.id }}"
          $(document).ready(function(){
            $("#myBtn"+a).click(function(){
            $("#myModal"+a).modal({show:true});
          });
        
          });
        </script>
        <script>
          var a ="{{i.id }}"
          $(document).ready(function(){
            $("#myBtn2"+a).click(function(){
            $("#myModal2"+a).modal({show:true});
          });
        
          });
        </script>
        
        {% endfor %}

      </tbody>
    </table>
  </div>

</div>


{% endblock %}