{% extends 'TC_base.html' %}
{% load static %}
{% block body %}


<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"  rel="stylesheet" >
<link rel="stylesheet" href="{% static 'css/TeamLead/style.css' %}">

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'TC_waste_leads' %}">Waste Leads </a></li> 
    </ol>
  </nav>
</div>



<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
       
          <div class="form-section">
              <h6 class="card-title text-offwhite"> Waste Leads -  ( <span id="lead-count">{{waste_objs_count}}</span>  )</h6>
              <div>
                
                <form action="{% url 'TC_waste_leads' %}" method="post" class="search-form">
                  {% csrf_token%}
                 

                  <div class="input-groupBox">
                    <select name="pgnum" >
                      <option value="" >All</option>
                      {% if pg_num %}
                      <option value="{{pg_num}}" selected>{{pg_num}}</option>
                      {% endif %}
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="250">250</option>
                      <option value="500">500</option>
                      <option value="1000">1000</option>
                    </select>
                  </div>
                 
                  
                  <div class="input-groupBox">
                    <input type="date" name="sdate" title="Waste Marked From Date Picker" >
                  </div>
                  <div class="input-groupBox">
                    <input type="date" name="edate" title="Waste Marked To Date Picker">
                  </div>
                 
                  <div class="input-groupBox">
                    <select name="status_val" >
                      <option value="">select status</option>
                      <option value="0">Pending</option>
                      <option value="1">Approved</option>
                      
                    </select>
                  </div>
                  
                 
                  <div class="search-box">
                    <button type="submit"><span class="mdi mdi-magnify"></span></button>
                  </div>
                </form>
              </div>
            
          </div>
    

        <div class="table-responsive">
          <table class="table table-bordered" id="leads-wastedata">
            <thead>
              <tr>
                <th> No</th>
                <th> Add Date</th>
                <th> Name </th>
                <th> Email id </th>
                <th> Contact </th>
                <th> Reason </th>
                <th> Status</th>
               
              </tr>
            </thead>
            <tbody id="waste-lead-body">
              {% for wd in waste_objs %}
              <tr class="clickable-row" data-href=""> 
                <td>{{ forloop.counter }}</td>
                
                <td>{{ wd.waste_marked_Date |date:"d-M-y" }}</td>
                <td><span class="mdi mdi-account pl-1"></span> {{ wd.leadId.lead_name}}  </span> </td>
                <td><span class="mdi mdi-email pl-1"></span> {{ wd.leadId.lead_email}}</td>
                <td><span class="mdi mdi-phone pl-1"></span> {{ wd.leadId.lead_contact}}</td>
                <td>
                  <span>{{ wd.reason }}</span>
                </td>
                
                <td> 
                  {% if wd.Status == 0 %}
                    <span class="badge badge-pill  badge-outline-warning">
                      <span class="current-status" style="font-size: 11px;">  Pending </span> 
                    </span>
                  {% else %}
                    <span class="badge badge-pill  badge-outline-success">
                      <span class="current-status" style="font-size: 11px;">  Approved </span> 
                    </span>
                  {% endif %} 
                      
                  
                </td>
                
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
  $(document).ready(function() {
     new DataTable('#leads-wastedata', {
         search: {
          enable: true 
         },
         columnDefs: [
         {
             orderable: false,
             className: 'check-single',
             targets: 0,
         }
     ],
     
     
 });

});
</script>


{% endblock %}
